@()(implicit lang: Lang)



@__js("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js")
@__js("/lib/angular/angular-timer.min.js") <!-- not available on CDN -->
@__js("/lib/ui-bootstrap-tpls-0.11.0.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
@__js("//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js")
@__js("//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-countries.js")
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.js")
@__js(s"/lib/bootstrapformhelpers/js/bootstrap-formhelpers-countries.%s.js".format(lang.code))
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.en-US.js")
@__js("/lib/jquery.sha256.js")
@__js("/javascripts/common.min.js")
@__js("/javascripts/app.min.js")
@__js("/javascripts/navbar.js") <!-- min.js doesn't work -->

