@()(implicit lang: Lang)

<link rel="shortcut icon" href="startup/flat-ui/images/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="startup/common-files/css/icon-font.css">
<link rel="stylesheet" href="startup/common-files/css/animations.css">
