@()(implicit lang: Lang)
@import utils.Constant._

<div class="table-responsive col-md-12">
    <h4>@Messages("fee.table")</h4>
    <table class="table table-condensed stats-table">
        <thead>
        <tr>
            <th>@Messages("open.coinType")</th>
            <th>@Messages("fee.buy")</th>
            <th>@Messages("fee.sell")</th>
            <th>@Messages("fee.deposit")</th>
            <th>@Messages("fee.withdrawal")</th>
        </tr>
        </thead>
        <tbody>
        @for(coin <- allcoins) {
        <tr>
            <td nowrap>
                <img ng-src="/image/coins/@(coin.toString.toLowerCase()).png">
                <strong><a href="/coin/@coin">@coin</a></strong>
            </td>
            <td>0.1%</td>
            <td>0.1%</td>
            <td>0</td>
            @coin match {
            case "NXT" => {<td>2 @coin</td>}
            case "DOGE" => {<td>2 @coin</td>}
            case "BTSX" => {<td>2 @coin</td>}
            case "XRP" => {<td>1 @coin</td>}
            case "CNY" => {<td>0.4%</td>}
            case x => {<td>0.0005 @coin</td>}
            }
        </tr>
        }
        </tbody>
    </table>
</div>
