@(showPromote: Boolean = false)(implicit session: Session, lang: Lang)



@if(lang.code == "zh-CN") {
<div class="footer bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-2 navbar-brand">
            <a href="/">coinport</a>
          </div>

          <div class="col-md-4">
            <ul class="bottom-links">
              <li><a href="/jobs" target="_blank">工作机会</a></li>
              <li><a href="/privacy.html" target="_blank">隐私声明</a></li>
              <li><a href="/userAgreement.html" target="_blank">服务条款</a></li>
              <!--li><a href="/support">技术支持</a></li-->
              <li><a target="_blank" href="http://blogcn.coinport.com">官方博客</a></li>
            </ul>
          </div>

          <div class="col-md-4">
              <!--<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=AX2p0XstcOuKeAyU8VhIYVICbyG6rdOP1zHQuUllULrMPuw9Ynik"></script></span>-->
          </div>

          <div class="col-md-2">
            <ul class="bottom-icons">
              <li><a href="http://weibo.com/coinport" target="_blank"><i class="fa fa-weibo"></i></a></li>
              <li><a href="http://facebook.com/coinport" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="http://twitter.com/coinportdev" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
} else {
<div class="footer bottom-menu bottom-menu-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-2 navbar-brand">
                <a href="/">coinport</a>
            </div>

            <div class="col-md-4">
                <ul class="bottom-links">
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/privacy.html">Privacy</a></li>
                    <li><a href="/userAgreement.html">Terms</a></li>
                    <!--li><a href="/support">Support</a></li-->
                    <li><a target="_blank" href="http://blog.coinport.com">Blog</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <!--<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=AX2p0XstcOuKeAyU8VhIYVICbyG6rdOP1zHQuUllULrMPuw9Ynik"></script></span>-->
            </div>

            <div class="col-md-2">
                <ul class="bottom-icons">
                    <li><a href="http://weibo.com/coinport" target="_blank"><i class="fa fa-weibo"></i></a></li>
                    <li><a href="http://facebook.com/coinport" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://twitter.com/coinportdev" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
