@(showNumOfUsers: Boolean = true)(implicit session: Session, lang: Lang)

@if(showNumOfUsers) {

<section class="content-11">
    <div class="container">
        <p class="lead"><b>200,000</b> users registered already.
        <a class="btn btn-large btn-danger" href="/register">Sign up, Today</a></p>
    </div>
</section>

}
<footer class="footer-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div><a class="brand" href="#">coinport</a></div>
            </div>
            <nav>
                <div class="col-sm-2">
                    <h6>About</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Work</h6>
                    <ul>
                        <li><a href="#">Our Portfolio</a></li>
                        <li><a href="#">Latest Work</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Stuff</h6>
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Advertise</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-sm-4">
                <h6>Follow us</h6>
                <div class="social-btns">
                    <a href="#">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                    <a href="#">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="#">
                        <div class="fui-vimeo"></div>
                        <div class="fui-vimeo"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
