@(cssFiles: Seq[String] = Nil, jsFiles: Seq[String] = Nil)(implicit lang: Lang)

<title>@Messages("title")</title>
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
@cssFiles.map {css =><link rel="stylesheet" href="@css"/>}
<link rel="icon" href="/image/favicon.png" type="image/png">

<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular-timer.min.js"></script>
<script type="text/javascript" src="/lib/ui-bootstrap-tpls-0.11.0.js"></script>
<script type="text/javascript" src="/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/lib/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrapformhelpers/js/bootstrap-formhelpers-countries.js"></script>
<script type="text/javascript" src="/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.js"></script>
<script type="text/javascript" src="/lib/bootstrapformhelpers/js/bootstrap-formhelpers-countries.@(lang.code).js"></script>
<script type="text/javascript" src="/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.@(lang.code).js"></script>
<script type="text/javascript" src="/lib/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/lib/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/lib/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/lib/jquery.sha256.js"></script>
<script type="text/javascript" src="/js/messages.@(lang.code).js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
@jsFiles.map {js=><script type="text/javascript" src="@js"></script>}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9e68a2c3167a62fbc538135dc864cad9";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
