@(index: String = "", includeSiteNotification: Boolean = true)(implicit session: Session, lang: Lang)
@import utils.Constant._

@if(includeSiteNotification) {
    @__site_notification()
}

@isLogin() = @{session.get("uid").isDefined}

@menu(route: String, link: String, title: String, noLoginNeeded: Boolean = true, hide: Boolean = false) = {
    @if(noLoginNeeded || session.get("uid").isDefined) {
    <li @if(index==route){class="active"}> <a href=@link>@title</a> </li>
    }
}

<header class="header-3">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/"><img src="/image/logo.png" width="50" height="50" alt="">@Messages("nav.brand")<sup>preview</sup></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        @menu("trade", "/trade", Messages("nav.trade"))
                        @menu("account", "/account", Messages("nav.account"), false)
                        @menu("openness", "/open#/reserve", Messages("nav.open"))
                    @if(isLogin()) {
                        <li> <a href="/account/logout" class="log-out-in">@Messages("nav.logout")</a> </li>
                    }
                    @if(!isLogin()) {
                        <li @if(index=="login"){class="active"}> <a href="/login" class="log-out-in">@Messages("nav.login")</a> </li>
                    }
                    </ul>
                    @if(!isLogin()) {
                     <form class="navbar-form pull-left">
                        <a class="btn btn-primary" href="/register">@Messages("nav.register")</a>
                    </form>
                    }
                </div>
            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>
