@(index: Int, fix: Boolean = false)(implicit session: Session, lang: Lang)
@import utils.Constant._

    @session.get("uid") match {
        case Some(uid: String) => {
            <span ng-show="false" ng-init="isLogin=true"></span>
            <span ng-show="false" ng-init="uid=@uid"></span>
            <span ng-show="false" ng-init="username='@(session.get("username"))'"></span>
        }
        case None => {
            <span ng-show="false" ng-init="isLogin=false"></span>
        }
    }
    <header class="header-3">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/"><img src="image/logo.png" width="50" height="50" alt="">@Messages("nav.brand")</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li @if(index==0){class="active"}><a href="/">@Messages("nav.home")</a> </li>

                        <li  ng-show="isLogin"  class="@if(index==1){active}">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">@Messages("nav.trade") <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @for(market <- markets) {<li><a href="/trade#/@market">@market</a></li> }
                            </ul>
                        </li>

                        <li class="@if(index==3){active}">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">@Messages("nav.market") <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @for(market <- markets) {<li><a href="/market#/@market">@market</a></li> }
                            </ul>
                        </li>

                        <li ng-show="isLogin" @if(index==2) {class="active"}> <a href="/account">@Messages("nav.account")</a> </li>

                        <li @if(index==4){class="active"}> <a href="/open#/about/@(lang.code)">@Messages("nav.open")</a> </li>

                        <li ng-show="isLogin"> <a class="user" href="/user/{{uid}}"><span><i class="fa fa-user"></i><span ng-bind="username"></span></span></a> </li>
                        <li ng-show="isLogin"> <a href="/account/logout" class="">@Messages("nav.logout")</a> </li>
                        <li ng-show="!isLogin"> <a href="/login">@Messages("nav.login")</a> </li>
                    </ul>
                     <form class="navbar-form pull-left">
                        <a ng-show="!isLogin" class="btn btn-primary" href="/register">@Messages("nav.register")</a>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>
<!--
<div class="container" ng-controller="AlertCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.ntype.toLowerCase()}}" close="closeAlert($index)"><strong ng-bind="alert.title"></strong> <span ng-bind="alert.content"></span></alert>
</div>
-->
