@(index: String = "", includeSiteNotification: Boolean = true)(implicit session: Session, lang: Lang)
@import utils.Constant._

@if(includeSiteNotification) {
    @__site_notification()
}

@isLogin() = @{session.get("uid").isDefined}
@username = @{session.get("username").getOrElse("")}

@menu(route: String, link: String, title: String, noLoginNeeded: Boolean = true, hide: Boolean = false) = {
    @if(noLoginNeeded || session.get("uid").isDefined) {
    <li @if(index==route){class="active"}> <a href=@link>@title</a> </li>
    }
}

<header class="header-3">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/"><img src="/image/logo.png" width="50" height="50" alt="">@Messages("nav.brand")<sup>beta</sup></a>
                </div>

                <div class="navbar-header pull-right">
                    <ul class="nav-lang-ul">
                        <li><a href="/changelocale/zh-CN"><img src="/image/icons/cn.png" alt="简体中文"/></a></li>
                        <li><a href="/changelocale/en-US"><img src="/image/icons/us.png" alt="English"/></a></li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        @menu("trade", "/trade", Messages("nav.trade"))
                        @menu("openness", "/open", Messages("nav.open"))
                        @menu("account", "/account", Messages("nav.account"), false)
                    @if(!isLogin()) {
                        <li @if(index=="login"){class="active"}> <a href="/login" class="log-out-in">@Messages("nav.login")</a> </li>
                    } else {
                        <li><a href="/account/logout" class="log-out-in">@Messages("nav.logout")</a></li>
                    }
                    </ul>
                    @if(!isLogin()) {
                     <form class="navbar-form pull-left">
                        <a class="btn btn-danger" href="/register">@Messages("nav.register")</a>
                    </form>
                    }

                </div>

                <!-- <div class="navbar-header pull-left nav-lang-select-div">
                <select class="nav-lang-select" onchange="if (this.value) window.location.href=this.value">
                <option @if(lang.code == "en-US") {selected="selected"} value="/changelocale/en-US">English</option>
                <option @if(lang.code == "zh-CN") {selected="selected"} value="/changelocale/zh-CN">简体中文</option>
                </select>
                </div> -->

            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>
