@(ngApp: String, navIndex: Int, cssFiles: Seq[String] = Nil, jsFiles: Seq[String] = Nil, title: String = "coinport")(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    @__imports(cssFiles, jsFiles)
</head>

<body ng-app="coinport.@ngApp">
@__nojs()
<div id="top-container">
@if(navIndex >=0) {@__navbar(navIndex)}
<div id="body-container">
<!-- CONTENT START -->
