@()(implicit lang: Lang)


@__js("/lib/angular/angular.min.js")
@__js("/lib/angular/angular-route.min.js")
@__js("/lib/angular/angular-resource.min.js")
@__js("/lib/angular/angular-cookies.min.js")
@__js("/lib/angular/angular-animate.min.js")
@__js("/lib/angular/angular-timer.min.js") <!-- not available on CDN -->
@__js("/lib/ui-bootstrap-tpls-0.11.0.js")


<script src="/lib/jquery-2.1.1.min.js"></script>
<script src="/lib/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/startup/common-files/js/modernizr.custom.js"></script>
<script src="/startup/common-files/js/page-transitions.js"></script>
<script src="/startup/common-files/js/easing.min.js"></script>
<script src="/startup/common-files/js/jquery.svg.js"></script>
<script src="/startup/common-files/js/jquery.svganim.js"></script>
<script src="/startup/common-files/js/jquery.parallax.min.js"></script>
<script src="/startup/common-files/js/startup-kit.js"></script>

@__js("/lib/boststrapformhelpers/js/bootstrap-formhelpers-countries.js")
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.js")
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-countries.%s.js".format(lang.code))
@__js("/lib/bootstrapformhelpers/js/bootstrap-formhelpers-phone.en-US.js")
@__js("/lib/jquery.sha256.js")
@__js("/javascripts/common.js")
@__js("/javascripts/app.js")
@__js("/javascripts/navbar.js") <!-- min.js doesn't work -->
