@()(implicit lang: Lang)


<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery-ui/ui/jquery-ui.js"></script>
<script src="/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="/vendor/jquery-tags-input/jquery.tagsinput.js"></script>
<script src="/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="/vendor/bootstrap-switch/static/js/bootstrap-switch.js"></script>
<script src="/vendor/holderjs/holder.js"></script>
<script src="/vendor/typeahead.js/dist/typeahead.js"></script>

<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-route/angular-route.min.js"></script>
<script src="/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/vendor/angular-flexslider/angular-flexslider.js"></script>

<script src="/lib/angular/angular-cookies.min.js"></script>
<script src="/lib/angular/angular-animate.min.js"></script>
<script src="/lib/angular/angular-timer.min.js"></script> <!-- not available on CDN -->
<script src="/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-countries.js"></script>
<script src="/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-countries.@(lang.code).js"></script>
<script src="/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-phone.js"></script>
<script src="/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-phone.en-US.js"></script>
<script src="/lib/ui-bootstrap-tpls-0.11.0.js"></script>

<script src="/startup/flat-ui/js/flatui-checkbox.js"></script>
<script src="/startup/flat-ui/js/flatui-radio.js"></script>
<script src="/startup/flat-ui/js/flatui-fileinput.js"></script>

<script src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/startup/common-files/js/modernizr.custom.js"></script>
<script src="/startup/common-files/js/page-transitions.js"></script>
<script src="/startup/common-files/js/easing.min.js"></script>
<script src="/startup/common-files/js/jquery.svg.js"></script>
<script src="/startup/common-files/js/jquery.svganim.js"></script>
<script src="/startup/common-files/js/jquery.parallax.min.js"></script>
<script src="/startup/common-files/js/startup-kit.js"></script>

<script src="/lib/jquery.sha256.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/navbar.js"></script>
