@()(implicit lang: Lang)

@__js("/vendor/jquery/jquery.min.js")
@__js("/vendor/jquery-ui/ui/jquery-ui.js")
@__js("/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
@__js("/vendor/jquery-tags-input/jquery.tagsinput.js")
@__js("/vendor/jquery-placeholder/jquery.placeholder.js")
@__js("/vendor/bootstrap/dist/js/bootstrap.min.js")
@__js("/vendor/bootstrap-select/bootstrap-select.js")
@__js("/vendor/bootstrap-switch/static/js/bootstrap-switch.js")
@__js("/vendor/holderjs/holder.js")
@__js("/vendor/typeahead.js/dist/typeahead.js")

@__js("/vendor/angular/angular.js")
@__js("/vendor/angular-route/angular-route.min.js")
@__js("/vendor/angular-resource/angular-resource.min.js")
@__js("/vendor/angular-flexslider/angular-flexslider.js")

@__js("/lib/angular/angular-cookies.min.js")
@__js("/lib/angular/angular-animate.min.js")
@__js("/lib/angular/angular-timer.min.js") <!-- not available on CDN -->
@__js("/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-countries.js")
@__js("/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-countries.%s.js".format(lang.code))
@__js("/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-phone.js")
@__js("/lib/BootstrapFormHelpers/js/bootstrap-formhelpers-phone.en-US.js")
@__js("/lib/ui-bootstrap-tpls-0.11.0.js")

@__js("/startup/flat-ui/js/flatui-checkbox.js")
@__js("/startup/flat-ui/js/flatui-radio.js")
@__js("/startup/flat-ui/js/flatui-fileinput.js")

@__js("/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js")
@__js("/startup/common-files/js/modernizr.custom.js")
@__js("/startup/common-files/js/page-transitions.js")
@__js("/startup/common-files/js/easing.min.js")
@__js("/startup/common-files/js/jquery.svg.js")
@__js("/startup/common-files/js/jquery.svganim.js")
@__js("/startup/common-files/js/jquery.parallax.min.js")
@__js("/startup/common-files/js/startup-kit.js")

@__js("/lib/jquery.sha256.js")
@__js("/javascripts/common.js")
@__js("/javascripts/app.js")
@__js("/javascripts/navbar.js")