@()(implicit session: Session, lang: Lang)

<div class="row" ng-show="showChangePwdDiv" ng-init="showChangePwdDiv=false;">
    <div class="col-md-10 account-settings">
        <h3>@Messages("accountsettings.changepwd.title")</h3>
        <form class="form-horizontal" name="changePwdForm">
            <div class="form-group">
                <label for="oldPassword" class="col-md-3 control-label"><font color="red">*</font>&nbsp;@Messages("accountsettings.changepwd.currPwd")</label>
                <div class="col-md-6">
                    <input type="password" id="oldPassword" name="oldPassword"
                           class="form-control" ng-model="changepwd.oldPassword" required=""/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-md-3 control-label"><font color="red">*</font>&nbsp;@Messages("accountsettings.changepwd.newPwd")</label>
                <div class="col-md-6">
                    <input name="inputPassword" type="password" id="inputPassword"
                           class="form-control" ng-model="changepwd.newPassword"
                           ng-minlength="6" ng-maxlength="30" required=""/>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-md-3 control-label"><font color="red">*</font>&nbsp;@Messages("accountsettings.changepwd.repeat")</label>
                <div class="col-md-6">
                    <input name="confirmPassword" type="password" id="confirmPassword"
                           class="form-control" repeat-input="inputPassword" ng-model="changepwd.confirmPassword" required=""/>
                </div>
            </div>

            <div class="error-container col-md-offset-3">
                <div class="error" name="oldPwdMsg" ng-show="changePwdForm.oldPassword.$dirty && changePwdForm.oldPassword.$invalid && !changePwdForm.oldPassword.$focused">
                    <small class="text-danger text-center" ng-show="changePwdForm.oldPassword.$error.required">@Messages("accountsettings.changepwd.oldpwd.required") </small>
                </div>
                <div class="error" name="pwdErrorMsg" ng-show="changePwdForm.inputPassword.$dirty && changePwdForm.inputPassword.$invalid && !changePwdForm.inputPassword.$focused">
                    <small class="text-danger text-center" ng-show="changePwdForm.inputPassword.$error.minlength">@Messages("register.password.error.minlength")</small>
                    <small class="text-danger text-center" ng-show="changePwdForm.inputPassword.$error.maxlength">@Messages("register.password.error.maxlength")</small>
                </div>
                <div class="error" name="confirmpwdErrorMsg" ng-show="changePwdForm.confirmPassword.$dirty && changePwdForm.confirmPassword.$invalid && !changePwdForm.confirmPassword.$focused">
                    <small class="text-danger text-center" ng-show="changePwdForm.confirmPassword.$error.repeat">@Messages("register.password.error.confirm")</small>
                </div>
            </div>
            <div class="row col-md-offset-3 col-md-7" style="margin-bottom: 10px;">
                <span class="text-danger text-center" ng-show="showChangePwdError" ng-bind="changePwdErrorMessage"></span>
            </div>
            <div style="height: 15px"/>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-3">
                    <button class="btn btn-block btn-lg btn-primary" ng-click="doChangePassword()" ng-disabled="changePwdForm.$invalid">@(Messages("ok"))</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-block btn-lg btn-primary" ng-click="showChangePwdDiv = false; showMainDiv = true;">@(Messages("cancel"))</button>
                </div>
            </div>
        </form>
    </div>
</div>
