@()(implicit session: Session, lang: Lang)
@import utils.PageUtil
@import utils.Constant

<div class="row account-sec-settings" ng-show="showMainDiv" ng-init="showMainDiv = true;">
    <div class="col-md-8">
        <h3>@Messages("accountsettings.sub.secure")</h3>

        <div class="row" style="margin-left: 0px; margin-right: 0px;">
        @if(lang.code == "zh-CN") {
            <alert class="col-md-12">
            币丰港提供邮箱验证，双重认证，为确保您的资金安全，建议开通双重认证。 <br/>
            有鉴于手机短信接收的不稳定性，我们采取邮件的形式发送验证码。<br/>
            请在完成安全设置后再充值或提现资金
            </alert>
        } else {
            <alert class="col-md-12">
             Coinport send verification code via your register Email.<br/>
             For additional security, please enable Google authenticator.
            </alert>
        }
        </div>

        <div class="row" style="height: 10px;"> </div>

        <div class="row sec-ok">
            <div class="col-md-4 content-div"><img src="image/icons/ok.png" />&nbsp;<strong>@Messages("accountsettings.sec.loginpassword")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.loginpwdTips")</div>
            <div class="col-md-2 content-div"><a ng-click="gotoChangePwd()">@Messages("accountsettings.sec.btn.change")</a></div>
        </div>

        <div class="row sec-ok">
            <div class="col-md-4 content-div"><img src="image/icons/ok.png" />&nbsp;<strong>@Messages("accountsettings.sec.emailVerify")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.emailTip")&nbsp; @PageUtil.encryptEmail(session.get("username"))</div>
            <div class="col-md-2 content-div"></div>
        </div>

        <!-- <div class="row sec-ok">
        <div class="col-md-3 content-div">@Messages("accountsettings.sec.mobileBind")</div>
        <div class="col-md-7 content-div">@Messages("accountsettings.sec.mobile")</div>
        <div class="col-md-2 content-div"><a ng-click="showMainDiv = false; showChangePwdDiv = true;">Modify</a></div>
        </div> -->

        @if(session.get(Constant.cookieGoogleAuthSecret).getOrElse("").trim.nonEmpty) {
        <div class="row sec-ok">
            <div class="col-md-4 content-div"><img src="image/icons/ok.png" />&nbsp;<strong>@Messages("accountsettings.sec.doubleauth")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.doubleAuthInfoSet")</div>
            <div class="col-md-2 content-div"><a href="#/googleauth">@Messages("accountsettings.sec.doubleauth.modify")</a></div>
        </div>
        } else {
        <div class="row sec-warn">
            <div class="col-md-4 content-div"><img src="image/icons/warn.png" />&nbsp;<strong>@Messages("accountsettings.sec.doubleauth")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.doubleAuthInfoNotSet")</div>
            <div class="col-md-2 content-div"><a href="#/googleauth">@Messages("accountsettings.sec.btn.set")</a></div>
        </div>
        }

    </div>
</div>
