@()(implicit session: Session, lang: Lang)
@import utils.PageUtil
@import utils.Constant

<div class="row account-sec-settings" ng-show="showMainDiv" ng-init="showMainDiv = true;">
    <div class="col-md-8">
        <h3>@Messages("accountsettings.sub.secure")</h3>

        <div class="row" style="margin-left: 0px; margin-right: 0px;">
        @if(lang.code == "zh-CN") {
            <alert class="col-md-12">
            对于特定的账户操作，币丰港将要求您提供验证码。我们将通过邮件方式发送验证码，验证码的过期时间为30分钟。
            我们同时提供基于谷歌Authenticator的双重验证。鉴于邮件的安全级别较低，我们建议所有用户开通双重验证。
            开通双重验证后，对于同样地账户操作，我们在要求邮件验证的同时，将额外要求您提供谷歌Authenticator的二次验证。<br/>
            我们强烈建议您请尽可能在完成安全设置后再充值或提现资金。
            </alert>
        } else {
            <alert class="col-md-12">
             For certain account operations, Coinport Exchange requires you to provide a verification code to proceed.
             We will send you a one-time verificaiton code using registration email, the verfication code will be valid for 30 minutes.
             Coinport also supports Google Authenticator. After you enable this feature, for the same account operations,
             we will additionally require you to provide a dynamic code from your Google Authenticator for better security.<br/>
             We strongly suggest you to enable Google Authenticator and other security features before any account operation.
            </alert>
        }
        </div>

        <div class="row" style="height: 10px;"> </div>

        <div class="row sec-ok">
            <div class="col-md-4 content-div"><i class="fa fa-check-square-o fa-2x"></i><strong>@Messages("accountsettings.sec.loginpassword")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.loginpwdTips")</div>
            <div class="col-md-2 content-div"><a ng-click="gotoChangePwd()">@Messages("accountsettings.sec.btn.change")</a></div>
        </div>

        <div class="row sec-ok">
            <div class="col-md-4 content-div"><i class="fa fa-check-square-o fa-2x"></i><strong>@Messages("accountsettings.sec.emailVerify")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.emailTip")&nbsp; @PageUtil.encryptEmail(session.get("username"))</div>
            <div class="col-md-2 content-div">
                @if("1".equals(session.get(Constant.securityPreference).getOrElse("").trim) || "11".equals(session.get(Constant.securityPreference).getOrElse("").trim)) {
                <div ng-show="emailVerOn" ng-init="emailVerOn = true;"><img src="/image/icons/switch-on.png" ng-click="emailVerOn = !emailVerOn" /></div>
                <div ng-show="!emailVerOn"><img src="/image/icons/switch-off.png" ng-click="emailVerOn = !emailVerOn"/></div>
                } else {
                <div ng-show="!emailVerOn" ng-init="emailVerOn = false;"><img src="/image/icons/switch-off.png" ng-click="emailVerOn = !emailVerOn"/></div>
                <div ng-show="emailVerOn"><img src="/image/icons/switch-on.png" ng-click="emailVerOn = !emailVerOn" /></div>
                }
            </div>
        </div>

        <!-- <div class="row sec-ok">
        <div class="col-md-3 content-div">@Messages("accountsettings.sec.mobileBind")</div>
        <div class="col-md-7 content-div">@Messages("accountsettings.sec.mobile")</div>
        <div class="col-md-2 content-div"><a ng-click="showMainDiv = false; showChangePwdDiv = true;">Modify</a></div>
        </div> -->

        @if(session.get(Constant.cookieNameMobile).getOrElse("").trim.nonEmpty) {
        <div class="row sec-ok">
            <div class="col-md-4 content-div"><i class="fa fa-check-square-o fa-2x"></i>&nbsp;<strong>@Messages("accountsettings.sec.mobile")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.mobileSetHint")&nbsp; @PageUtil.encryptMobile(session.get(Constant.cookieNameMobile)) &nbsp; &nbsp;<a ng-click="gotoMobileBind()">@Messages("accountsettings.sec.btn.modify")</a></div>
            <div class="col-md-2 content-div">
                @if("10".equals(session.get(Constant.securityPreference).getOrElse("").trim) || "11".equals(session.get(Constant.securityPreference).getOrElse("").trim)) {
                <div ng-show="mobileVerOn" ng-init="mobileVerOn = true;"><img src="/image/icons/switch-on.png" ng-click="mobileVerOn = !mobileVerOn" /></div>
                <div ng-show="!mobileVerOn"><img src="/image/icons/switch-off.png" ng-click="mobileVerOn = !mobileVerOn"/></div>
                } else {
                <div ng-show="!mobileVerOn" ng-init="mobileVerOn = false;"><img src="/image/icons/switch-off.png" ng-click="mobileVerOn = !mobileVerOn"/></div>
                <div ng-show="mobileVerOn"><img src="/image/icons/switch-on.png" ng-click="mobileVerOn = !mobileVerOn" /></div>
                }
            </div>
        </div>
        } else {
        <div class="row sec-warn">
            <div class="col-md-4 content-div"><i class="fa fa-warning fa-2x     ">&nbsp;<strong>@Messages("accountsettings.sec.mobile")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.mobileNoeSetHint")</div>
            <div class="col-md-2 content-div"><a ng-click="gotoMobileBind()">@Messages("accountsettings.sec.btn.set")</a></div>
        </div>
        }

        @if(session.get(Constant.cookieGoogleAuthSecret).getOrElse("").trim.nonEmpty) {
        <div class="row sec-ok">
            <div class="col-md-4 content-div"><i class="fa fa-check-square-o fa-2x"></i><strong>@Messages("accountsettings.sec.doubleauth")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.doubleAuthInfoSet")</div>
            <div class="col-md-2 content-div"><a href="#/googleauth">@Messages("accountsettings.sec.doubleauth.modify")</a></div>
        </div>
        } else {
        <div class="row sec-warn">
            <div class="col-md-4 content-div"><i class="fa fa-warning fa-2x     "></i><strong>@Messages("accountsettings.sec.doubleauth")</strong></div>
            <div class="col-md-6 content-div content-div-middle">@Messages("accountsettings.sec.doubleAuthInfoNotSet")</div>
            <div class="col-md-2 content-div"><a href="#/googleauth">@Messages("accountsettings.sec.btn.set")</a></div>
        </div>
        }

    </div>
</div>
