@()(implicit lang: Lang)
@import utils.Constant._

<script type="text/ng-template" id="addBankCardContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">@Messages("transfer.addBankCard")</h4>
        <span class="red"> @Messages("transfer.addBankCardWarn") </span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="addBankCardForm" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    <h6>@Messages("transfer.ownerName")</h6>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.ownerName"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    <h6>@Messages("transfer.cardNumber")</h6>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.cardNumber"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    <h6>@Messages("transfer.bankName")</h6>
                </label>

                <div class="btn-group col-sm-6">
                  <button type="button" class="btn btn-default" ng-bind="form.bankName" style="width:80%"></button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu bank-sel" role="menu">
                    <li ng-repeat="bankName in form.banks"><a href="javascript:void(0);" ng-click="selectBank(bankName)">{{bankName}}</a></li>
                  </ul>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    <h6>@Messages("transfer.branchBankName")</h6>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.branchBankName"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    <h6>@Messages("accountsettings.emailVerifyCode")</h6>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.emailCode"></input>
                </div>
                <button class="btn btn-default side-btn"> @Messages("accountprofile.getEmailVerifyCode")</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@Messages("cancel")</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">@Messages("ok")</button>
    </div>
</script>
