@()(implicit lang: Lang)
@import utils.Constant._

<script type="text/ng-template" id="deleteBankCardContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">@Messages("transfer.deleteBankCard")</h4>
    </div>
    <div class="modal-body form-horizontal">
        <span> <strong>@Messages("transfer.ownerName"):</strong> </span>
        <span ng-bind="form.ownerName"></span>
        <br>
        <span> <strong>@Messages("transfer.cardNumber"):</strong> </span>
        <span ng-bind="form.cardNumber"> </span>
        <br>
        <span> <strong>@Messages("transfer.bankName"):</strong> </span>
        <span ng-bind="form.bankName"> </span>
        <br>
        <span> <strong>@Messages("transfer.branchBankName"):</strong> </span>
        <span ng-bind="form.branchBankName"> </span>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@Messages("cancel")</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">@Messages("ok")</button>
    </div>
</script>
