@()(implicit session: Session, lang: Lang)

<section class="content-9">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Privacy and Security</h3>

                <p>At Coinport, we take user privacy and data security very seriously; and we believe privacy and security can co-exist beautifully.
                </p>

                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>User Privacy</h6>
                        All data that can be used to identify a user in the real world are encrypted and well protected. This ensures the anonymity of our open-data, similiar to cryptocurrency public ledgers.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Security</h6>
                        All data are encrypted using AES before being persisted; passwords are hashed in the browser first then hashed again on server using Bcrypt algorithm. We keep multiple copy of all data and perform regular backups.
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                <img src="/startup/common-files/icons/Shield@@2x.png" width="300" height="300" alt="">
            </div>
        </div>
    </div>
</section>