@()(implicit session: Session, lang: Lang)
<section class="content-16 v-center">
@if(lang.code == "zh-CN") {
    <div>
        <div class="container">
            <h3>将透明进行到底</h3>

            <p class="lead"><br/>币丰港提供给您与去中心化交易所一样的透明性，<br/>同时保证您个人隐私信息的安全。</p>
            <p class="lead">
                <a href="/register"><strong>现在注册</strong></a>，就有机会<a target="_blank" href="http://blogcn.coinport.com/?page_id=19"><strong>赢取大奖</strong>.</a>
            </p>

        </div>
    </div>
} else {
    <div>
        <div class="container">
            <h3>Transparent and Trustworthy</h3>

            <p class="lead"><br/>Coinport Exchange offers the same level of openness and transparency as decentralized exchanges, </br>
            and in the meanwhile keeps all your private data secure.</p>
            <p class="lead">
                <a href="/register"><strong>Sign up now</strong></a> to win <a target="_blank" href="http://blog.coinport.com/?page_id=9"><strong>big rewards</strong>.</a>
            </p>

        </div>
    </div>
}
    <a class="control-btn" href="#"><i class="fa fa-chevron-down"></i></a>
</section>