@()(implicit session: Session, lang: Lang)

<section class="header-3-sub">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Our Full Openness Policies guarantee exceptional transparency.</h3>
                <p>Coinport Exchange is the world's first crytocurrency exchange that features complete transparency by implementing our Full Openness Policies: open-source, open-data, and provable 100% reserve.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row features">
            <div class="col-sm-4 text-center">
                <a href="/open#/opensource">
                    <i class="fa fa-github-alt fa-5x color-pomegranate"></i>
                    <h6 class="color-belize-hole">Open-Sourced</h6>
                </a>

                <p class="text-left">Our matching engine will be opensourced on github. Visit our public repository to verify our matching code, and feel free to clone it. Coinport Exchange allows clients to have insight to all the internals.</p>
            </div>
            <div class="col-sm-4 text-center">
                 <a href="/open#/opendata">
                    <i class="fa fa-cubes on fa-circle fa-5x color-orange"></i>
                    <h6 class="color-belize-hole">Open-Data</h6>
                </a>

                <p class="text-left">All data (except user privacy) are open for browsing and downloading. All orders, transactions, deposits, withdrawals, balances, addresses of our hot/cold wallets are accessible. Our clients see all the details as well as the big picture.</p>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/open#/reserve">
                    <i class="fa fa-anchor fa-5x color-belize-hole"></i>
                    <h6 class="color-belize-hole">Provable 100% Reserve</h6>
                <a>
                <p class="text-left">We keep all your asset uninvested. Still wishing for a Merkle-tree based proof of reserve? We give you more - every 30 minutes we offer our clients all new events and system snapshots. You can verify our reserve claims yourself using simple maths.</p>
            </div>
        </div>
    </div>
</section>