@()(implicit session: Session, lang: Lang)

<section class="contacts-3" ng-show="true">
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5">
                <h3>Get in touch with us</h3>
                <p>We love to know what our users think about us, please feel free to contact us.</p>
                <div class="links">
                    <!--a href="#"><span class="fui-phone"></span> +186 15510000000</a><br-->
                    <a href="mailto:feedback@@coinport.com"><span class="fui-mail"></span> feedback@@coinport.com</a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h3>Where to find us</h3>
                <p><a href="/company">Coinport Technology Limited</a> is registered in Hong Kong, fully owned by <a href="/company">Coinport Inc</a> of Cayman Islands. Our engineering teams are located in Silicon Valley and Shanghai, China.</p>
                <div class="map">
                    <!--map-->
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=22.2777901,114.1737855&amp;spn=0.04554,0.072956&amp;z=12&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>