@()(implicit session: Session, lang: Lang)

@if(lang.code=="zh-CN") {
<section class="contacts-3" ng-show="true">
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5">
                <h3>联系我们</h3>
                <div class="links">
                    <i class="fa fa-weibo"></i> 新浪微博: <a target="_blank" href="http://weibo.com/coinport"> 币丰港</a> <br>
                    <i class="fa fa-qq"></i> 客服QQ: <a  target="_blank" href="tencent://message/?uin=1691767742&Site=&Menu=yes"> 1691767742</a> <br>
                    <i class="fa fa-users"></i> 官方QQ群:<a target="_blank" href="http://jq.qq.com/?_wv=1027&k=OSBDN9"> 344784168</a> <br>
                    <!--a href="#"><span class="fui-phone"></span> +186 15510000000</a><br-->
                    <i class="fa fa-envelope"></i> Email: <a target="_blank" href="mailto:feedback@@coinport.com"> feedback@@coinport.com</a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h3>我们在哪里</h3>
                <p>
                    <a href="/company">
                        Coinport Technology Limited
                    </a>公司注册于香港, 由开曼群岛<a href="/company">Coinport Inc.</a>公司全资控股。 技术团队位于美国硅谷和中国上海。</p>
                <div class="map">
                    <!--map-->
                    <!--<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
                            <!--src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=22.2777901,114.1737855&amp;spn=0.04554,0.072956&amp;z=12&amp;output=embed"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</section>
} else {
<section class="contacts-3" ng-show="true">
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5">
                <h3>Get in touch with us</h3>
                <p>We love to know what our users think about us, please feel free to contact us.</p>
                <div class="links">
                    <!--a href="#"><span class="fui-phone"></span> +186 15510000000</a><br-->
                    <a target="_blank" href="mailto:feedback@@coinport.com"><span class="fui-mail"></span> feedback@@coinport.com</a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h3>Where to find us</h3>
                <p><a href="/company">Coinport Technology Limited</a> is registered in Hong Kong, fully owned by <a href="/company">Coinport Inc</a> of Cayman Islands. Our engineering teams are located in Silicon Valley and Shanghai, China.</p>
                <div class="map">
                    <!--map-->
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=22.2777901,114.1737855&amp;spn=0.04554,0.072956&amp;z=12&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
}