@()(implicit session: Session, lang: Lang)
<section class="content-16 v-center">
@if(lang.code == "zh-CN") {
    <div>
        <div class="container">
            <h3>将透明进行到底</h3>

            <p class="lead">币丰港，值得您信赖的虚拟货币交易平台</p>
            <p class="lead">
                <a href="/register"><strong>现在注册</strong></a>，就有机会<a target="_blank" href="http://blogcn.coinport.com/?page_id=19"><strong>赢取大奖</strong>.</a>
            </p>

        </div>
    </div>
} else {
    <div>
        <div class="container">
            <h3>Takes Transparency to The Extreme!</h3>

            <p class="lead">Coinport is a trustworthy cryptocurrency exchange.</p>
            <p class="lead">
                <a href="/register"><strong>Sign up now</strong></a> to win <a target="_blank" href="http://blog.coinport.com/?page_id=9"><strong>big rewards</strong>.</a>
            </p>

        </div>
    </div>
}
    <a class="control-btn" href="#"><i class="fa fa-chevron-down"></i></a>
</section>