@()(implicit session: Session, lang: Lang)
@if(lang.code=="zh-CN") {
<section class="crew-4">
    <div class="container">
        <!--<h3 >来自Google的技术团队<br/>来自IDG的资本支持</h3>-->

        <div class="members row">
            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/daniel-w.png" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/coinport"><i class="fa fa-weibo fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">王东</div>
                        联合创始人，CEO，毕业于中国科技大学，曾就职于<b>Google</b>，前京东<b>高级总监</b>。
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/hoss-m.png" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/hosschao"><i class="fa fa-weibo fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">马超</div>
                        联合创始人，CTO，毕业于上海交通大学，曾就职于<b>Google</b>，前真旅网<b>技术总监</b>。
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/chunming.jpg" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/ghostself"><i class="fa fa-weibo fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">刘春明</div>
                        联合创始人，毕业于中国科技大学，前京东<b>首席架构师</b>，总体负责京东推荐引擎技术。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
} else {
<section class="crew-4">
    <div class="container">
        <!--<h3 >We are xGooglers,<br/>backed by IDG Captical.</h3>-->

        <div class="members row">
            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/daniel-w.png" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/coinport"><i class="fa fa-weibo fa-3x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Daniel Wang</div>
                        Co-founder and CEO, master, <b>xGoogler</b>, former <b>Seinor Engineering Director</b> at JD.com.
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/hoss-m.png" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/hosschao"><i class="fa fa-weibo fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Hoss Ma</div>
                        Co-founder and CTO, master, <b>xGoogler</b> and former <b>Engineering Director</b> at Travelzen.
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/chunming.jpg" alt=""></div>
                        <div class="overlay">
                            <a target="_blank" href="http://weibo.com/ghostself"><i class="fa fa-weibo fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Chunming Liu</div>
                        Co-founder, master, Former <b>Principal System Architect</b> at JD.com.
                    </div>
                </div>
            </div>

            <!--<div class="member-wrapper col-md-3">-->
                <!--<div class="member">-->
                    <!--<div class="photo-wrapper">-->
                        <!--<div class="photo"><img src="/image/founders/mr-mysterious.jpg" alt=""></div>-->
                        <!--<div class="overlay">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="info">-->
                        <!--<div class="name">Mr. You-know-who</div>-->
                        <!--Co-founder and CMO.<br>-->
                        <!--<i>“I'm on my way, guys.”</i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <!--/.container-->
</section>
}
