@()(implicit lang: Lang)
@import utils.Constant._

<section class="content-3">
    <div>
        <div class="container" ng-controller="MarketCtrl">
            <h4>@Messages("index.marketStats")</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th nowrap>@Messages("ticker.market")</th>
                    <th nowrap class="text-right">@Messages("ticker.price")</th>
                    <th nowrap class="text-right">@Messages("ticker.high")</th>
                    <th nowrap class="text-right">@Messages("ticker.low")</th>
                    <th nowrap class="text-right">@Messages("ticker.volume")</th>
                    <th nowrap class="text-right">@Messages("ticker.gain")</th>
                    <th nowrap class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticker in tickers">
                    <td nowrap><a href="/trade#/{{ticker.market}}">
                        <img src="/image/coins/{{ticker.market.split('-')[0].toLowerCase()}}.png">
                        <strong ng-bind="ticker.market">@Messages("loading")</strong></a>
                    </td>
                    <td nowrap class="text-right {{ticker.trend}}"><span ng-bind="ticker.price.display + ' ' + ticker.price.currency">@Messages("loading")</span> <i class="fa fa-caret-{{ticker.trend}}"></i></td>
                    <td nowrap class="text-right" ng-bind="ticker.high.display + ' ' + ticker.high.currency">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="ticker.low.display + ' ' + ticker.low.currency">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="ticker.volume.display + ' ' + ticker.volume.currency">@Messages("loading")</td>
                    <td nowrap class="text-right {{ticker.gain | gainClass}}"><span ng-bind="(ticker.gain * 100).toFixed(2) + ' %'">@Messages("loading")</span> <i class="{{ticker.gain | gainIcon}}"></i> </td>
                    <td nowrap class="text-right">
                        <a href="/depth/{{ticker.market}}" target="_blank">@Messages("open.market.depth") <i class="fa fa-external-link"></i></a>&nbsp;|&nbsp;
                        <a href="/orders/{{ticker.market}}" target="_blank">@Messages("open.market.orders") <i class="fa fa-external-link"></i></a>&nbsp;|&nbsp;
                        <a href="/transactions/{{ticker.market}}" target="_blank">@Messages("open.market.transactions") <i class="fa fa-external-link"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="content-3">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>@Messages("fee.title")</h3>
                    @if(lang.code=="zh-CN") {
                    <p>
                        这里展示的是平台的收费政策。我们目前有交易费和提现费两种费用。<br/>

                        前2000个注册用户（ID小于等于1000002000）将享受交易永久免费。2000名之后的用户每笔交易按照收入的百分比收费。假设我们收费比例为0.1%，如果用户甲用2个X币通过一笔交易成功换取了用户乙的100个Y币，那么我们会收取用户乙0.002个X币；收取用户甲0.1个Y币。<br/>

                        我们对每笔提现收取固定的费率。
                    </p>
                    } else {
                    <p>
                        The following table shows our fee structure. We have two types of fees, trading fees and withdrawal fees.

                        The first 2000 users (id less than or equal to 1000002000) will enjoy lifetime 0 trading fee; other users will
                        pay a percentage of each trading income. For example, if we charge 0.1% trading fee, and if user A pays user B
                        2 XCOIN for 100 YCOIN, we will charge user B 0.002 XCOIN and charge user A 0.1 YCOIN. <br/>

                        For each successful withdrawal, we charge a constant fee.
                    </p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-3">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @__fee()
                </div>
            </div>
        </div>
    </div>
</section>