@()(implicit lang: Lang)

<div class="col-sm-8 candle-chart-wrap">
    <h4>&nbsp;</h4>
    <div class="candle-chart box" style="height: 250px;"></div>
</div>

<div class="col-sm-4">
    <h4>@Messages("depth")</h4>
    <div class="depth-box box table-responsive">
        <table class="table table-condensed table-hover table-borderless">
            <thead>
                <tr>
                    <th nowrap>@(Messages("order.type"))</th>
                    <th nowrap class="text-right">@(Messages("order.price"))</th>
                    <th nowrap class="text-right">@(Messages("order.amount"))</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in depth.asks" ng-click="clickDepthAsks($index)">
                    <td class="l title sell">
                        <b ng-show="$last">@(Messages("trade.sellShort")){{depth.asks.length-$index}}</b>
                        <span ng-show="!$last">@(Messages("trade.sellShort")){{depth.asks.length-$index}}</span>
                    </td>
                    <td class="text-right price">
                        <b ng-show="$last" ng-bind="item.price.display"></b>
                        <span ng-show="!$last" ng-bind="item.price.display"></span>
                    </td>
                    <td class="text-right">
                        <b ng-show="$last" ng-bind="item.amount.display"></b>
                        <span ng-show="!$last" ng-bind="item.amount.display"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="100%"></td>
                </tr>
                <tr>
                    <td colspan="100%">
                        <div class="latest-price text-center"><span ng-bind="lastPrice.display"></span> <span ng-bind="lastPrice.currency"></span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="100%"></td>
                </tr>
                <tr ng-repeat="item in depth.bids" ng-click="clickDepthBids($index)">
                    <td class="l title buy">
                        <b ng-show="$first">@(Messages("trade.buyShort")){{1+$index}}</b>
                        <span ng-show="!$first">@(Messages("trade.buyShort")){{1+$index}}</span>
                    </td>
                    <td class="text-right price">
                        <b ng-show="$first" ng-bind="item.price.display"></b>
                        <span ng-show="!$first" ng-bind="item.price.display"></span>
                    </td>
                    <td class="text-right">
                        <b ng-show="$first" ng-bind="item.amount.display"></b>
                        <span ng-show="!$first" ng-bind="item.amount.display"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        @__see_more("/depth/{{market}}")
    </div>
</div>
