@()(implicit session: Session, lang: Lang)

@isLogin() = @{session.get("uid").isDefined}
<div class="op-box-wrapper">
    <div class="text-center"><h4 class="sell">@(Messages("trade.sell")) <b><span ng-bind="subject"></span></b></h4></div>

    <div class="op-box box">
        @if(isLogin()) {
        <div class="available-fund text-center">
            <span class="link" ng-click="clickQuantity(account[subject].available.value)">
                @Messages("trade.availableAmount"): <kbd ng-bind="(account[subject].available.value || 0) + ' ' + subject"></kbd>
            </span>
        </div>
        }
        <div class="box-inner sell">
            <form name="askForm" class="form-horizontal op-form" role="form">

                <div class="inputs">
                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.price"))</span>
                        <input type="text" id="ask_price" ng-disabled="!askOptions.limitPrice" class="form-control" ng-model="ask.price"/>
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.amount"))</span>
                        <input type="text" id="ask_amount" ng-disabled="!askOptions.limitAmount" class="form-control" ng-model="ask.amount"/>
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.total"))</span>
                        <input type="text" id="ask_total" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.total"/>
                    </div>

                    <div class="input-group input-group-full input-group-advanced" ng-show="false">
                        <span class="input-group-addon">@(Messages("trade.limit"))</span>
                        <input type="text" id="ask_limit" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.limit"/>
                    </div>
                </div>

                <div class="alert alert-info" ng-show="!showMessage['ask']">
                        <b>@(Messages("trade.aboutOrder")): </b>
@if(lang.code=="zh-CN") {
                        <span ng-show="ask.price == 0">
                            以 <span class="sell">市场价</span>
                        </span>
                        <span  ng-show="ask.price > 0">
                            以不低于 <span class="num">{{ask.price}}</span> {{currency}}/{{subject}} 的价格
                        </span>
                        <span  ng-show="ask.amount == 0">
                            卖出尽可能多的 <span class="num">{{subject}}</span>
                        </span>
                        <span ng-show="ask.amount > 0">
                            卖出 <span class="num">{{ask.amount}}</span> {{subject}}
                        </span>
                        <span ng-show="askOptions.limitTotal || askOptions.limitLimit">
                            <span ng-show="ask.total > 0">
                            ，至少获得 <span class="num">{{ask.total}} {{currency}}</span>
                            </span>
                                <span ng-show="ask.total > 0 && ask.limit > 0"> 但 </span>
                            <span ng-show="ask.limit > 0">
                                不超过 <span class="num">{{ask.limit}} {{currency}}</span>
                            </span>
                        </span>
} else {
                        <span  ng-show="ask.amount == 0">
                            selling as much <span class="num">{{subject}}</span> as needed
                        </span>
                        <span ng-show="ask.amount > 0">
                            selling <span class="num">{{ask.amount}}</span> {{subject}}
                        </span>
                        <span ng-show="ask.price == 0">
                            at <span class="sell">market price</span>
                        </span>
                        <span  ng-show="ask.price > 0">
                            at a price higher than or equal to  <span class="num">{{ask.price}}</span> {{currency}}/{{subject}}
                        </span>
                        <span ng-show="askOptions.limitTotal || askOptions.limitLimit">
                            <span ng-show="ask.total > 0">
                            to get at least <span class="num">{{ask.total}} {{currency}}</span>
                            </span>
                                <span ng-show="ask.total > 0 && ask.limit > 0"> but </span>
                            <span ng-show="ask.limit > 0">
                                at most <span class="num">{{ask.limit}} {{currency}}</span>
                            </span>
                        </span>
}
                </div>
                <div class="alert alert-danger bg-warning" ng-show="showMessage['ask']"> <b>{{info.message['ask']}}</b> </div>
                @if(isLogin()) {
                <button class="btn btn-block btn-op btn-sell" ng-click="addAskOrder()">{{info.askButtonLabel}}</button>
                } else {
                <button class="btn btn-block btn-op btn-sell" ng-click="toLogin()">@Messages("authenticateNotLogin")</button>
                }
            </form>
        </div>
    </div>
</div>
