@()(implicit session: Session, lang: Lang)

@isLogin() = @{session.get("uid").isDefined}
<div class="op-box-wrapper">
    <div class="text-center"><h4 class="buy">@(Messages("trade.buy")) <b><span ng-bind="subject"></span></b></h4></div>

    <div class="op-box box">
        @if(isLogin()) {
        <div class="available-fund text-center">
            <span class="link" ng-click="clickFunding(account[currency].available.value)">
                @Messages("trade.availableCurrency"): <a ng-bind="(account[currency].available.value || 0) + ' ' + currency"></a>
            </span>
        </div>
        }
        <div class="box-inner buy">
            <form name="bidForm" class="form-horizontal op-form" role="form">
                <div class="inputs">
                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.price"))</span>
                        <input type="text" id="bid_price" class="form-control" ng-model="bid.price" />
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.amount"))</span>
                        <input type="text" id="bid_amount" ng-disabled="!bidOptions.limitAmount" class="form-control" ng-model="bid.amount"/>
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.total"))</span>
                        <input type="text" id="bid_total" ng-disabled="!bidOptions.limitTotal" class="form-control" ng-model="bid.total"/>
                    </div>

                    <div class="input-group input-group-full input-group-advanced" ng-show="false">
                        <span class="input-group-addon">@(Messages("trade.limit"))</span>
                        <input type="text" id="bid_limit" ng-disabled="!bidOptions.limitTotal" class="form-control" ng-model="bid.bid_total"/>
                    </div>
                </div>

                <div class="alert alert-info" ng-show="!showMessage['bid']">
                        <b>@(Messages("trade.aboutOrder")): </b>
@if(lang.code=="zh-CN") {
                        <span ng-show="bid.price == 0">
                            以 <span class="buy">市场价</span>
                        </span>
                        <span  ng-show="bid.price > 0">
                            以不高于  <span class="num">{{bid.price}}</span> {{currency}}/{{subject}} 的价格
                        </span>
                        <span  ng-show="bid.amount == 0">
                            购买尽可能多 <span class="num">{{subject}}</span>
                        </span>
                        <span ng-show="bid.amount > 0">
                            购买 <span class="num">{{bid.amount}}</span> {{subject}}
                        </span>
                        <span ng-show="bidOptions.limitTotal || bidOptions.limitLimit">
                            <span ng-show="bid.total > 0">
                            ，最多花费 <span class="num">{{bid.total}} {{currency}}</span>
                            </span>
                                <span ng-show="bidOptions.limitTotal && bidOptions.limitLimit"> 但 </span>
                            <span ng-show="bidOptions.limitLimit">
                                不少于 <span class="num">{{bid.total}} {{currency}}</span>
                            </span>
                        </span>
} else {
                        <span  ng-show="bid.amount == 0">
                            buying as much <span class="num">{{subject}}</span> as needed
                        </span>
                        <span ng-show="bid.amount > 0">
                            buying <span class="num">{{bid.amount}}</span> {{subject}}
                        </span>
                        <span ng-show="bid.price == 0">
                            at <span class="buy">market price</span>
                        </span>
                        <span  ng-show="bid.price > 0">
                            at a price lower than or equal to  <span class="num">{{bid.price}}</span> {{currency}}/{{subject}}
                        </span>
                        <span ng-show="bidOptions.limitTotal || bidOptions.limitLimit">
                            <span ng-show="bid.total > 0">
                            to pay at least <span class="num">{{bid.total}} {{currency}}</span>
                            </span>
                            <span ng-show="bidOptions.limitTotal && bidOptions.limitLimit"> but </span>
                            <span ng-show="bidOptions.limitLimit">
                                at most <span class="num">{{bid.total}} {{currency}}</span>
                            </span>
                        </span>
}
                    <br><br>
                    <b>@(Messages("trade.aboutFee")):&nbsp;&nbsp;</b>
                    @if(session.get("uid").isDefined && session.get("uid").get.toLong  <= 1000002000L) {
                        <b>0.0%</b> <a href="" data-toggle="tooltip" data-placement="top" title='@Messages("user.label.free")'><img src="/image/icons/user_vip.png"></a>
                    } else {
                        0.1%
                    }
                </div>
                <div class="alert alert-danger bg-warning" ng-show="showMessage['bid']"> <b>{{info.message['bid']}}</b> </div>
                @if(isLogin()) {
                <button class="btn btn-block btn-op btn-buy" ng-click="addBidOrder()">{{info.bidButtonLabel}}</button>
                } else {
                <button class="btn btn-block btn-op btn-buy" ng-click="toLogin()">@Messages("authenticateNotLogin")</button>
                }
            </form>
        </div>
    </div>
</div>
