@()(implicit lang: Lang)

<div class="col-sm-8 candle-chart-wrap">
    <h4>&nbsp;</h4>
    <div class="candle-chart box" style="height: 250px;"></div>
</div>

<div class="col-sm-4">
    <h4>Depth</h4>
    <div class="depth-box box">
        <table class="table table-condensed table-responsive table-hover table-borderless">
            <tbody>
                <tr ng-repeat="item in depth.asks" ng-animate=" 'animate' " ng-click="clickDepthAsks($index)">
                    <td class="l title sell">@(Messages("trade.sellShort")){{depth.asks.length-$index}}</td>
                    <td class="price">{{item.price.display}}</td>
                    <td class="amount">{{item.amount.display}}</td>
                </tr>
                <tr>
                    <td colspan="100%">
                        <div class="latest-price text-center"><strong>{{lastPrice.display}}</strong> {{lastPrice.currency}}/{{lastPrice.item}}</div>
                    </td>
                </tr>
                <tr ng-repeat="item in depth.bids" ng-animate=" 'animate' " ng-click="clickDepthBids($index)">
                    <td class="l title buy">@(Messages("trade.buyShort")){{1+$index}}</td>
                    <td class="price">{{item.price.display }}</td>
                    <td class="amount">{{item.amount.display}}</td>
                </tr>
            </tbody>
        </table>
        @__see_more("/depth/{{market}}")
    </div>
</div>
