 @()(implicit lang: Lang)
<div class="op-box-wrapper">
    <div class="text-center"><h4 class="sell">@(Messages("trade.sell")) {{subject}}</h4></div>

    <div class="op-box box">
        <div class="text-right">
            <input type="checkbox" checked data-toggle="switch" />
        </div>

        <div class="available-fund text-center">
            <span class="link" ng-click="clickQuantity(account[subject].available.value)">
                Available: <kbd>{{account[subject].available.value | coin}} {{subject}}</kbd>
            </span>
        </div>

        <div class="box sell">
            <form name="askForm" class="form-horizontal op-form" role="form">

                <div class="inputs">
                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.price"))</span>
                        <input type="number" step="0.0001" id="ask_price" ng-disabled="!askOptions.limitPrice" class="form-control" ng-model="ask.price" />
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.amount"))</span>
                        <input type="number" step="0.0001" id="ask_amount" ng-disabled="!askOptions.limitAmount" class="form-control" ng-model="ask.amount" min="0" />
                    </div>

                    <div class="input-group input-group-full">
                        <span class="input-group-addon">@(Messages("trade.total"))</span>
                        <input type="number" step="0.01" id="ask_total" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.total"/>
                    </div>

                    <div class="input-group input-group-full input-group-advanced" ng-show="true">
                        <span class="input-group-addon">@(Messages("trade.limit"))</span>
                        <input type="number" step="0.01" id="ask_limit" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.ask_total"/>
                    </div>
                </div>

                <div class="alert alert-info" ng-show="!showMessage['ask']">
                        <b>About this order: </b>
                        <span  ng-show="!askOptions.limitAmount">
                            selling as much <span class="num">{{subject}}</span> as needed
                        </span>
                        <span ng-show="askOptions.limitAmount">
                            selling <span class="num">{{ask.amount}}</span> {{subject}}
                        </span>
                        <span ng-show="!askOptions.limitPrice">
                            at <span class="red">market price</span>
                        </span>
                        <span  ng-show="askOptions.limitPrice">
                            at a price higher than or equal to  <span class="num">{{ask.price | price}}</span> {{currency}}/{{subject}}
                        </span>
                        <span ng-show="askOptions.limitTotal || askOptions.limitLimit">
                            to get 
                            <span ng-show="askOptions.limitTotal">
                            at least <span class="num">{{ask.total | coin}}</span>
                            </span>
                                <span ng-show="askOptions.limitTotal && askOptions.limitLimit"> but </span>
                            <span ng-show="askOptions.limitLimit">
                                at most <span class="num">{{ask.total | coin}}</span> 
                            </span>
                            {{currency}}.
                        </span>
                </div>

                <button class="btn btn-block btn-op btn-sell" ng-click="addAskOrder()">{{info.askButtonLabel}}</button>
                <div class="alert alert-danger" ng-show="showMessage['ask']"> {{info.message['ask']}} </div>
            </form>
        </div>
    </div>
</div>
