@()(implicit lang: Lang)

<h4>Recent Transactions</h4>
<div class="box txs-box">
    <table class="table table-condensed table-striped table-responsive">
        <thead>
            <th>@Messages("transaction.type")</th>
            <th>@Messages("transaction.price")</th>
            <th>@Messages("transaction.amount")</th>
            <th>@Messages("transaction.timestamp")</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in transactions.items" ng-animate="'animate'" class="transaction-item scalable-item">
                <td class="l {{item.sell | txTypeClass}}">{{item.sell | txTypeText}}</td>
                <td class="price">{{item.price.display}}</td>
                <td class="amount">{{item.subjectAmount.display}}</td>
                <td class="timestamp">{{item.timestamp | date:"HH:mm:ss"}}</td>
                <td><a target="_blank" href="/transaction/{{item.id}}"><i class="fa fa-retweet"></i></a></td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <div class="col-md-offset-10"><a href="/transactions/{{market}}">@(Messages("more"))>></a></div>
    </div>
</div>
