@()(implicit lang: Lang)

<div class="recent-orders">
    <h4>@Messages("trade.myOrders")</h4>

    <div class="box">
        <tabset>
            <tab heading='@(Messages("order.status.pending"))' select="changeOrderStatus(1)" style="cursor: pointer;"></tab>
            <!--<tab heading='@(Messages("order.status.open"))' select="changeOrderStatus(1)" style="cursor: pointer;"></tab>-->
            <tab heading='@(Messages("order.status.finished"))' select="changeOrderStatus(2)" style="cursor: pointer;"></tab>
            <!--<tab heading='@(Messages("order.status.cancelled"))' select="changeOrderStatus(3)" style="cursor: pointer;"></tab>-->
            <tab heading='@(Messages("all"))' select="changeOrderStatus(3)" style="cursor: pointer;"></tab>
        </tabset>
        <div class="user-order-box">
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th nowrap>@(Messages("order.oid"))</th>
                    <th nowrap>@(Messages("order.type"))</th>
                    <th nowrap class="text-right">@(Messages("order.price"))</th>
                    <th nowrap class="text-right">@(Messages("order.averagePrice"))</th>
                    <th nowrap class="text-right">@(Messages("order.amount"))</th>
                    <th nowrap class="text-right">@(Messages("order.finishedAmount"))</th>
                    <!--<th nowrap class="text-right">@(Messages("order.total"))</th>-->
                    <th nowrap class="text-right">@(Messages("order.finishedTotal"))</th>
                    <th nowrap></th>
                    <th nowrap></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders | orderBy: ['-date', '-id']" class="user-order-item">
                    <td nowrap><a href="/order/{{order.id}}" ng-bind="order.id"></a></td>
                    <td nowrap class="{{order.operation | orderTypeClass}}" ng-bind="order.operation | orderTypeText"></td>
                    <td nowrap class="text-right {{order.operation | orderTypeClass}}" ng-bind="order.price.display"></td>
                    <td nowrap class="text-right {{order.operation | orderTypeClass}}" ng-bind="(order.finishedAmount.value / order.finishedQuantity.value) | price"></td>
                    <td nowrap class="text-right" ng-bind="order.amount.display"></td>
                    <td nowrap class="text-right" ng-bind="order.finishedQuantity.display"></td>
                    <td nowrap class="text-right" ng-bind="order.finishedAmount.display"></td>
                    <td nowrap><a href="/order/{{order.id}}"><span class="badge text-white bg-{{order.status | orderStatusClass}}" ng-bind="order.status | orderStatusText"></span></a></td>
                    <td nowrap class="text-right">
                        <a ng-show="order.status <= 1" href="" ng-click="cancelOrder(order)">@(Messages("trade.cancel"))</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div> <!-- user-order-box-->
        @__see_more("/account#/orders")
    </div>
</div>
