@()(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.account" class="bg-turquoise">
<div class="page-wrapper bg-transparent account">
@__navbar("account")

@session.get("uid") match {
    case Some(id: String) => {
        <span ng-init="uid='@id'" ng-show="false"></span>
    }
    case None => {
        <span ng-init="uid='0'" ng-show="false"></span>
    }
}

<div class="container container-main light-bordered bg-light">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" cp-nav>
                <li route="#/asset"><a href="#/asset">@Messages("asset.myAsset")</a></li>
                <li route="#/orders"><a href="#/orders">@Messages("order.myOrders")</a></li>
                <li route="#/transaction"><a href="#/transaction">@Messages("transaction.myTransactions")</a></li>
                <li route="#/transfer"><a href="#/transfer">@Messages("asset.transfer")</a></li>
                <li route="#/accountsettings"><a href="#/accountsettings">@Messages("asset.accountSettings")</a></li>
            </ul>
        </div>

        <div class="content col-md-10" ng-view> </div>
    </div>
</div>

@__footer()
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/lib/d3/d3.min.js")
@__js("/js/account.js")
@__tracking_js()
</body>
</html>
