
@(coin: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
    @__head_commons()
    @__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.currency">
<div class="page-wrapper openness">
    @__navbar("openness")
    <div class="container container-main" ng-controller="CoinCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h4>@Messages("index.reserveStats")</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover stats-table">
                        <thead>
                        <tr>
                            <th nowrap>@Messages("user.coinType")</th>
                            <th nowrap class="text-right">@Messages("user.available")</th>
                            <th nowrap class="text-right">@Messages("user.orderPending")</th>
                            <th nowrap class="text-right">@Messages("user.withdrawalPending")</th>
                            <th nowrap class="text-right">@Messages("open.reserve.account")</th>
                            <th nowrap class="text-right">@Messages("open.reserve.balance")</th>
                            <th nowrap>@Messages("open.reserve.ratio")</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td nowrap><strong>@coin</strong></td>
                            <td nowrap class="text-right" ng-bind="accounts['@coin'].available.display">@Messages("loading")</td>
                            <td nowrap class="text-right" ng-bind="accounts['@coin'].locked.display">@Messages("loading")</td>
                            <td nowrap class="text-right" ng-bind="accounts['@coin'].pendingWithdrawal.display">@Messages("loading")</td>
                            <td nowrap class="text-right" ng-bind="accounts['@coin'].total.display">@Messages("loading")</td>
                            <td nowrap class="text-right" ng-bind="reserveAmount.display">@Messages("loading")</td>
                            <td nowrap><span class="{{reserveAmount.value / accounts['@coin'].total.value  || 0 | reserveRatioClass}}" ng-bind="(reserveAmount.value * 100 / accounts['@coin'].total.value || 0).toFixed(2) + '%'"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <tabset >

    <tab heading='@Messages("user.Transfer")' style="cursor: pointer;" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th nowrap>@Messages("user.transfer.id")</th>
                        <th nowrap>@Messages("user.user")</th>
                        <th nowrap>@Messages("user.transfer.timestamp")</th>
                        <th nowrap>@Messages("user.transfer.operation")</th>
                        <th nowrap class="text-right">@Messages("user.transfer.amount")</th>
                        <th nowrap>@Messages("address")</th>
                        <th nowrap>@Messages("status")</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="item in transfers | orderBy: ['-date', '-id']" class="">
                        <td nowrap ng-bind="item.id">@Messages("loading")</td>
                        <td nowrap ng-bind="item.uid">@Messages("loading")</td>
                        <td nowrap> <i class="fa fa-clock-o"></i> <span ng-bind="item.updated | date:'yyyy-MM-dd HH:mm:ss'">@Messages("loading")</span> </td>
                        <td nowrap ng-bind="item.operation | transferOperationText">@Messages("loading")</td>
                        <td nowrap class="text-right" ng-bind="item.amount.display">@Messages("loading")</td>
                        <td nowrap ng-bind="item.address">@Messages("loading")</td>
                        <td nowrap ng-bind="item.status | transferStatusText">@Messages("loading")</td>
                    </tr>
                    </tbody>
                    @__empty_table_indicator("transfers")
                </table>

                <pagination boundary-links="true" total-items="transferCount" ng-model="transferPage" class="pagination-sm" ng-change="reloadTransfers()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </tab>

    <tab heading='@Messages("coin.wallets")' style="cursor: pointer;">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h4>@Messages("coin.hotWallet")</h4>
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th nowrap >@Messages("address")</th>
                        <th nowrap >@Messages("amount")</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wallet in hotWallets">
                        <td>
                            <a href="{{addressUrl}}{{wallet.address}}" target="_blank" class="label label-warning" data-toggle="tooltip" data-placement="top" title="{{wallet.address}}" ng-bind="wallet.address"></a>
                        </td>
                        <td>
                            <span class="label label-warning" ng-bind="wallet.amount.display"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4>@Messages("coin.coldWallet")</h4>
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th nowrap >@Messages("address")</th>
                        <th nowrap >@Messages("amount")</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wallet in coldWallets">
                        <td>
                            <a href="{{addressUrl}}{{wallet.address}}" target="_blank" class="label label-info" data-toggle="tooltip" data-placement="top" title="{{wallet.address}}" ng-bind="wallet.address"></a>
                        </td>
                        <td>
                            <span class="label label-info" ng-bind="wallet.amount.display"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    </tabset>
    </div>
@__footer()
    </div>
@__tail_commons()
@__js("/javascripts/coin.js")
@__tracking_js()
</body>
</html>