@(market: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
@__common_css2()
@__css("/stylesheets/main.css")
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.depth">
<div class="page-wrapper opendata-browser">
@__navbar2(4)

</footer>
<footer class="footer-4 bg-midnight-blue">
    <div class="container">
        <div class="brand">Order Book - @market</div>
    </div>
</footer>

<div class="container opendata-data" ng-controller="DepthCtrl">
    <div class="row">
        <div class="col-md-6">
            <h2>@(Messages("buy"))</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th><th>@(Messages("trade.price"))</th><th>@(Messages("trade.amount"))</th><th>Accumulated</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in depth.bids">
                    <td>@(Messages("trade.buyShort")){{1+$index}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.accumulated}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>@(Messages("sell"))</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th><th>@(Messages("trade.price"))</th><th>@(Messages("trade.amount"))</th><th>Accumulated</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in depth.asks">
                    <td>@(Messages("trade.sellShort")){{1+$index}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.accumulated}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@__footer2()
</div> <!-- page-wrapper -->
@__common_js2()
@__js("/lib/d3/d3.min.js")
@__js("/js/depth.js")
@__tracking_js()
</body>
</html>
