@(msg: String = "")(implicit lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body>
<div class="page-wrapper errorPage">

<div class="container container-main">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="main-logo">
              <a href="/trade"><img src="/image/homepage/logo.png" alt="Coinport"></img></a>
              <h3>@msg</h3>
            </div>
        </div>
    </div>
</div>

</div> <!-- page-wrapper -->
@__tail_commons()
@__tracking_js()
</body>
</html>