<footer>
    <ul class="list-inline">
        <li><a href="#">@Messages("footer.aboutUs")</a> | </li>
        <li><a href="#">@Messages("footer.fq")</a> | </li>
        <li><a href="#">@Messages("footer.fee")</a> | </li>
        <li><a href="#">@Messages("footer.termsOfService")</a> | </li>
        <li><a href="#">@Messages("footer.contact")</a> | </li>
        <li><a href="http://docs.coinport.apiary.io/" target="_blank">API</a></li>
    </ul>
    <p>&copy; Coinport Inc. 2014. All rights reserved.</p>
</footer>