@()(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.home">
<div class="page-wrapper home">

@__site_notification()

<section class="content-16 v-center">
    <div>
        <div class="container">
            <h3><img src="/image/logo.png" width="100" height="100" alt="">Takes Transparency to The Extreme!</h3>

            <p class="lead">Coinport is a trustworthy cryptocurrency exchange.</p>

        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

@__navbar2("home", includeSiteNotification = false)

<section class="header-3-sub">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Our Full Openness Policies bring you exceptional transparency.</h3>
                <p>Coinport Exchange is the world's first crytocurrency exchange that features complete transparency by implementing the Full Openness Policies: open-sourced, open-data, and provable 100% reserve.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row features">
            <div class="col-sm-4">
                <img src="startup/common-files/icons/compas@@2x.png" alt="" width="117" height="104">
                <h6>Open-Sourced</h6>

                <p>Our matching engine will be opensourced on github. Visit our public repository to verify our matching code, and feel free to clone it. Coinport Exchange allows clients to have insight to all the internals.</p>
            </div>
            <div class="col-sm-4">
                <img src="startup/common-files/icons/Clipboard@@2x.png" alt="" width="104" height="104">
                <h6>Open-Data</h6>

                <p>All data (except user privacy) are open for browsing and downloading. All orders, transactions, deposits, withdrawals, balances, addresses of our hot/cold wallets are accessible. Our clients see all the details as well as the big picture.</p>
            </div>
            <div class="col-sm-4">
                <img src="startup/common-files/icons/retina-ready@@2x.png" alt="" width="101" height="101">
                <h6>Provable 100% Reserve</h6>

                <p>We keep all your asset uninvested. Still wishing for a Merkle-tree based proof of reserve? We give you more - every 30 minutes we offer our clients all new events and system snapshots. You can verify our reserve claims yourself using simple maths.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-9">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Privacy and Security</h3>

                <p>At Coinport, we take user privacy and data security very seriously; and we believe privacy and security can co-exist beautifully.
                </p>

                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>User Privacy</h6>
                        All data that can be used to identify a user in the real world are encrypted and well protected. This ensures the anonymity of our open-data, similiar to cryptocurrency public ledgers.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Security</h6>
                        All data are encrypted using AES before being persisted; passwords are hashed in the browser first then hashed again on server using Bcrypt algorithm. We keep multiple copy of all data and perform regular backups.
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                <img src="startup/common-files/icons/shield@@2x.png" width="300" height="300" alt="">
            </div>
        </div>
    </div>
</section>

<section class="crew-4">
    <div class="container">
        <h3 >We are xGooglers,<br/>backed by IDG Captical.</h3>

        <div class="members row">
            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/daniel-w.png" alt=""></div>
                        <div class="overlay">
                            <a href="http://weibo.com/coinport"><i class="fa fa-weibo fa-3x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                            <!--a href="#"><i class="fa fa-wechat fa-3x"></i></a-->
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Daniel Wang</div>
                        Co-founder, master, <b>xGoogler</b>, former <b>Seinor Engineering Director</b> at JD.com.
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/hoss-m.png" alt=""></div>
                        <div class="overlay">
                            <a href="http://weibo.com/hosschao"><i class="fa fa-weibo fa-3x"></i></a>
                            <!--a href="#"><i class="fa fa-twitter fa-3x"></i></a-->
                            <!--a href="#"><i class="fa fa-wechat fa-3x"></i></a-->
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Hoss Ma</div>
                        Co-founder, master, <b>xGoogler</b> and former <b>Engineering Director</b> at Travelzen.
                    </div>
                </div>
            </div>

            <div class="member-wrapper col-md-4">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="/image/founders/chunming-l.png" alt=""></div>
                        <div class="overlay">
                            <a href="http://weibo.com/ghostself"><i class="fa fa-weibo fa-3x"></i></a>
                            <!--a href="#"><i class="fa fa-twitter fa-3x"></i></a-->
                            <!--a href="#"><i class="fa fa-wechat fa-3x"></i></a-->
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Chunming Liu</div>
                        Co-founder, master, Former <b>Senior System Architect</b> at JD.com.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<section class="contacts-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>Get in touch with us</h3>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p>
                <div class="links">
                    <a href="#"><span class="fui-phone"></span> +1 347 523 34 90</a><br>
                    <a href="#"><span class="fui-mail"></span> mr.madbyte@@gmail.com</a>
                </div>
                <h6>Where to find us</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p>
                <div class="map">
                    <!--map-->
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=40.714353,-74.005973&amp;spn=0.04554,0.072956&amp;z=12&amp;output=embed"></iframe>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h3>You can mail us</h3>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p>
                <form>
                    <label class="h6">Name / Last Name</label>
                    <input type="text" class="form-control">
                    <label class="h6">E-mail</label>
                    <input type="text" class="form-control">
                    <label class="h6">Message</label>
                    <textarea rows="7" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary"><span class="fui-mail"></span></button>
                </form>
            </div>
        </div>
    </div>
</section>

@__footer3(true)
</div> <!-- page-wrapper -->
@__tail_commons()
@__tracking_js()
@__js("/javascripts/index.js")
</body>
</html>

