@()(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Messages("title")</title>
    @__common_css()
    @__css("/lib/flexslider/flexslider.css")
    @__css("/css/index.css")
    @__js_lang()
</head>

<body ng-app="coinport.home">
@__nojs()
<div id="top-container">
@__navbar(0)
<div id="body-container">
<!-- CONTENT START ================================ -->


<div ng-controller="HomeCtrl"></div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Complete Openness & Transparency</h1>
		<p>Coinport Exchange is a cryptocurrency exchange that features <a href="/open"><b>full openness and transparency</b></a> one can ever dream of. Users can verify our full-reserve claim based on our open data and source code. For the first time, a cryptocurrency exchange was done right!</p>

		<p class="alpha-testing">WARNING: We are testing this exchange publicly with selected users. Anyone can sign up and test with us, but we do NOT guarantee your money back during this period. So play with small amount of money!</p>
		<div class="row signup-button-row">
			<div class="col-md-12 text-center">
				<button class="btn btn-warning btn-lg" role="button">Sign up now</button>
			</div>
		</div>
	</div>
</div>

<div class="container marketing">
	<div class="row featurette">
	<div class="col-md-8">
	  <h2 class="featurette-heading">Open-data <span class="text-muted">offers 100% transparency</span></h2>
	  <p class="lead">We open all non-user private data, including</p>
	  <ul>
	  	<li class="lead">Deposit and withdrawal events</li>
	  	<li class="lead">Order submission and cancellation events</li>
	  	<li class="lead">All transactions</li>
	  	<li class="lead">Periodical system states(snapshots)</li>
	  </ul>
	  <p class="lead">All data are downloadable as JSON files. Event data can also be browsed online.</p>
	</div>
	<div class="col-md-4 hidden-xs">
	  <img class="featurette-image pull-right img-responsive" data-src="holder.js/300x300/auto" alt="300x300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4="/>
	</div>
	</div>

	<hr class="featurette-divider"/>

	<div class="row featurette">
	<div class="col-md-4 hidden-xs">
	  <img class="featurette-image img-responsive" data-src="holder.js/300x300/auto" alt="300x300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4="/>
	</div>
	<div class="col-md-8">
	  <h2 class="featurette-heading">Open-sourced <span class="text-muted"></span></h2>
	  <p class="lead">Our matching engine is opensourced on github. Feel free to checkout our public repository to verify our logics. Our matching engine features:</p>
	  <ul>
	  	<li class="lead">A uni-direction take-maker model.</li>
	  	<li class="lead">Event-sourced architecture.</li>
	  	<li class="lead">Orders are matched immediately after submission - no one can intercept your action, this is guaranteed.</li>
	  	<li class="lead">High thoughput.</li>
	  </ul>
	</div>
	</div>

	<hr class="featurette-divider"/>

	<div class="row featurette">
	<div class="col-md-8">
	  <h2 class="featurette-heading">Provable Full-Reserve <span class="text-muted"></span></h2>
	  <p class="lead">We provide timely proof of full-reserve of user assets. We never invest your money for our own profit. To make this possible, we provide to our users:</p>
	<ul>
	  	<li class="lead">All of our code and hot wallet addresses.</li>
	  	<li class="lead">Each and every account's balance in all currencies.</li>
	  </ul>

	</div>
	<div class="col-md-4 hidden-xs">
	  <img class="featurette-image pull-right img-responsive" data-src="holder.js/300x300/auto" alt="300x300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4="/>
	</div>
	</div>

	<hr class="featurette-divider"/>

	<div class="row featurette">
	<div class="col-md-4 hidden-xs">
	  <img class="featurette-image img-responsive" data-src="holder.js/300x300/auto" alt="300x300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4="/>
	</div>
	<div class="col-md-8">
	  <h2 class="featurette-heading">Bank Level Security<span class="text-muted"></span></h2>
	  <p class="lead">We take user privacy and security very seriously. The following measures are taken to achieve the highest level of security:</p>
	  <ul>
	  	<li class="lead">All traffic are SSL encrypted.</li>
	  	<li class="lead">All event and snapshot data are encrypted using AES algorithm before saving to disk. Even our employees cannot access your private data without authorization.</li>
	  	<li class="lead">We use cloud storage to backup all data.</li>
	  	<li class="lead">Your password are hashed on client-side then encrypted on server side using Bcrypt.</li>
	  </ul>
	</div>
	</div>


	<hr class="featurette-divider"/>

	<div class="row featurette">
	<div class="col-md-8">
	  <h2 class="featurette-heading">Built for you, with Love<span class="text-muted"></span></h2>
	  <p class="lead">We aim at providing the best user experience to you, this includes: </p>
	<ul>
	  	<li class="lead">A simple yet beautiful user interface.</li>
	  	<li class="lead">More order submission methods and options (conditional orders are coming soon)</li>
	  </ul>
 	<p class="lead">We are continuing to enhance our system to make it even better for your daily trading experience.</p>
	</div>
	<div class="col-md-4 hidden-xs">
	  <img class="featurette-image pull-right img-responsive" data-src="holder.js/300x300/auto" alt="300x300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4="/>
	</div>

	<hr class="featurette-divider"/>

	<div class="row hidden-xs hidden-print">
		<div class="col-lg-12">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="image/homepage/_1.jpg" alt="Features"/></li>
					<li><img src="image/homepage/_2.jpg" alt="Features"/></li>
					<li><img src="image/homepage/_3.jpg" alt="Features"/></li>
					<li><img src="image/homepage/_4.jpg" alt="Features"/></li>
				</ul>
			</div>
		</div>
	</div>

	</div>
	<div class="row signup-button-row">
		<div class="col-md-12 text-center">
			<button class="btn btn-warning btn-lg" role="button">Sign up now</button>
		</div>
	</div>
</div>


<!-- CONTENT END ================================ -->
</div>  <!-- id="body-container" -->
@__footer()
</div> <!-- id="top-container" -->

@__common_js()
@__js("/lib/docs.min.js")
@__js("/lib/flexslider/jquery.flexslider.js")
@__js("/javascripts/index.min.js")
@__tracking_js()
</body>
</html>

