@()(implicit session: Session, lang: Lang)
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		@imports()
		<link rel="stylesheet" href="/css/home.css">
		<script type="text/javascript" src="lib/sparkline/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="lib/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
</head>

<body ng-app="coinport.index">
<div id="container" ng-controller="IndexCtrl">
	@navbar(0, false)
	<!-- Start Full Width Sections Content -->
	<sections>
		<div class="container section branding">
			<div class="row">
				<div class="col-md-12">
				  <div class="branding-box">
						<img src="image/branding.png" alt="Fully Transparency"/>
					</div>
				</div>
			</div>
		</div> <!-- container -->

		<!------------------------------------------>

		<div class="container section reserve">
			<div class="row">
				<div class="col-md-4 col-md-offset-2"><img src="image/illustration1.png" alt=""/></div>
				<div class="col-md-4">
					<h2>100%准备金证明</h2>
					<p>
					我们任何时候都不会挪用用户资产。通过我们公开的银行账号和虚拟货币冷热钱包地址，您可以验证我们时时刻刻都有100%的准备金，保证您随时可以提现。
					</p>
				</div>
			</div>
		</div> <!-- container -->

		<!------------------------------------------>

		<div class="container section realtime">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h2>毫秒级实时性</h2>
					<p>
					我们的系统采用事件溯源架构，保证所有交易都在毫秒级完成，统计报表和K线也更加实时。确保您无需任何等待。
					</p>
				</div>
				<div class="col-md-4"><img src="image/illustration2.png" alt=""/></div>
			</div> <!-- row -->
		</div> <!-- container -->

		<!------------------------------------------>

		<div class="container section easy">
			<div class="row">
				<div class="col-md-4 col-md-offset-2"><img src="image/illustration3.png" alt=""/></div>
				<div class="col-md-4">
					<h2>更贴心的功能</h2>
					<p>
					我们采用具有对称性的taker-maker交易模型，为您提供除了市场单和限价单之外更灵活的委托方式。同时我们的资产报表将让你对自己的投资收益一目了然。
					</p>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->

		<!------------------------------------------>

		<div class="container section security">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h2>安全</h2>
					<p>
					我们采用多签名机制和业界领先的磁盘加密技术，确保您虚拟资产的安全。同时所有交易相关服务通过SSL加密数据。
					</p>
				</div>
				<div class="col-md-4"><img src="image/illustration4.png" alt=""/></div>
			</div> <!-- row -->
		</div> <!-- container -->

		<!------------------------------------------>

		<div class="container section stats">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table">
						<thead>
							<tr>
								<th>@Messages("ticker.market")</th>
								<th>@Messages("ticker.price")</th>
								<th>@Messages("ticker.gain")</th>
								<th>@Messages("ticker.high")</th>
								<th>@Messages("ticker.low")</th>
								<th>@Messages("ticker.volume")</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ticker in tickers">
								<td>{{ticker.market}}</td>
								<td>{{ticker.price.display_short}} {{ticker.price.currency}}<img ng-show="{{ticker.trend != 'keep'}}" ng-src="image/{{ticker.trend}}.png"></td>
								<td>{{ticker.gain ? (ticker.gain * 100).toFixed(2) : 0}}% <img ng-show="{{ticker.gain != 0}}" ng-src="image/{{ticker.gain>0?'up':'down'}}.png"></td>
								<td>{{ticker.high.display_short}} {{ticker.high.currency}}</td>
								<td>{{ticker.low.display_short}} {{ticker.low.currency}}</td>
								<td>{{ticker.volume.display_short}} {{ticker.volume.currency}}</td>
								<td class="sparkline-{{ticker.market}}"></td>
							</tr>
						</tbody>
					</table>
				</div> <!-- col -->
			</div> <!-- row -->
		</div> <!-- container -->
	</sections>

	<!-- Start Footer -->
	<footer>
		<div class="container">
			<div class="row footer-widgets">
				<div class="col-md-8">
					<div class="footer-widget contact-widget">
						<h4>联系我们<span class="head-line"></span></h4>
						<ul class="pull-left">
							<li><span><i class="fa fa-building-o"></i></span> 上海市浦东闵行区星中路11号阳光乾城苑55栋</li>
							<li><span><i class="fa fa-phone"></i></span> 18603589688</li>
							<li><span><i class="fa fa-envelope-o"></i></span> admin@@coinport.com</li>
							<li><span><i class="fa fa-globe"></i></span> www.coinport.com</li>
						</ul>
						<ul class="pull-left footer-location">
							<li><a href="#"><img alt="" src="image/baidumap.png"/></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="footer-widget">
						<h4>服务与帮助<span class="head-line"></span></h4>
						<ul>
							<li><a href="#"><i class="fa fa-shield"></i>隐私政策</a></li>
							<li><a href="#"><i class="fa fa-coffee"></i>服务协议</a></li>
							<li> <a href="#"><i class="fa fa-th"></i> 法律声明</a> </li>
							<li> <a href="#"><i class="fa fa-github"></i> 源代码</a> </li>
							<li> <a href="#"><i class="fa fa-code"></i> API</a> </li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="footer-widget mail-subscribe-widget">
						<h4>关注我们<span class="head-line"></span></h4>
						<ul class="social-icons">
							<li><a class="" href="#"><i class="fa fa-twitter"></i> twitter：coinport</a></li>
							<li><a class="" href="#"><i class="fa fa-weibo"></i> 新浪微博：coinport</a></li>
							<li><a class="" href="#"><i class="fa fa-qq"></i> 微信：coinport</a></li>
						</ul>
					</div>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->

		<div class="copyright-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">© Coinport Inc. 2014. All rights reserved</div>
				</div>
			</div>
		</div>
	</footer>
</div> <!-- container -->

<!-- Go To Top Link -->
<div>
	<a href="#" class="back-to-top"> <i class="fa fa-chevron-up"></i> </a>
</div>

<script>
var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?9e68a2c3167a62fbc538135dc864cad9";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
})();
</script>


</body>
</html>
