@(msg: String = "")(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
@__css("/stylesheets/main.css")

<title>@Messages("title")</title>
</head>

<body ng-app="coinport.login">
<div class="page-wrapper login-page">
@__navbar("login")


<div class="container container-main" ng-controller="LoginCtrl">
    @if(msg != null && msg.nonEmpty) {
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="alert"><b>@Messages(msg)</b></div>
            </div>
        </div>
    }

    <div class="login col-md-offset-1 col-md-10">
        <div class="login-screen">
            <div class="login-icon">
                <img src="/image/login/icon.png" alt="Welcome to Mail App">
                <h4>Welcome to <small>Coinport</small></h4>
            </div>

            <div class="login-form">
                <form class="form" role="form" id="login-form" name="loginForm">
                <div class="form-group">
                    <input type="email" class="form-control login-field" placeholder="@Messages("login.userNamePlaceHolder")" id="login-name" ng-model="login.username">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control login-field" placeholder="@Messages("login.pwdPlaceHolder")" id="login-pass" ng-model="login.password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="form-group" ng-show="showError">
                    <p class="error text-center" ng-bind="errorMessage"/>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="doLogin()">@Messages("login.doLogin")</button>
                <a class="login-link" href="/account/forgetpassword">@Messages("login.forgotPassword")</a>
                <a class="login-link" href="/account/resendVerifyEmail/{{login.username}}" ng-show="ifEmailNotVerified">@Messages("resendVerifyEmail")</a>

                </form>
            </div>
        </div>
    </div>
</div>


@__footer(showNumOfUsers = false)
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/javascripts/login.js")
@__tracking_js()
</body>
</html>
