@()(implicit session: Session, lang: Lang)
@import utils.Constant._
<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.user">
<div class="page-wrapper opendata-browser">
@__navbar("openness")


<div class="container container-main opendata-data" ng-controller="UserCtrl">
        <h3>Markets</h3>
        <div class="row">
        <div class="col-md-12">
            <h4>Summary</h4>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th nowrap>@Messages("user.coinType")</th>
                        <th nowrap class="text-right">Price</th>
                        <th nowrap class="text-right"><img src="/image/exchanges/mintpal.ico"></th>
                        <th nowrap class="text-right"><img src="/image/exchanges/c.png"></th>
                        <th nowrap class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                @for(market <- markets) {
                    <tr>
                        <td nowrap>
                            <img ng-src='/image/coins/@(market.toString.split("-")(0).toLowerCase()).png'>
                            <b>@market</b>
                        </td>
                        <td nowrap class="text-right"><b ng-bind="account.total.value"></b></td>
                        <td nowrap class="text-right">
                            <img src="/image/favicon.ico"> 0.121
                            <img src="/image/exchanges/mintpal.ico"> 0.131
                            <img src="/image/exchanges/c.png"> 0.122
                        </td>
                        <td nowrap class="text-right" ng-bind="account.locked.value"></td>
                        <td nowrap class="text-right" ng-bind="account.pendingWithdrawal.value"></td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
        </div>
</div>

@__footer()
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/js/user.js")
</body>
</html>
