@(index: Int, fix: Boolean = true)(implicit session: Session, lang: Lang)
<div id="navbar" class="navbar @if(fix) {navbar-fixed-top} else {navbar-top}" ng-controller="NaviCtrl">
    <div class="container">
        <div class="">
            <ul class="nav navbar-nav navbar-middle">
                @if(index==0){<li class="active">} else {<li>}
                    <a href="/">@Messages("nav.home")</a>
                </li>
                @if(index==1){<li class="active">} else {<li>}
                    <a href="/trade">@Messages("nav.trade")</a>
                </li>
                @if(index==2){<li class="active">} else {<li>}
                    <a href="/account">@Messages("nav.account")</a>
                </li>
                @if(index==3){<li class="active">} else {<li>}
                    <a href="/market#/"> @Messages("nav.market")</a>
                </li>
                @if(index==4){<li class="active">} else {<li>}
                    <a href="/open">@Messages("nav.open")</a>
                </li>
            </ul>
            @session.get("uid") match {
                case Some(uid: String) => {
                    <span ng-show="false" ng-init="isLogin=true"></span>
                    <span ng-show="false" ng-init="uid=@uid"></span>
                    <span ng-show="false" ng-init="username='@(session.get("username"))'"></span>
                }
                case None => {
                    <span ng-show="false" ng-init="isLogin=false"></span>
                }
            }
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLogin">
                    <a class="user" href="/user/{{uid}}"><i class="fa fa-user"></i>{{username}}</a>
                </li>
                <li ng-show="isLogin">
                    <a href="/account/logout" class="">@Messages("nav.logout")</a>
                </li>

                <li ng-show="!isLogin">
                    <a href="#" class="" ng-click="openLoginWindow(0)">@Messages("nav.login")</a>
                </li>
                <li ng-show="!isLogin">
                    <a href="#" class="" ng-click="openLoginWindow(1)">@Messages("nav.register")</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-controller="AlertCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type.toLowerCase()}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>
