@(msg: String)(implicit lang: Lang)
<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Messages("title")</title>
    @__common_css()
    @__css("/css/ommon_error.css")
    @__js_lang()
</head>

<body ng-app="coinport.depth">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="main-logo">
              <a href="/trade"><img src="/image/homepage/logo.png" alt="Coinport"></img></a>
              <h2>Page Not Found!</h2>
            </div>
        </div>
    </div>
</div>


<!-- CONTENT END ================================ -->
</div> <!-- id="body-container" -->
</div> <!-- top-container -->
@__common_js()
@__tracking_js()
</body>
</html>

