@()(implicit session: Session, lang: Lang)
@__START(
    ngApp = "open",
    navIndex = 4,
    cssFiles = Seq("/css/opendata.css"),
    jsFiles  = Seq("/javascripts/opendata.min.js"))

<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" cp-nav>
            <li route="#/about/@(lang.code)"><a href="#/about/@(lang.code)">About</a></li>
            <li route="#/opensource"><a href="#/opensource">Open-sourced</a></li>
            <li route="#/opendata"><a href="#/opendata">Open-data</a></li>
            <li route="#/reserve"><a href="#/reserve">Provable full reserve</a></li>
            <li route="#/connectivity"><a href="#/connectivity">Connectivity</a></li>
        </ul>
    </div>

    <div class="col-md-10 data-container"  ng-view></div>
</div>

@__END()
