@()(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>coinport</title>
    @__common_css()
    @__css("/css/open.css")
    @__js_lang()
</head>

<body ng-app="coinport.open">
@__nojs()
<div id="top-container">
@__navbar(4)
<div id="body-container">
<!-- CONTENT START ================================ -->


<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" cp-nav>
            <li route="#/about/@(lang.code)"><a href="#/about/@(lang.code)">About</a></li>
            <li route="#/opensource"><a href="#/opensource">Open-sourced</a></li>
            <li route="#/opendata"><a href="#/opendata">Open-data</a></li>
            <li route="#/reserve"><a href="#/reserve">Provable full reserve</a></li>
            <li route="#/connectivity"><a href="#/connectivity">Connectivity</a></li>
        </ul>
    </div>

    <div class="col-md-10 data-container"  ng-view></div>
</div>


<!-- CONTENT END ================================ -->
</div>  <!-- id="body-container" -->
@__footer()
</div> <!-- id="top-container" -->

@__common_js()
@__js("/js/open.js")
</body>
</html>
