@()(implicit session: Session, lang: Lang)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>coinport</title>
    @imports()
    <script type="text/javascript" src="js/open.js"></script>
</head>

<body ng-app="coinport.open">
@navbar(4)
<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" cp-nav>
            <li route="#/reserve"><a href="#/reserve">Reserve Proof</a></li>
            <li route="#/download"><a href="#/download">Download Data</a></li>
            <li route="#/code"><a href="#/code">Source Code</a></li>
        </ul>
    </div>
    <div class="col-md-10"  ng-view></div>
</div>
@footer()
</body>
</html>