@(oid: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.order">
<div class="page-wrapper opendata-browser">
@__navbar2("openness")


<div class="container opendata-data" ng-controller="OrderCtrl">
        <div class="row">
            <div class="col-md-12"><h3>@Messages("order.order"): @oid</h3> </div>

            <div class="col-md-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <td nowrap>@Messages("order.submitTime")</td>
                        <td nowrap>{{order.submitTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                        <td nowrap>@Messages("order.type")</td>
                        <td nowrap><span class="{{order.operation.toLowerCase()}}">{{order.operation | orderTypeText}}</span></td>
                        <td nowrap>@Messages("order.status")</td>
                        <td nowrap><span>{{order.status | orderStatusText}}</span></td>
                    </tr>
                    <tr>
                        <td nowrap>@Messages("order.baseCurrency")</td>
                        <td nowrap>{{order.subject}}</td>
                        <td nowrap>@Messages("order.targetCurrency")</td>
                        <td nowrap>{{order.currency}}</td>
                        <td nowrap></td>
                        <td nowrap></td>
                    </tr>
                    <tr>
                        <td nowrap>@Messages("order.orderPrice")</td>
                        <td nowrap>{{order.price | price}} {{order.currency}}/{{order.subject}}</td>
                        <td nowrap>@Messages("order.averagePrice")</td>
                        <td nowrap>{{order.finishedAmount / order.finishedQuantity | price}} {{order.currency}}/{{order.subject}}</td>
                        <td nowrap></td>
                        <td nowrap></td>
                    </tr>
                    <tr>
                        <td nowrap>@Messages("order.orderAmount")</td>
                        <td nowrap>{{order.amount | coin}} {{order.subject}}</td>
                        <td nowrap>@Messages("order.tradingAmount")</td>
                        <td nowrap>{{order.finishedQuantity | coin}} {{order.subject}}</td>
                        <td nowrap></td>
                        <td nowrap></td>
                    </tr>
                    <tr>
                        <td nowrap>@Messages("order.orderValue")</td>
                        <td nowrap>{{order.total | coin}}  {{order.currency}}</td>
                        <td nowrap>@Messages("order.tradingValue")</td>
                        <td nowrap>{{order.finishedAmount | coin}}  {{order.currency}}</td>
                        <td nowrap></td>
                        <td nowrap></td>
                   </tr>
                   </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>@Messages("order.transactions")</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>@Messages("transaction.tid")</th>
                    <th>@Messages("transaction.timestamp")</th>
                    <th>@Messages("transaction.price")</th>
                    <th>@Messages("transaction.amount")</th>
                    <th>@Messages("transaction.value")</th>
                    <th>@Messages("transaction.taker")</th>
                    <th>@Messages("transaction.type")</th>
                    <th>@Messages("transaction.maker")</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in transactions.items">
                    <td nowrap><a href="/transaction/{{item.id}}" class="title"><i class="fa fa-retweet"></i> {{item.id}}</a></td>
                    <td nowrap><i class="fa fa-clock-o"></i> {{item.timestamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td nowrap class="text-right">{{item.price.value | price}} {{item.price.currency}}</td>
                    <td nowrap class="text-right">{{item.subjectAmount.value | coin}} {{item.subjectAmount.currency}}</td>
                    <td nowrap class="text-right">{{item.currencyAmount.value | coin}} {{item.currencyAmount.currency}}</td>
                    <td nowrap><a href="/user/{{item.taker}}" class="title"><i class="fa fa-user"></i> {{uid==item.taker ? '@Messages("me")' : (item.taker)}}</a></td>
                    <td nowrap class="{{item.sell | txTypeClass}}">{{item.sell | txTypeText}} <i class="fa fa-lg {{item.sell | txTypeIcon}}"></i></td>
                    <td nowrap><a href="/user/{{item.maker}}" class="title"><i class="fa fa-user"></i> {{uid==item.maker ? '@Messages("me")' : (item.maker)}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



@__footer3()
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/javascripts/order.js")
</body>
</html>
