@(messageKey: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.prompt">
<div class="page-wrapper prompt">
@__navbar2("account")


<div class="container coontainer-main">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
        	<div class="alert"><b>@Messages(messageKey)</b></div>
        </div>
    </div>
</div>



@__footer3()
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/lib/d3/d3.min.js")
@__js("/js/account.js")
@__tracking_js()
</body>
</html>
