@(messageKey: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Messages("title")</title>
    @__common_css()
    @__css("/css/user_common.css")
    @__js_lang()
</head>

<body ng-app="coinport.verifyemail">
@__nojs()
<div id="top-container">
<div id="body-container">
<!-- CONTENT START ================================ -->


<div class="container">
    <div class="row">
        <div class="col-md-offset-1">
            <h4>@Messages(messageKey)</h4>
            <H4><a href="/">@Messages("prompt.backToHome")</a></h4>
        </div>
    </div>
</div>


<!-- CONTENT END ================================ -->
</div> <!-- top-container -->
</div> <!-- id="body-container" -->

@__common_js()
</body>
</html>
