@(email: String = "")(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
@__css("/stylesheets/main.css")
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.register" class="bg-turquoise">
<div class="page-wrapper bg-transparent register-page">
@__navbar("register")

<div class="container container-main" ng-controller="RegisterCtrl">
<div class="col-md-offset-1 col-md-10">
<div class="register-screen">
    <div class="register-icon">
        <img src="/image/logo.png" alt="Welcome to Coinport">
    </div>

    <div class="register-form">
        <form id="register-form" class="form" name="registerForm" novalidate>
            <div class="form-group">
                @println(s"email: $email")
                <input type="email" id="inputEmail" name="email" class="form-control register-field" placeholder="Email" ng-model="register.email" ng-init="register.email='@email'" required="">
                <label class="register-field-icon fui-user" for="inputEmail"></label>
            </div>

            <div class="form-group">
                <input name="password" type="password" id="inputPassword" class="form-control register-field" placeholder='@(Messages("password"))' ng-model="register.password" ng-minlength="6" ng-maxlength="20" required="">
                <label class="register-field-icon fui-lock" for="inputPassword"></label>
            </div>

            <div class="form-group">
                <input name="confirmPassword" type="password" id="confirmPassword" class="form-control register-field" placeholder='@(Messages("passwordConfirm"))' ng-model="register.confirmPassword" repeat-input="password" required="">
                <label class="register-field-icon fui-lock" for="confirmPassword"></label>
            </div>

            <div class="form-group">
                <div class="col-md-4 captcha nopaddingHorizontal">
                    <img ng-src="{{captcha.imageSrc}}" ng-model="captcha.imageSrc" ng-click="newCaptcha()" />
                </div>
                <div class="col-md-8 nopaddingHorizontal">
                    <input name="captchaCode" id="inputCaptchaCode" class="form-control register-field" placeholder='@(Messages("inputCaptcha"))' ng-model="captcha.text" required="">
                    <label class="register-field-icon fui-eye" for="inputCaptchaCode"></label>
                </div>
            </div>

            <div class="error-container">
                <div class="error" name="emailErrorMsg" ng-show="registerForm.email.$dirty && registerForm.email.$invalid && !registerForm.email.$focused">
                    <small class="text-danger text-center" ng-show="registerForm.email.$error.required">@Messages("register.email.error.required") </small>
                    <small class="text-danger text-center" ng-show="!registerForm.email.$error.required && registerForm.email.$dirty && registerForm.email.$invalid">@Messages("register.email.error.format")</small>
                </div>
                <div class="error" name="pwdErrorMsg" ng-show="registerForm.password.$dirty && registerForm.password.$invalid && !registerForm.password.$focused">
                    <small class="text-danger text-center" ng-show="registerForm.password.$error.minlength">@Messages("register.password.error.minlength")</small>
                    <small class="text-danger text-center" ng-show="registerForm.password.$error.maxlength">@Messages("register.password.error.maxlength")</small>
                </div>
                <div class="error" name="confirmpwdErrorMsg" ng-show="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$invalid && !registerForm.confirmPassword.$focused">
                    <small class="text-danger text-center" ng-show="registerForm.confirmPassword.$error.repeat">@Messages("register.password.error.confirm")</small>
                </div>
            </div>

            <small class="text-danger text-center" ng-show="showError" ng-bind="errorMessage"></small>

            <div class="userAgreement">
                <input id="userAgreement" name="userAgreement" type="checkbox" ng-model="userAgreementChecked">
                @Messages("register.termsCheckboxTextHead") <a href="/userAgreement.html" target="_blank">"@Messages("register.termsCheckboxTextLink")"</a>
                </input>
            </div>

            <button class="btn btn-block btn-lg btn-primary" type="submit" ng-click="doRegister()" ng-disabled="registerForm.$invalid || !userAgreementChecked">@(Messages("ok"))</button>
        </form>
    </div>
</div>
</div>
</div>

@__footer(showPromote = false)
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/js/register.js")
@__tracking_js()
</body>
</html>
