@(token: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Messages("title")</title>
    @__common_css()
    @__css("/css/user_common.css")
    @__js_lang()
    <script type='text/javascript'>
        var _token = '@token'
    </script>
</head>

<body ng-app="coinport.password">
@__nojs()
<div id="top-container">
@__navbar(4)
<div id="body-container">
<!-- CONTENT START ================================ -->


<div class="container" ng-controller="ResetPasswordCtrl">
    <div class="row">
        <div class="col-md-offset-2"><h3>@Messages("resetpwd.title")</h3></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" name="resetPwdForm">
            <div class="form-group has-{{resetPwdForm.password.$valid?'success':'error'}} has-feedback">
                <label class="control-label col-sm-3" for="inputPassword">@Messages("resetpwd.newPassword")</label>
                <div class="col-sm-6">
                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="@Messages("resetpwd.newPwdPlaceHolder")" ng-model="pwdreset.password" ng-minlength="8" required>
                    <span class="glyphicon glyphicon-{{resetPwdForm.password.$valid?'ok':'remove'}} form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-{{resetPwdForm.confirmPassword.$valid?'success':'error'}} has-feedback">
                <label class="control-label col-sm-3" for="inputConfirmPassword">@Messages("resetpwd.repeat")</label>
                <div class="col-sm-6">
                    <input name="confirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="@Messages("resetpwd.repeatPlaceHolder")" ng-model="pwdreset.confirmPassword" confirm-password="pwdreset.confirmPassword" repeat-input="password" required="">
                    <span class="glyphicon glyphicon-{{resetPwdForm.confirmPassword.$valid?'ok':'remove'}} form-control-feedback"></span>
                </div>
            </div>

            <div style="height: 80px;">
                <div class="alert alert-danger col-sm-offset-3 col-sm-6" ng-show="showError">{{errorMessage}}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <button class="btn btn-block btn-success" ng-click="resetPassword()" ng-disabled="!resetPwdForm.$valid"><i class="glyphicon glyphicon-ok"></i>@Messages("resetpwd.submit")</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


<!-- CONTENT END ================================ -->
</div>  <!-- id="body-container" -->
@__footer()
</div> <!-- id="top-container" -->

@__common_js()
@__js("/javascripts/password.js")
</body>
</html>


