@()(implicit session: Session, lang: Lang)
@import utils.Constant._

@isLogin() = @{session.get("uid").isDefined}
@uid = @{session.get("uid").get}

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
@__css("/stylesheets/invoice-icons.css")
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.trade"  class="bg-mid-night-blue">
<div class="page-wrapper bg-transparent trade">
@__navbar("trade")

@if(isLogin()) {
    <span ng-init="uid='@uid'" ng-show="false"></span>
} else {
    <span ng-init="uid='0'" ng-show="false"></span>
}

<div class="container container-main light-bordered bg-light">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" id="vertical-nav" cp-nav>
                 @for(market <- markets) {
                <li route="#/@market">
                    <a href="#/@market">
                        <img ng-src="/image/coins/@(market.toString.split('-')(0).toLowerCase()).png">
                        @market
                    </a>
                </li>
                }
            </ul>
        </div>

        <div class="content col-md-10" ng-view> </div>
    </div>
</div>

@__footer(false)
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/lib/highstock.js")
@__js("/js/trade.js")
@__tracking_js()
</body>
</html>
