@()(implicit session: Session, lang: Lang)
@import utils.Constant._

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body ng-app="coinport.trade">
<div class="page-wrapper trade">
@__navbar("trade")

@session.get("uid") match {
    case Some(id: String) => {
        <span ng-init="uid='@id'" ng-show="false"></span>
    }
    case None => {
        <span ng-init="uid='0'" ng-show="false"></span>
    }
}

<div class="container container-main light-bordered">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" cp-nav>
                 @for(market <- markets) {<li route="#/@market"><a href="#/@market">@market</a></li> }
            </ul>
        </div>

        <div class="content col-md-10" ng-view> </div>
    </div>
</div>

@__footer(false)
</div> <!-- page-wrapper -->
@__tail_commons()
@__js("/lib/highstock.js")
@__js("/js/trade.js")
@__tracking_js()
</body>
</html>
