@(tid: String)(implicit session: Session)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>coinport</title>
    @imports()
    <link rel="stylesheet"  href="/css/coinport.css">
    <script src="/js/transaction.js"></script>
</head>

<body ng-app="coinport.transaction">
@navbar(4)
<div class="container" id="main-container" ng-controller="TxCtrl">
    <div id="main-content">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="fa fa-list-alt"></i>  @tid</h4>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>TID</th>
                    <th>成交时间</th>
                    <th>成交价</th>
                    <th>成交量</th>
                    <th>总金额</th>
                    <th>交易发起用户</th>
                    <th>交易类型</th>
                    <th>挂单用户</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/transaction/{{transaction.id}}" class="title"><i class="fa fa-list-alt"></i> {{transaction.id}}</a></td>
                    <td><i class="fa fa-clock-o"></i> {{transaction.timestamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td><i class="fa fa-cny"></i> {{transaction.price | currency}}</td>
                    <td><i class="fa fa-btc"></i> {{transaction.amount | quantity}}</td>
                    <td><i class="fa fa-cny"></i> {{transaction.total | currency}}</td>
                    <td><a href="/user/{{transaction.taker}}" class="title"><i class="fa fa-user"></i> {{uid==transaction.taker ? '我' : (transaction.taker)}}</a></td>
                    <td class="{{item.sell | txTypeClass}}">{{item.sell | txTypeText}} <i class="fa fa-lg {{item.sell | txTypeIcon}}"></i></td>
                    <td><a href="/user/{{transaction.maker}}" class="title"><i class="fa fa-user"></i> {{uid==transaction.maker ? '我' : (transaction.maker)}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@footer()
</body>
</html>