@(user: Option[String])
<!DOCTYPE html>
<html lang="en" ng-app="coinport.user">
<head>
    <meta charset="utf-8">
    <title>coinport</title>
    @imports()
    <script src="/js/user.js"></script>
</head>

<body ng-app="coinport.user">
@navbar(user)
<div class="container" id="main-container" ng-controller="UserCtrl">
    <div id="main-content">
        <div class="row">
            <div class="col-md-6">
                {{uid}}
            </div>
            <div class="col-md-6">
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>币种</th><th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts">
                        <td><img ng-src="image/{{account[0]}}_logo.png" height="15"> {{account[0]}}</td>
                        <td>{{account}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
@footer()
</body>
</html>