@(user: Option[String], target: String)
<!DOCTYPE html>
<html lang="en" ng-app="coinport.user">
<head>
    <meta charset="utf-8">
    <title>coinport</title>
    @imports()
    <script src="/js/user.js"></script>
</head>

<body ng-app="coinport.user">
@navbar(user)
<div class="container" id="main-container" ng-controller="UserCtrl">
    <div id="main-content">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="fa fa-user"></i>  @target</h4>
                <h4>账户余额</h4>
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>币种</th><th>余额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>CNY</td>
                        <td><i class="fa fa-cny"></i> {{accounts['RMB']}}</td>
                    </tr>
                    <tr>
                        <td>BTC</td>
                        <td><i class="fa fa-btc"></i> {{accounts['BTC']}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>充值记录</h4>
                <table class="table table-condensed ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>提交时间</th>
                        <th>更新时间</th>
                        <th>金额</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.created | date:"MM-dd HH:mm:ss"}}
                        </td>
                        <td>
                            {{item.updated | date:"MM-dd HH:mm:ss"}}
                        </td>
                        <td>
                            {{item.deposit.display}}
                        </td>
                        <td>
                            <span class="badge">{{item.status | depositStatusText}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h4>提现记录</h4>
                <table class="table table-condensed ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>提交时间</th>
                        <th>更新时间</th>
                        <th>金额</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="item in withdrawals | orderBy: ['-date', '-id']" class="">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.created | date:"MM-dd HH:mm:ss"}}
                        </td>
                        <td>
                            {{item.updated | date:"MM-dd HH:mm:ss"}}
                        </td>
                        <td>
                            {{item.withdrawal.display}}
                        </td>
                        <td>
                            <span class="badge">{{item.status | withdrawalStatusText}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>交易记录</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>TID</th>
                    <th>成交时间</th>
                    <th>成交价</th>
                    <th>成交量</th>
                    <th>总金额</th>
                    <th>交易发起用户</th>
                    <th>交易类型</th>
                    <th>挂单用户</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in transactions">
                    <td><a href="/transaction/{{item.id}}" class="title"><i class="fa fa-list-alt"></i> {{item.id}}</a></td>
                    <td><i class="fa fa-clock-o"></i> {{item.timestamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td><i class="fa fa-cny"></i> {{item.price | currency}}</td>
                    <td><i class="fa fa-btc"></i> {{item.amount | quantity}}</td>
                    <td><i class="fa fa-cny"></i> {{item.total | currency}}</td>
                    <td><a href="/user/{{item.taker}}" class="title"><i class="fa fa-user"></i> {{uid==item.taker ? '我' : (item.taker)}}</a></td>
                    <td class="{{item.sell | txTypeClass}}">{{item.sell | txTypeText}} <i class="fa fa-lg {{item.sell | txTypeIcon}}"></i></td>
                    <td><a href="/user/{{item.maker}}" class="title"><i class="fa fa-user"></i> {{uid==item.maker ? '我' : (item.maker)}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@footer()
</body>
</html>