@()(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
@__head_commons()
@__js_lang()
    <title>@Messages("title")</title>
</head>

<body>
    <div class="page-wrapper register">
        @__navbar("register")

        <div class="container container-main" ng-controller="RegisterCtrl">
            <div class="row">
                <div class="col-md-offset-5"><h3>@Messages("register.termsTitle")</h3></div>
            </div>
            <br/>

        </div>

        @__footer(showNumOfUsers = false)
    </div> <!-- page-wrapper -->
    @__tail_commons()
    @__js("/javascripts/register.js")
    @__tracking_js()
</body>
</html>
