@(profile: Map[String, String])(implicit lang: Lang)

<section class="header-3-sub">
    @if("true".equals(profile.get("mobileVerified").getOrElse("false")) && profile.get("realName").getOrElse("").trim.length > 0) {
    <div class="row" >
        <div class="col-md-12">
        <h3>@Messages("accountsettings.view.title")</h3>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.realName")</th>
                    <td>@profile.get("realName").getOrElse("")</td>
                </tr>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.mobile")</th>
                    <td>@profile.get("mobile").getOrElse("")</td>
                </tr>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.publicUrl")</th>
                    <td> <a href="/user/{{uid}}">https://www.coinport.com/user/{{uid}}</a> </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    } else {
    <div class="row">
    <div class="col-md-12">
        <h3>@Messages("accountsettings.title")</h3>
        <br/>
        <div class="account-settings">
            <form class="form-horizontal" name="accountSettingsForm">
                <div class="form-group has-{{accountSettingsForm.realName.$valid?'success':'error'}} has-feedback">
                    <label class="control-label col-sm-2">@Messages("accountsettings.realName")</label>
                    <div class="col-sm-4">
                        <input name="realName" id="realName" class="form-control" placeholder="@Messages("accountsettings.realName")" ng-model="account.realName" required="" ng-maxlength="22">
                        <!-- <span class="glyphicon glyphicon-{{accountSettingsForm.realName.$valid?'ok':'remove'}} form-control-feedback"></span> -->
                    </div>
                    <div class="col-sm-2 right-element">@Messages("accountsettings.realNamePrompt")</div>
                </div>

                <div class="form-group has-{{accountSettingsForm.confirmRealName.$valid?'success':'error'}} has-feedback">
                    <label class="control-label col-sm-2">@Messages("accountsettings.realNameAgain")</label>
                    <div class="col-sm-4">
                        <input name="confirmRealName" id="confirmRealName" class="form-control" placeholder="@Messages("accountsettings.realNameAgain")" ng-model="account.confirmRealName" repeat-input="realName" required="">
                    </div>
                </div>

                <!--
                <div class="form-group">
                <label class="control-label col-sm-2">证件类型</label>
                <div class="col-sm-2">
                <select name="credentialType" class="form-control" ng-model="credentialType" ng-options="item.name for item in credentialItems" required></select>
                </div>
                </div>

                <div class="form-group">
                <label class="control-label col-sm-2">证件号码</label>
                <div class="col-sm-4">
                <input name="credentialId" class="form-control" placeholder="证件号码" ng-model="account.credentialId" required>
                </div>
                </div>
                -->
                <div class="form-group has-success has-feedback">
                    <label class="control-label col-sm-2">@Messages("accountsettings.country")</label>
                    <div class="col-sm-4">
                        <select name="country" id="countries_phone1" class="form-control bfh-countries" data-country="CN" data-flags="false"></select>
                    </div>
                </div>

                <div class="form-group has-{{accountSettingsForm.mobile.$valid?'success':'error'}} has-feedback">
                    <label class="control-label col-sm-2">@Messages("accountsettings.mobile")</label>
                    <div class="col-sm-4">
                        <input name="mobile" id="mobile" type="text" class="form-control bfh-phone" data-country="countries_phone1" ng-model="account.mobile" ng-minlength="9" required="">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn-success sendSmsBtn right-element" ng-click="sendVerifySms()" ng-disabled="isTiming" ng-bind="verifyButton"> </button>
                    </div>
                </div>


                <div class="form-group has-{{accountSettingsForm.confirmRealName.$valid?'success':'error'}} has-feedback">
                    <label class="control-label col-sm-2">@Messages("accountsettings.smsVerifyCode")</label>
                    <div class="col-sm-4">
                        <input name="verifyCode" class="form-control" placeholder="@Messages("accountsettings.smsVerifyCode")" ng-model="account.verifyCode" min-length="5" required="">
                    </div>
                </div>

                <div style="height: 40px;">
                    <div class="alert-danger col-sm-offset-2 col-sm-6" ng-show="showUpdateAccountError" ng-bind="updateAccountErrorMessage"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-block btn-success btn-account-settings" ng-click="updateAccountSettings()" ng-disabled="!accountSettingsForm.$valid"><i class="glyphicon glyphicon-ok"></i>@Messages("accountsettings.submit")</button>
            </div>
        </div>
        <!-- <div class="col-sm-2">
        <button class="btn btn-block btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i>@Messages("accountsettings.cancel")</button>
        </div> -->
    </div>
    </div>
    }

</section>
