@()(implicit lang: Lang)
<div class="row">
    <h4><strong>{{currency}}</strong>@Messages("transfer.withdrawal")</h4>
    <h4>@Messages("transfer.withdrawalMessage")</h4>
    <h4>@Messages("transfer.account")：{{balance.available.display_short}} {{currency}}</h4>
</div>
<div class="row">
    <form class="form-horizontal" name="withdrawalForm">
        <div class="form-group">
            <label class="control-label col-sm-3">{{currency}} @(Messages("transfer.withdrawalAmount"))</label>
            <div class="col-sm-6">
                <input type="number" name="amount" class="form-control" placeholder='@Messages("transfer.withdrawalAmount")' ng-model="withdrawalData.amount"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">@(Messages("transfer.withdrawalAddress"))</label>
            <div class="col-sm-6">
                <input name="address" class="form-control" placeholder="{{withdrwalAddress}}" ng-model="withdrawalData.address"  required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"> @(Messages("transfer.pinpassword"))</label>
            <div class="col-sm-6">
                <input name="pinpassword" class="form-control" placeholder='@Messages("transfer.pinpassword")' ng-model="withdrawalData.pinpassword"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> @(Messages("transfer.phoneVerCode"))</label>
            <div class="col-sm-6">
                <input name="phoneVerCode" class="form-control" placeholder='@Messages("transfer.phoneVerCode")' ng-model="withdrawalData.phoneVerCode"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> @(Messages("transfer.googleAuthCode"))</label>
            <div class="col-sm-6">
                <input name="googleAuthCode" class="form-control" placeholder='@Messages("transfer.googleAuthCode")' ng-model="withdrawalData.googleAuthCode"  required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button class="btn btn-block btn-success" ng-click="withdrawal()"><i class="glyphicon glyphicon-ok"></i> @Messages("transfer.depositAmount")</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-condensed ">
        <thead>
        <tr>
            <th>@Messages("transfer.id")</th>
            <th>@Messages("transfer.created")</th>
            <th>@Messages("transfer.updated")</th>
            <th>@Messages("transfer.amount")</th>
            <th>@Messages("transfer.status")</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="item in withdrawals | orderBy: ['-date', '-id']" class="">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.created | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.updated | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.amount.display}}
            </td>
            <td>
                <span class="badge">{{item.status  | withdrawalStatusText}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination boundary-links="true" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadWithdrawals()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
