@()(implicit lang: Lang)
@import utils.Constant._

<section class="header-3-sub">
    <div class="row">
        <div class="col-md-12">
            <h3>@Messages("order.myOrders")

                <select ng-model="market" ng-change="changeMarket()">
                    <option value="all">All</option>
                    @for(market <- allmarkets) {<option>@market</option>}
                </select>
            </h3>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!--<th nowrap>@(Messages("order.oid"))</th>-->
                        <th nowrap>@(Messages("order.time"))</th>
                        <th nowrap>@(Messages("order.type"))</th>
                        <th nowrap class="text-right">@(Messages("order.price"))</th>
                        <th nowrap class="text-right">@(Messages("order.amount"))</th>
                        <th nowrap class="text-right">@(Messages("order.finishedAmount"))</th>
                        <th nowrap class="text-right">@(Messages("order.total"))</th>
                        <th nowrap class="text-right">@(Messages("order.finishedTotal"))</th>
                        <th nowrap>@(Messages("order.status"))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="order in orders.items | orderBy: ['-date', '-tid']" class="">
                        <!--<td nowrap> <a href="/order/{{order.id}}">{{order.id}}</a> </td>-->
                        <td nowrap> <a href="/order/{{order.id}}"><i class="fa fa-clock-o"></i> {{order.submitTime | date:"MM-dd HH:mm:ss"}}</a> </td>
                        <td nowrap class="{{order.operation | orderTypeClass}}">{{order.operation | orderTypeText}} </td>
                        <td nowrap class="text-right {{order.operation | orderTypeClass}}">{{order.price.value | price}} {{order.currency}} </td>
                        <td nowrap class="text-right"> {{order.amount.value | quantity}} {{order.subject}}</td>
                        <td nowrap class="text-right"> {{order.finishedQuantity.value | quantity}} {{order.subject}} </td>
                        <td nowrap class="text-right"> {{order.total.value | quantity}} {{order.currency}} </td>
                        <td nowrap class="text-right"> {{order.finishedAmount.value | quantity}} {{order.currency}} </td>
                        <td nowrap> <span class="badge text-white bg-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span> </td>
                        <td nowrap>
                            <a ng-show="order.status <= 1" href="" ng-click="cancelOrder(order)">@(Messages("trade.cancel"))</a>
                        </td>
                    </tr>
                </tbody>
                @__empty_table_indicator("orders.items")
            </table>
            <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="orders.count" ng-model="page" class="pagination-sm" ng-change="reload()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</section>
