@()(implicit lang: Lang)
@import utils.Constant._

<section class="header-3-sub">
    <div class="row">
        <div class="col-md-12"><h3>@Messages("asset.transfer")</h3> </div>
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th nowrap>@Messages("open.coinType")</th>
                        <!--<th nowrap>@Messages("open.network.status")</th>-->
                        <th nowrap class="text-right">@Messages("user.account.total")</th>
                        <th nowrap class="text-right">@Messages("user.available")</th>
                        <th nowrap class="text-right">@Messages("user.orderPending")</th>
                        <th nowrap class="text-right">@Messages("user.withdrawalPending")</th>
                        <th nowrap class="text-right">@Messages("transfer.depositAddress")</th>
                        <th nowrap></th>
                    </tr>
                </thead>
                <tbody>
                    @for(coin <- coins) {
                    <tr ng-init="getCurrencyDetails('@coin')">
                        <td nowrap>
                            <img ng-src="/image/coins/@(coin.toString.toLowerCase()).png">
                            <strong>@coin</strong>
                        </td>
                        <!--<td nowrap><span ng-show="status['@coin']" class="{{status['@coin'].delay | networkStatusClass}}">{{status['@coin'].delay | networkStatusText}}</span></td>-->
                        <td nowrap class="text-right"><b>{{accounts['@coin'].total.value | quantity}}</b></td>
                        <td nowrap class="text-right">{{accounts['@coin'].available.value | quantity}}</td>
                        <td nowrap class="text-right">{{accounts['@coin'].locked.value | quantity}}</td>
                        <td nowrap class="text-right">{{accounts['@coin'].pendingWithdrawal.value | quantity}}</td>
                        <td nowrap class="text-right">
                            <caddr>{{depositAddresses['@coin']}}</caddr>
                            <a target="_blank" href="{{addressUrl['@coin']}}"><i class="fa fa-external-link"></i></a>
                        </td>
                        <td nowrap>
                            <a href="#/deposit/@coin">@Messages("transfer.deposit")</a>
                            |
                            <a href="#/withdrawal/@coin">@Messages("transfer.withdraw")</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <h3>@Messages("transfer.transferRecord")</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th nowrap>@Messages("transfer.created")</th>
                    <th nowrap>@Messages("transfer.updated")</th>
                    <th nowrap>@Messages("user.transfer.operation")</th>
                    <th nowrap>@Messages("user.coinType")</th>
                    <th nowrap>@Messages("transfer.amount")</th>
                    <th nowrap>@Messages("transfer.status")</th>

                    <!--<th nowrap>@Messages("transfer.txid")</th>-->
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="item in transfers | orderBy: ['-date', '-id']" class="">
                    <td nowrap><i class="fa fa-clock-o"></i> {{item.created | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap><i class="fa fa-clock-o"></i> {{item.updated > 0 ? (item.updated | date:"MM-dd HH:mm:ss") : ''}} </td>
                    <td nowrap> <span class="{{item.operation | transferOperationClass}}">{{item.operation | transferOperationText }} </span></td>
                    <td nowrap>
                        <img ng-src="/image/coins/{{item.amount.currency.toLowerCase()}}.png">
                        <strong>{{item.amount.currency}}</strong>
                    </td>
                    <td nowrap><span class="{{item.operation | transferOperationClass}}">{{item.operation | transferSign}}{{item.amount.value | quantity}}</span></td>
                    <td nowrap><span class="label label-{{item.status | transferStatusClass}}">{{item.status | transferStatusText}}</span></td>
                    <td>
                        <a target="_blank" href="{{item.txlink}}">
                            @Messages("transfer.txid") <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadTransfers()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</section>