@()(implicit lang: Lang)
@import utils.Constant._

<section class="content-3">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>@Messages("open.reserve.proof")</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th nowrap>@Messages("open.coinType")</th>
                            <th nowrap class="text-right">@Messages("user.available")</th>
                            <th nowrap class="text-right">@Messages("user.orderPending")</th>
                            <th nowrap class="text-right">@Messages("user.withdrawalPending")</th>
                            <th nowrap>Account</th>
                            <th nowrap>@Messages("open.reserve.coinaddr")</th>
                            <th nowrap class="text-right">@Messages("open.reserve.balance")</th>
                            <th nowrap class="text-right">Total Reserve</th>
                            <th nowrap>@Messages("open.reserve.ratio")</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(coin <- coins) {
                        <tr ng-init="getWallets('@coin')">
                            <td nowrap><strong>@coin</strong></td>
                            <td nowrap class="text-right">{{accounts['@coin'].available.value | coin}}</td>
                            <td nowrap class="text-right">{{accounts['@coin'].locked.value | coin}}</td>
                            <td nowrap class="text-right">{{accounts['@coin'].pendingWithdrawal.value | coin}}</td>
                            <td nowrap class="text-right">{{accounts['@coin'].available.value + accounts['@coin'].locked.value + accounts['@coin'].pendingWithdrawal.value | coin}}</td>
                            <td nowrap>
                                <span ng-repeat="wallet in hotWallets['@coin']">
                                    <a href="{{addressUrl['@coin']}}{{wallet.address}}" target="_blank" class="label label-warning" data-toggle="tooltip" data-placement="top" title="{{wallet.address}}">{{wallet.address}}</a>
                                </span>
                                <span ng-repeat="wallet in coldWallets['@coin']">
                                    <a href="{{addressUrl['@coin']}}{{wallet.address}}" target="_blank" class="label label-info" data-toggle="tooltip" data-placement="top" title="{{wallet.address}}">{{wallet.address}}</a>
                                </span>
                            </td>
                            <td nowrap class="text-right">
                                <span ng-repeat="wallet in hotWallets['@coin']">
                                    <span class="label label-warning">{{wallet.amount.value | coin}}</span>
                                </span>
                                <span ng-repeat="wallet in coldWallets['@coin']">
                                    <span class="label label-info">{{wallet.amount.value | coin}}</span>
                                </span>
                            </td>
                            <td nowrap class="text-right">{{walletsBalance['@coin'] | coin}}</td>
                            <td nowrap><span class="{{walletsBalance['@coin'] / (accounts['@coin'].available.value + accounts['@coin'].locked.value + accounts['@coin'].pendingWithdrawal.value)  || 0 | reserveRatioClass}}">{{((walletsBalance['@coin']) * 100 / (accounts['@coin'].available.value + accounts['@coin'].locked.value + accounts['@coin'].pendingWithdrawal.value)  || 0).toFixed(2)}}%</span></td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
