@()(implicit lang: Lang)
@import utils.Constant._
<section class="content-3">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>@Messages("open.network.title")</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>@Messages("open.coinType")</th>
                            <th>@Messages("open.network.lastactive")</th>
                            <th>@Messages("open.network.delayed")</th>
                            <th>@Messages("open.network.height")</th>
                            <th>@Messages("open.network.lastblock")</th>
                            <th>@Messages("open.network.status")</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(coin <- coins) {
                        <tr ng-init="getNetworkStatus('@coin')">
                            <td><strong>@coin</strong></td>
                            <td>{{status['@coin'].timestamp <= 0 ? '@Messages("open.network.neverseen")' : status['@coin'].timestamp | date:'MM-dd HH:mm:ss'}}</td>
                            <td>{{status['@coin'].delay | networkDelay}} @Messages("open.network.minutes")</td>
                            <td>{{status['@coin'].height}}</td>
                            <td><a target="_blank" href="{{blockUrl['@coin']}}{{status['@coin'].block}}">@Messages("open.network.checkNow")</a></td>
                            <td><span ng-show="status['@coin']" class="{{status['@coin'].delay | networkStatusClass}}">{{status['@coin'].delay | networkStatusText}}</span></td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

