@()(implicit session: Session, lang: Lang)
@import utils.Constant._

<section class="header-3-sub">
    <div class="row" >
        <div class="col-md-12" ng-show="showBind">
            <h3>@Messages("accountsettings.googleAuth")</h3>
            <alert type="success">@Messages("accountsettings.googleauth.hint")</br>
                @Messages("accountsettings.googleauth.followsteps")
            </alert>

            <div class="col-md-10">
                <h5>@Messages("accountsettings.googleAuth.stepOne"): </h5>
                <h5>@Messages("accountsettings.googleAuth.stepOneGuide") </h5>
                <table class="table table-striped table-hover">
                    <tr>
                        <td>
                            <a target="_blank" href="http://itunes.apple.com/cn/app/google-authenticator/id388497605?mt=8">
                            @Messages("accountsettings.googleAuth.iphone")
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="http://apk.hiapk.com/html/2013/07/1643619.html">
                            @Messages("accountsettings.googleAuth.android")
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="http://www.windowsphone.com/zh-cn/store/app/authenticatorg/4362996a-8528-4641-a983-57e63c74ce16">
                            @Messages("accountsettings.googleAuth.windowsphone")
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="https://code.google.com/p/lwuitgauthj2me/">
                                @Messages("accountsettings.googleAuth.Nokias")
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-10">
                <h5>@Messages("accountsettings.googleAuth.stepTwo"): </h5>
                <h5>@Messages("accountsettings.googleAuth.stepTwoGuide")</h5>
                <div class="row">
                    <label>@Messages("accountsettings.googleAuth.scanQRcode")</label>
                </div>
                 <div class="row">
                     <img style="margin-left: 20px; margin-bottom: 20px" src="{{authUrl}}">
                 </div>
                 <div class="row">
                     <label>@Messages("accountsettings.googleAuth.inputSecret")
                            <span style="color:#000000;"> {{secret}}</span></label>
                 </div>

            </div>

            <div class="col-md-12">
                <h5>@Messages("accountsettings.googleAuth.stepThree"): </h5>
                <h5>@Messages("accountsettings.googleAuth.stepThreeGuide")</h5>
                <alert type="danger">@Messages("accountsettings.googleAuth.dontdelete")</alert>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">@Messages("accountsettings.smsVerifyCode")</label>
                        <div class="col-sm-3">
                            <input name="verifyCode" class="form-control" ng-model="emailVerifyCode" min-length="5" required="">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" ng-click="sendVerifyEmail()" ng-bind="verifyButton"></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">@Messages("accountsettings.googleAuth.verifycode")</label>
                        <div class="col-sm-3">
                            <input name="GoogleAuthVerifyCode" class="form-control" ng-model="verifycode" max-length="6" min-length="6">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-3">
                        <button class="btn btn-block btn-lg btn-primary" ng-click="bind()">@Messages("accountsettings.googleauth.bind")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="!showBind">
            <h3>@Messages("accountsettings.googleauth.unbind")</h3>
            <alert type="success">@Messages("accountsettings.googleauth.unbindHint")</alert>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">@Messages("accountsettings.emailVerifyCode")</label>
                    <div class="col-sm-3">
                        <input name="verifyCode" class="form-control" ng-model="emailVerifyCode" min-length="5" required="">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success" ng-click="sendVerifyEmail()" ng-bind="verifyButton"></button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">@Messages("accountsettings.googleAuth.verifycode")</label>
                    <div class="col-sm-3">
                        <input name="GoogleAuthVerifyCode" class="form-control" ng-model="verifycode" max-length="6" min-length="6">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3"></label>
                    <div class="col-sm-3">
                        <button class="btn btn-block btn-lg btn-primary" ng-click="unbind()">@Messages("accountsettings.googleauth.unbindButton")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
