@()(implicit lang: Lang)
@import utils.Constant._

<div class="row">
    <h5>@Messages("transfer.deposit")
    <select ng-model="currency" ng-change="changeCurrency()">
    @for(coin <- coins) {
    <option>@coin</option>
    }
    </select>
    </h5>
    <h5>@(Messages("transfer.account")): {{balance.available.display}} {{currency}}</h5>
    <h5>@Messages("transfer.depositAddress")</h5>
    <div class="alert alert-success"><strong>{{depositAddress}}</strong></div>
</div>

<h5>@Messages("transfer.depositRecord")</h5>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th nowrap>@Messages("transfer.id")</th>
                    <th nowrap >@Messages("transfer.amount")</th>
                    <th nowrap>@Messages("transfer.status")</th>
                    <th nowrap>@Messages("transfer.created")</th>
                    <th nowrap>@Messages("transfer.updated")</th>
                    <th nowrap>@Messages("transfer.address")</th>
                    <th nowrap class="text-right">@Messages("transfer.confirm")</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
                    <td nowrap> {{item.id}} </td>
                    <td nowrap> {{item.amount.display}} </td>
                    <td nowrap> <span class="badge">{{item.status | transferStatusText}}</span> </td>
                    <td nowrap> {{item.created | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap> {{item.updated | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap> {{item.address}} </td>
                    <td nowrap class="text-right"> {{item.confirm}} </td>
                </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadDeposits()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
