@()(implicit session: Session, lang: Lang)

<section class="header-3-sub">
    <div class="row" >
        <div class="col-md-12">
        <h3>@Messages("accountprofile.title")</h3>

        <table class="table">
            <tbody>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.label")</th>
                    <td>
                        @if(session.get("uid").getOrElse("").toLong <= 1000002000L) {
                        <b style="cursor: pointer; color: darkgoldenrod;" data-toggle="tooltip" data-placement="top" title='@Messages("user.label.free")'>
                            <i class="icon-award">@Messages("user.label.free")</i>
                        </b>
                        }
                    </td>
                </tr>

                <tr>
                    <th class="col-md-3">@Messages("accountsettings.uid")</th>
                    <td>@session.get("uid").getOrElse("")</td>
                </tr>

                <tr>
                    <th class="col-md-3">@Messages("accountsettings.userName")</th>
                    <td>@session.get("username").getOrElse("")</td>
                </tr>

                <tr>
                    <th class="col-md-3">@Messages("accountsettings.realName")</th>
                    <td>@session.get("COINPORT_COOKIE_REAL_NAME").getOrElse("")</td>
                </tr>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.mobile")</th>
                    <td>@session.get("COINPORT_COOKIE_MOBILE").getOrElse("")</td>
                </tr>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.shareLink")</th>
                    <td>https://coinport.com?rf=@session.get("referralToken").getOrElse("") </td>
                </tr>
                <tr>
                    <th class="col-md-3">@Messages("accountsettings.publicUrl")</th>
                    <td> <a href="/user/{{uid}}">https://www.coinport.com/user/{{uid}}</a> </td>
                </tr>

            </tbody>
        </table>
        </div>
    </div>
</section>
