@()(implicit lang: Lang)
@import utils.Constant._

<div class="row">
    <h4>@Messages("transfer.deposit")
    <select ng-model="currency" ng-change="changeCurrency()">
    @for(coin <- coins) {
    <option>@coin</option>
    }
    </select>
    </h4>
    <h5>@(Messages("transfer.account")): {{balance.available.display}} {{currency}}</h5>
    <h5>@Messages("transfer.depositAddress"):</h5>
    <div class="alert alert-success"><strong>{{depositAddress}}</strong></div>
</div>
<div class="row">
    <form class="form-horizontal" name="depositForm">
        <div class="form-group">
            <label class="control-label col-sm-3">{{currency}}@Messages("transfer.depositAmount")</label>
            <div class="col-sm-6">
                <input type="number" name="amount" class="form-control" placeholder='@Messages("transfer.depositAmount")' ng-model="depositData.amount"  required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button class="btn btn-block btn-success" ng-click="deposit()"><i class="glyphicon glyphicon-ok"></i> @Messages("transfer.deposit")</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Messages("transfer.id")</th>
            <th>@Messages("transfer.created")</th>
            <th>@Messages("transfer.updated")</th>
            <th>@Messages("transfer.amount")</th>
            <th>@Messages("transfer.status")</th>
            <!--<th>@Messages("transfer.txid")</th>-->
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.created | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.updated | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.amount.display}}
            </td>
            <td>
                <span class="badge">{{item.status | transferStatusText}}</span>
            </td>
            <td><a target="_blank" href="{{txUrl[item.amount.currency]}}/{{item.txid}}"><i class="fa fa-link"></i></a></td>
        </tr>
        </tbody>
    </table>
    <pagination boundary-links="true" max-size="5" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadDeposits()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
