@()(implicit lang: Lang)
@import utils.Constant._

<div class="row">
    <h6>
        <b>@Messages("transfer.deposit")</b> / <a href="#/withdrawal/{{currency}}">@Messages("transfer.withdrawal")</a>&nbsp;&nbsp;
        <select ng-model="currency" ng-change="changeCurrency()">
        @for(coin <- coins) {
        <option>@coin</option>
        }
        </select>
    </h6>
</div>
<div class="row">
    <h6>
        @Messages("transfer.account") &nbsp; <b>{{balance.available.value || 0}}</b> {{currency}}
    </h6>
</div>
<div class="row">
    <h6>@Messages("transfer.depositAddress")</h6>
    <div class="alert alert-success col-md-10">
        <b>{{depositAddress}}</b>
        <span ng-show="currency.toUpperCase() == 'NXT'">
          <br/>
          <b>Public Key: {{nxtPublicKey}}</b>
        </span>
        <span ng-show="currency.toUpperCase() == 'BTSX'">
            <br>
            @Messages("transfer.btsx.hint1"): <b>coinport-deposit</b>
            <br>
            @Messages("transfer.btsx.hint2"): <br>
            <b class="red">{{uid}}</b>
        </span>

        <span ng-show="currency.toUpperCase() == 'XRP'">
            <br>
            @Messages("transfer.xrp.hint1"): <b>coinportXrpDeposit</b>
            <br>
            @Messages("transfer.xrp.hint2"): <br>
            <b class="red">{{uid}}</b>
        </span>
    </div>

</div>
<div class="row">
    <h6>@Messages("transfer.depositRecord")</h6>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th nowrap>@Messages("transfer.id")</th>
                    <th nowrap>@Messages("transfer.created")</th>
                    <th nowrap>@Messages("transfer.updated")</th>
                    <th nowrap>@Messages("transfer.amount")</th>
                    <th nowrap>@Messages("transfer.status")</th>
                    <th nowrap>@Messages("transfer.address")</th>
                    <!--<th nowrap class="text-right">@Messages("transfer.txid")</th>-->
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
                    <td nowrap> {{item.id}} </td>
                    <td nowrap><i class="fa fa-clock-o"></i> {{item.created | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap><i class="fa fa-clock-o"></i> {{item.updated | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap> <span class="{{item.operation | transferOperationClass}}">{{item.operation | transferSign}}{{item.amount.value | quantity}}</span> </td>
                    <td nowrap> <span class="label label-{{item.status | transferStatusClass}}">{{item.status | transferStatusText}}</span> </td>
                    <td nowrap> {{item.address}} <br> {{item.NxtRsString}} </td>
                    <td>
                      @if("btsx".equals(coin.toString.toLowerCase()) ||
                      "xrp".equals(coin.toString.toLowerCase())) {
                      @Messages("transfer.txid") <i class="fa fa-external-link"></i>
                      } else {
                      <a target="_blank" href="{{item.txlink}}">@Messages("transfer.txid") <i class="fa fa-external-link"></i></a>
                      }
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadDeposits()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
