@()(implicit lang: Lang)

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><b>Trade</b></li>
          <li><b>{{market}}</b></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12 candle-chart-wrap">
        <div class="candle-chart" style="height: 250px;"></div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="depth-box">
            <table class="table table-condensed table-responsive">
                <tbody>
                    <tr ng-repeat="item in depth.asks" ng-animate=" 'animate' " class="depth-item" ng-click="clickDepthAsks($index)">
                        <td class="l title sell">@(Messages("trade.sellShort")){{depth.asks.length-$index}}</td>
                        <td class="price">{{item.price | price}}</td>
                        <td class="amount">{{item.amount | coin}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <h3 class="depth-price">{{lastPrice | price}}</h3>
            </div>
            <table class="table table-condensed table-responsive">
                <tbody>
                    <tr ng-repeat="item in depth.bids" ng-animate=" 'animate' " class="depth-item" ng-click="clickDepthBids($index)">
                        <td class="l title buy">@(Messages("trade.buyShort")){{1+$index}}</td>
                        <td class="price">{{item.price | price}}{{item.price.currency}}</td>
                        <td class="amount">{{item.amount | coin}}{{item.subjectAmount.currency}}</td>
                    </tr>
                </tbody>
            </table>
            <a style="float: right; margin-top: -10px;" href="/depth/{{market}}">@(Messages("more")) >></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="buy_sell_box">
            <div class="box_title">@(Messages("trade.buy")) {{subject}}</div>
            <div class="box_subtitle">
                <!--冻结金额-->
                <!--<span class="badge badge-info">{{info.fundingLocked}}</span>-->
                <!--可用余额-->
                <!--<span class="badge badge-info link" ng-click="clickFunding(info.fundingRemaining)">{{info.fundingRemaining}}</span>-->
                @(Messages("trade.availableCurrency"))
                <span class="link" ng-click="clickFunding(account[currency].available.value)"><kbd>{{account[currency].available.value}} {{currency}}</kbd> </span>
                <a href="" ng-show="bidOptions.advanced" ng-click="bidOptions.advanced=false">@(Messages("trade.simple"))</a>
                <a href="" ng-show="!bidOptions.advanced" ng-click="bidOptions.advanced=true">@(Messages("trade.advanced"))</a>
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title='@(Messages("trade.advancedTip"))'></i>
            </div>
            <div class="box clearfix">
                <form name="bidForm" class="form-buy-sell" role="form">
                    <div class="row_100 clearfix">
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.price"))</span>
                            <input type="number" step="0.0001" name="price" class="form-control " ng-disabled="!bidOptions.limitPrice" ng-model="bid.price"/>
                          <span class="input-group-addon" ng-show="bidOptions.advanced">
                            <input type="checkbox" class="" ng-model="bidOptions.limitPrice" />
                            <span data-toggle="tooltip" data-placement="top" title="是否限制买入价格">限价</span>
                          </span>
                        </div>
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.amount"))</span>
                            <input type="number" step="0.0001" class="form-control" name="amount" ng-disabled="!bidOptions.limitAmount" ng-model="bid.amount">
                            <span class="input-group-addon" ng-show="bidOptions.advanced">
                                <input type="checkbox" class="" ng-model="bidOptions.limitAmount" ng-click="bid.amount=0"/>
                                <span  data-toggle="tooltip" data-placement="top" title="是否限制买入数量">限量</span>
                            </span>
                        </div>
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.total"))</span>
                            <input id="bid-total" type="number" step="0.01" ng-disabled="!bidOptions.limitTotal" class="form-control" ng-model="bid.total" max="{{account.balance}}"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" disabled="disabled" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                          <li><a href="#">Action</a></li>
                                          <li><a href="#">Another action</a></li>
                                          <li><a href="#">Something else here</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">Separated link</a></li>
                                    </ul>
                              </div><!-- /btn-group -->


                          <span class="input-group-addon" ng-show="bidOptions.advanced">
                            <input type="checkbox" class="" ng-model="bidOptions.limitTotal"/>
                            <span  data-toggle="tooltip" data-placement="top" title="是否根据花费人民币总金额下单">限额</span>
                          </span>
                        </div>
                    </div>
                    <div class="row_100 clearfix detail-info-box" ng-show="bidOptions.advanced">
                        <ul class="list-group">
                            <li class="list-group-item" ng-show="!bidOptions.limitPrice">
                                以<span class="badge badge-info">任意价格</span>
                            </li>
                            <li class="list-group-item" ng-show="bidOptions.limitPrice">
                                以最高价格<span class="badge badge-warning"><i class="fa fa-cny"></i> {{bid.price | price}}</span>
                            </li>
                            <li class="list-group-item" ng-show="!bidOptions.limitAmount">
                                购买<span class="badge badge-info"><i class="fa fa-btc"></i> 尽可能多</span>
                            </li>
                            <li class="list-group-item" ng-show="bidOptions.limitAmount">
                                购买<span class="badge badge-warning"><i class="fa fa-btc"></i> {{bid.amount}}</span>
                            </li>
                            <li class="list-group-item" ng-show="bidOptions.limitTotal">
                                希望花费<span class="badge badge-warning"><i class="fa fa-cny"></i> {{bid.total | currency}}</span>
                            </li>
                            <li class="list-group-item" ng-show="!bidOptions.limitTotal">
                                最多花费<span class="badge badge-info"><i class="fa fa-cny"></i> {{info.fundingLocked | currency}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info-box">
                        <span class="info-label" ng-show="showMessage['bid']">{{info.message['bid']}}</span>
                    </div>

                    <div class="row_100 clearfix" style="margin-top: 20px;">
                        <button class="btn btn-block btn-bid" ng-click="addBidOrder()" ><i class="fa fa-shopping-cart"></i> {{info.bidButtonLabel}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="buy_sell_box">
            <div class="box_title">@(Messages("trade.sell")) {{subject}}</div>
            <div class="box_subtitle">
                @(Messages("trade.availableAmount"))
                <span class="link" ng-click="clickQuantity(account[subject].available.value)"><kbd>{{account[subject].available.value}} {{subject}}</kbd> </span>
                <a href="" ng-show="askOptions.advanced" ng-click="askOptions.advanced=false">@(Messages("trade.simple"))</a>
                <a href="" ng-show="!askOptions.advanced" ng-click="askOptions.advanced=true">@(Messages("trade.advanced"))</a>
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title='@(Messages("trade.advancedTip"))'></i>
            </div>
            <div class="box clearfix">
                <form name="askForm" class="form-buy-sell" role="form">
                    <div class="row_100 clearfix">
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.price"))</span>
                            <input type="number" step="0.0001" ng-disabled="!askOptions.limitPrice" class="form-control" ng-model="ask.price" />
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitPrice" ng-click="ask.price=0"/>
                            <span  data-toggle="tooltip" data-placement="top" title="是否限制卖出价格">限价</span>
                          </span>
                        </div>
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.amount"))</span>
                            <input type="number" step="0.0001" ng-disabled="!askOptions.limitAmount" class="form-control" ng-model="ask.amount" min="0" />
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitAmount" ng-click="ask.amount=0"/>
                            <span  data-toggle="tooltip" data-placement="top" title="是否限制卖出数量">限量</span>
                          </span>
                        </div>
                        <div class="input-group input-group-full">
                            <span class="input-group-addon">@(Messages("trade.total"))</span>
                            <input type="number" step="0.01" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.total"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" disabled="disabled" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span><span class="caret"></span></button>
                                <ul class="dropdown-menu pull-right">
                                      <li><a href="#">Action</a></li>
                                      <li><a href="#">Another action</a></li>
                                      <li><a href="#">Something else here</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a></li>
                                </ul>
                              </div><!-- /btn-group -->
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitTotal"/>
                            <span  data-toggle="tooltip" data-placement="top" title="是否根据卖得人民币金额下单">限额</span>
                          </span>
                        </div>
                    </div>
                    <div class="row_100 clearfix detail-info-box" ng-show="askOptions.advanced">
                        <ul class="list-group">
                            <li class="list-group-item"  ng-show="!askOptions.limitPrice">
                                以<span class="badge badge-info">任意价格</span>
                            </li>
                            <li class="list-group-item"  ng-show="askOptions.limitPrice">
                                以最低<span class="badge badge-warning"><i class="fa fa-cny"></i> {{ask.price | price}}</span>价格
                            </li>
                            <li class="list-group-item"  ng-show="!askOptions.limitAmount">
                                卖出<span class="badge badge-info"><i class="fa fa-btc"></i> 尽可能多</span>
                            </li>
                            <li class="list-group-item"  ng-show="askOptions.limitAmount">
                                卖出<span class="badge badge-warning"><i class="fa fa-btc"></i> {{ask.amount}}</span>
                            </li>
                            <li class="list-group-item"  ng-show="askOptions.limitTotal">
                                最多收入<span class="badge badge-warning"><i class="fa fa-cny"></i> {{ask.total | currency}}</span>
                            </li>
                            <li class="list-group-item"  ng-show="!askOptions.limitTotal">
                                预计收入<span class="badge badge-info"><i class="fa fa-cny"></i> {{info.income | currency}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info-box">
                        <span class="info-label" ng-show="showMessage['ask']">{{info.message['ask']}}</span>
                    </div>

                    <div class="row_100 clearfix" style="margin-top: 20px;">
                        <button class="btn btn-block btn-ask" ng-click="addAskOrder()"><i class="fa fa-money"></i> {{info.askButtonLabel}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="transaction-box">
            <table class="table table-condensed table-responsive">
                <thead>
                    <th>@Messages("transaction.type")</th>
                    <th>@Messages("transaction.price")</th>
                    <th>@Messages("transaction.amount")</th>
                    <th>@Messages("transaction.timestamp")</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in transactions.items" ng-animate="'animate'" class="transaction-item scalable-item">
                        <td class="l {{item.sell | txTypeClass}}">{{item.sell | txTypeText}}</td>
                        <td class="price">{{item.price.value | price}}</td>
                        <td class="amount">{{item.subjectAmount.value | coin}}</td>
                        <td class="timestamp">{{item.timestamp | date:"HH:mm:ss"}}</td>
                        <td><a target="_blank" href="/transaction/{{item.id}}"><i class="fa fa-retweet"></i></a></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-offset-10"><a href="/transactions/{{market}}">@(Messages("more")) >></a></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="recent-orders">
        <tabset>
            <tab heading='@(Messages("all"))' select="loadOrders(-1)"></tab>
            <tab heading='@(Messages("order.status.pending"))' select="loadOrders(0)"></tab>
            <tab heading='@(Messages("order.status.open"))' select="loadOrders(1)"></tab>
            <tab heading='@(Messages("order.status.finished"))' select="loadOrders(2)"></tab>
            <tab heading='@(Messages("order.status.cancelled"))' select="loadOrders(3)"></tab>
        </tabset>
        <div class="user-order-box">
            <table class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th>@(Messages("order.oid"))</th>
                    <th>@(Messages("order.time"))</th>
                    <th>@(Messages("order.type"))</th>
                    <th>@(Messages("order.price"))</th>
                    <th>@(Messages("order.amount"))</th>
                    <th>@(Messages("order.finishedAmount"))</th>
                    <th>@(Messages("order.total"))</th>
                    <th>@(Messages("order.finishedTotal"))</th>
                    <th>@(Messages("order.status"))</th>
                    <th>@(Messages("order.operation"))</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="order in orders | orderBy: ['-date', '-id']" class="user-order-item">
                    <td class="l">
                        <a href="/order/{{order.id}}">{{order.id}}</a>
                    </td>
                    <td>
                        {{order.submitTime | date:"MM-dd HH:mm:ss"}}
                    </td>
                    <td class="{{order.operation | orderTypeClass}}">
                        {{order.operation | orderTypeText}}
                    </td>
                    <td class="{{order.operation | orderTypeClass}}">
                        {{order.price | price}}
                    </td>
                    <td>
                        {{order.amount | coin}}
                    </td>
                    <td>
                        {{order.finishedQuantity | coin}}
                    </td>
                    <td>
                        {{order.total | coin}}
                    </td>
                    <td>
                        {{order.finishedAmount | coin}}
                    </td>
                    <td>
                        <span class="badge badge-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span>
                    </td>
                    <td>
                        <button class="btn-link" ng-show="order.status <= 1" ng-click="cancelOrder(order.id)">@(Messages("trade.cancel"))</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <a style="float: right;" href="/account#/orders">@(Messages("more")) >></a>
        </div> <!-- user-order-box-->
        </div>
    </div>
</div>
<timer ng-show="false" interval="2000"/>
