@()(implicit lang: Lang)
    <h4>@Messages("order.myOrders"):</h4>
    <ul class="nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                {{market}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="changeMarket('all')">@Messages("order.allMarkets")</a></li>
                <li><a href="" ng-click="changeMarket('BTCCNY')">BTCCNY</a></li>
                <li><a href="" ng-click="changeMarket('LTCBTC')">LTCBTC</a></li>
                <li><a href="" ng-click="changeMarket('DOGBTC')">DOGBTC</a></li>
                <li><a href="" ng-click="changeMarket('PTSBTC')">PTSBTC</a>
            </ul>
        </li>
    </ul>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-condensed table-striped table-user-order">
            <thead>
            <tr>
                <th>@(Messages("order.oid"))</th>
                <th>@(Messages("order.time"))</th>
                <th>@(Messages("order.type"))</th>
                <th>@(Messages("order.price"))</th>
                <th>@(Messages("order.amount"))</th>
                <th>@(Messages("order.finishedAmount"))</th>
                <th>@(Messages("order.total"))</th>
                <th>@(Messages("order.finishedTotal"))</th>
                <th>@(Messages("order.status"))</th>
                <th>@(Messages("order.operation"))</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="order in orders.items | orderBy: ['-date', '-tid']" class="">
                <td>
                    <a href="/order/{{order.id}}">{{order.id}}</a>
                </td>
                <td>
                    {{order.submitTime | date:"MM-dd HH:mm:ss"}}
                </td>
                <td class="{{order.operation | orderTypeClass}}">
                    {{order.operation | orderTypeText}}
                </td>
                <td class="{{order.operation | orderTypeClass}}">
                    {{order.price | price}} {{order.currency}}
                </td>
                <td>
                    {{order.amount | coin}} {{order.subject}}
                </td>
                <td>
                    {{order.finishedQuantity | coin}} {{order.subject}}
                </td>
                <td>
                    {{order.total | coin}} {{order.currency}}
                </td>
                <td>
                    {{order.finishedAmount | coin}} {{order.currency}}
                </td>
                <td>
                    <span class="badge badge-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span>
                </td>
                <td>
                    <button class="btn-link" ng-show="order.status <= 1" ng-click="cancelOrder(order.id)">@(Messages("trade.cancel"))</button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" items-per-page="limit" total-items="orders.count" ng-model="page" class="pagination-sm" ng-change="reload()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
