@()(implicit lang: Lang)
@import utils.Constant._


<section class="header-3-sub">
    <div class="row">
        <div class="col-md-12"><h3>@Messages("asset.transfer")</h3> </div>
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th nowrap>@Messages("open.coinType")</th>
                        <th nowrap>@Messages("open.network.status")</th>
                        <th nowrap class="text-right">@Messages("user.available")</th>
                        <th nowrap class="text-right">@Messages("user.orderPending")</th>
                        <th nowrap class="text-right">@Messages("open.balance")</th>
                        <th nowrap>@Messages("transfer.depositAddress")</th>
                        <th nowrap>@Messages("operation")</th>
                    </tr>
                </thead>
                <tbody>
                    @for(coin <- coins) {
                    <tr ng-init="getCurrencyDetails('@coin')">
                        <td nowrap><strong>@coin</strong></td>
                        <td nowrap><span class="label label-{{status['@coin'].delay | networkStatusClass}}">{{status['@coin'].delay | networkStatusText}}</span></td>
                        <td nowrap class="text-right">{{accounts['@coin'].available.display}}</td>
                        <td nowrap class="text-right">{{accounts['@coin'].locked.display}}</td>
                        <td nowrap class="text-right">{{accounts['@coin'].total.display}}</td>
                        <td nowrap>{{depositAddresses['@coin']}}</td>
                        <td nowrap><a href="#/deposit/@coin">@Messages("transfer.deposit")</a>&nbsp;&nbsp; <a href="#/withdrawal/@coin">@Messages("transfer.withdrawal")</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <h5>@Messages("transfer.transferRecord")</h5>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th nowrap>@Messages("user.transfer.operation")</th>
                    <th nowrap>@Messages("user.coinType")</th>
                    <th nowrap>@Messages("transfer.amount")</th>
                    <th nowrap>@Messages("transfer.status")</th>
                    <th nowrap>@Messages("transfer.updated")</th>
                    <th nowrap>@Messages("transfer.confirm")</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="item in transfers | orderBy: ['-date', '-id']" class="">
                    <td nowrap> <strong>{{item.operation | transferOperationText }} </strong></td>
                    <td nowrap> <strong>{{item.amount.currency}}</strong> </td>
                    <td nowrap> <strong>{{item.amount.display}}</strong> </td>
                    <td nowrap> <span class="badge">{{item.status | transferStatusText}}</span> </td>
                    <td nowrap> {{item.updated | date:"MM-dd HH:mm:ss"}} </td>
                    <td nowrap> {{item.confirm}} </td>
                </tr>
                </tbody>
            </table>
            <pagination boundary-links="true" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadTransfers()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</section>