@()(implicit lang: Lang)
<div class="row">
    <h4>Source Code</h4>
    <p>coinport.com is powered by CoinportX.</p>
    <p>CoinportX is an efficient match engine based on <a target="_blank" href="http://akka.io">Akka</a>. You can visit our project on <a target="_blank" href="https://github.com/coinport/backcore">Github</a>.</p>
    <br>
    <h4>Symmetry Taker-Maker Model</h4>
    <p>Introduction to 'Sell-Only Model'.</p>
    <br>
    <h4>API</h4>
    <p>
        Coinport Exchange API <a target="_blank" href="http://docs.coinport.apiary.io/">Documentation</a>
    </p>
</div>