@()(implicit lang: Lang)

<div class="row">
	<div class="col-md-8">
		<form>
			<label><input type="radio" name="mode" value="grouped"> Grouped</label>
			<label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
		</form>
		<div>
            <svg id="user-finance-chart-history"></svg>
		</div>
	</div>

	<div class="col-md-4">
		<h3 class="chart--subHeadline">{{pieTitle}}</h3>
		<div id="user-finance-chart-pie">
			<svg id="pieChartSVG">
				<defs>
					<filter id='pieChartInsetShadow'>
						<feOffset dx='0' dy='0'/>
						<feGaussianBlur stdDeviation='3' result='offset-blur' />
						<feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
						<feFlood flood-color='black' flood-opacity='1' result='color' />
						<feComposite operator='in' in='color' in2='inverse' result='shadow' />
						<feComposite operator='over' in='shadow' in2='SourceGraphic' />
					</filter>
					<filter id="pieChartDropShadow">
						<feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur" />
						<feOffset in="blur" dx="0" dy="3" result="offsetBlur" />
						<feMerge>
							<feMergeNode />
							<feMergeNode in="SourceGraphic" />
						</feMerge>
					</filter>
				</defs>
			</svg>
		</div>
	</div>
</div>

<div id="user-finance-table-div" class="row">
	<table id="user-finance-table" class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>@Messages("asset.category")</th>
				<th>@Messages("asset.available")</th>
				<th>@Messages("user.orderPending")</th>
				<th>@Messages("user.withdrawalPending")</th>
				<th>@Messages("asset.totalAmount")</th>
				<th>@Messages("asset.price")</th>
				<th>@Messages("asset.valueOnEstimate")</th>
				<th>@Messages("asset.operation")</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="account in accounts">
				<td>{{account.currency}}</td>
				<td>{{account.available.display_short}}</td>
				<td>{{account.locked.display_short}}</td>
				<td>{{account.pendingWithdrawal.display_short}}</td>
				<td>{{account.available.value + account.locked.value + account.pendingWithdrawal.value}}</td>
				<td><i class="fa fa-btc"></i> {{account.price | price}}</td>
				<td><i class="fa fa-btc"></i> {{account.asset}}</td>
				<td><a href="#/deposit/{{account.currency}}">@Messages("transfer.deposit")</a>&nbsp;&nbsp; <a href="#/withdrawal/{{account.currency}}">@Messages("transfer.withdrawal")</a></td>
			</tr>
		</tbody>
	</table>
</div>
