@()(implicit lang: Lang)

<section class="header-3-sub">
    <div class="row" id="user-finance-table-div" >
        <div class="col-md-12">
            <h3>@Messages("asset.myAsset")</h3>
            <table id="user-finance-table" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th nowrap>@Messages("open.coinType")</th>
                    <th nowrap class="text-right">@Messages("user.account.total")</th>
                    <th nowrap class="text-right">@Messages("user.available")</th>
                    <th nowrap class="text-right">@Messages("user.orderPending")</th>
                    <th nowrap class="text-right">@Messages("user.withdrawalPending")</th>
                    <th nowrap class="text-right">@Messages("asset.price")</th>
                    <th nowrap class="text-right">@Messages("asset.value")</th>
                    <th nowrap class="text-right">@Messages("asset.operation")</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts">
                    <td><span style="background-color: {{color($index)}}">&nbsp;&nbsp;</span></td>
                    <td nowrap>
                        <img src="/image/coins/{{account.currency.toLowerCase()}}.png">
                        <b ng-bind="account.currency">@Messages("loading")</b>
                    </td>
                    <td nowrap class="text-right"><b ng-bind="account.total.display">@Messages("loading")</b></td>
                    <td nowrap class="text-right" ng-bind="account.available.display">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="account.locked.display">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="account.pendingWithdrawal.display">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="account.price + ' BTC'">@Messages("loading")</td>
                    <td nowrap class="text-right" ng-bind="account.asset + ' BTC'">@Messages("loading")</td>
                    <td nowrap class="text-right">
                        <a href="#/deposit/{{account.currency}}">@Messages("transfer.deposit")</a>
                        |
                        <a href="#/withdrawal/{{account.currency}}">@Messages("transfer.withdrawal")</a>
                    </td>
                </tr>
                </tbody>
                <!--@__empty_table_indicator("accounts")	-->
            </table>
        </div>
    </div>
    <div style="height: 100px;"></div>
	<div class="row">
		<div class="col-md-8">
	        <h3>@Messages("asset.trend")</h3>
	        <form>
	            <label style="padding-left: 10px; padding-right: 10px;">Style </label>
				<input type="radio" name="mode" value="grouped"> grouped
				<input type="radio" name="mode" value="stacked" checked> stacked
			</form>
			<div>
	            <svg id="user-finance-chart-history"></svg>
			</div>
		</div>

		<div class="col-md-4">
			<h3>@Messages("asset.pie")</h3>
			<div id="user-finance-chart-pie">
				<svg id="pieChartSVG">
					<defs>
						<filter id='pieChartInsetShadow'>
							<feOffset dx='0' dy='0'/>
							<feGaussianBlur stdDeviation='3' result='offset-blur' />
							<feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
							<feFlood flood-color='black' flood-opacity='1' result='color' />
							<feComposite operator='in' in='color' in2='inverse' result='shadow' />
							<feComposite operator='over' in='shadow' in2='SourceGraphic' />
						</filter>
						<filter id="pieChartDropShadow">
							<feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur" />
							<feOffset in="blur" dx="0" dy="3" result="offsetBlur" />
							<feMerge>
								<feMergeNode />
								<feMergeNode in="SourceGraphic" />
							</feMerge>
						</filter>
					</defs>
				</svg>
			</div>
		</div>
	</div>
</section>
