@()(implicit session: Session, lang: Lang)
@import utils.Constant

<script type="text/javascript">
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>

<section class="header-3-sub">
    <div class="row account-profile-div" >
    <div class="col-md-12">
        <div class="row" ng-show="false" ng-controller="AccountProfilesCtrl">
          <script type="text/ng-template" id="ModalContentNickname.html">
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-6">
                   <input name="smsVerifyCode" class="form-control" placeholder="@Messages("accountsettings.realName")" ng-model="modal.nickname" />
                  </div>
                  <div class="col-sm-6">
                    <button class="btn-success" style="border: none; border-radius: 2px; margin-top: 8px;" ng-click="ok()" >@Messages("accountsettings.sec.modal.ok") </button>
                    <button class="btn-success" style="border: none; border-radius: 2px; margin-top: 8px;" ng-click="cancel()" >@Messages("accountsettings.sec.modal.cancel") </button>
                  </div>
                </div>
                <div class="row col-md-9" style="margin-bottom: 10px;">
                  <span class="text-danger text-center" ng-show="showNicknameError" ng-bind="nicknameError"></span>
                </div>
              </div>
            </div>
          </script>
        </div>

        <!--<ul class="nav nav-tabs" role="tablist" id="myTab">-->
            <!--<li class="active" style="margin-right: 15px;"><a href="#userProfiles" role="tab" data-togle="tab">-->
                <h3 style="margin-bottom: 0px;">@Messages("accountprofile.title")</h3></a>
            <!--</li>-->
            <!--<li><a href="#userLoginHistory" role="tab" data-togle="tab">-->
                <!--<h3 style="margin-bottom: 0px;">@Messages("accountprofile.loginhistory.title")</h3></a>-->
            <!--</li>-->
        <!--</ul>-->

        <div class="tab-content" style="border: none;">
        <div class="tab-pane fade in active" id="userProfiles">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.label")</th>
                        <td>
                            @if(session.get("uid").getOrElse("").toLong <= 1000002000L) {
                            <b style="cursor: pointer; color: darkgoldenrod;" data-toggle="tooltip" data-placement="top" title='@Messages("user.label.free")'>
                                <i class="icon-award">@Messages("user.label.free")</i>
                            </b>
                            }
                        </td>
                    </tr>

                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.uid")</th>
                        <td>@session.get("uid").getOrElse("")</td>
                    </tr>

                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.userName")</th>
                        <td>@session.get("username").getOrElse("")</td>
                    </tr>

                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.realName")</th>
                        @if(session.get(Constant.cookieNameRealName).getOrElse("").trim.isEmpty) {
                        <td><a ng-click="setNickName()">@Messages("accountsettings.sec.btn.set")</a></td>
                        } else {
                        <td>@session.get(Constant.cookieNameRealName).getOrElse("") &nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="setNickName('sm')">@Messages("accountsettings.sec.btn.modify")</a></td>
                        }
                    </tr>
                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.mobile")</th>
                        <td>@session.get(Constant.cookieNameMobile).getOrElse("")</td>
                    </tr>
                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.shareLink")</th>
                        <td>https://coinport.com?rf=@session.get("referralToken").getOrElse("") </td>
                    </tr>
                    <tr>
                        <th class="col-md-3">@Messages("accountsettings.publicUrl")</th>
                        <td> <a href="/user/{{uid}}">https://www.coinport.com/user/{{uid}}</a> </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="userLoginHistory">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th >@Messages("accountprofile.loginhistory.logTime")</th>
                        <th>@Messages("accountprofile.loginhistory.ip")</th>
                        <th>@Messages("accountprofile.loginhistory.location")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="h in loginhistorys">
                        <td>{{h.timeStr}}</td>
                        <td>{{h.ip}}</td>
                        <td>{{h.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
    </div>
    </div>
</section>
