@()(implicit lang: Lang)
@import utils.Constant._

<div class="row">
    <h6>
        <a href="#/deposit/{{currency}}">@Messages("transfer.deposit")</a> / <b>@Messages("transfer.withdrawal")</b>
        <select ng-model="currency" ng-change="changeCurrency()">
            @for(coin <- coins) {
            <option>@coin</option>
            }
        </select>
    </h6>
    <alert>@Messages("transfer.account"): {{balance.available.display}} {{currency}} <br /> (@Messages("transfer.withdrawalHint"))</alert>
</div>
<div class="row">
    <form class="form-horizontal" name="withdrawalForm">
        <div class="form-group">
            <label class="control-label col-sm-3">@(Messages("transfer.withdrawalAmount"))</label>
            <div class="col-sm-6">
                <input type="number" name="amount" class="form-control" placeholder='@Messages("transfer.withdrawalAmount")' ng-model="withdrawalData.amount"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">@(Messages("transfer.withdrawalAddress"))</label>
            <div class="col-sm-6">
                <input name="address" class="form-control" placeholder="{{withdrwalAddress}}" ng-model="withdrawalData.address"  required>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3"> @(Messages("transfer.phoneVerCode"))</label>-->
            <!--<div class="col-sm-6">-->
                <!--<input name="phoneVerCode" class="form-control" placeholder='@Messages("transfer.phoneVerCode")' ng-model="withdrawalData.phoneVerCode"  required>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<button ng-click="sendVerifySms()" ng-disabled="isTiming">-->
                    <!--{{verifyButton}}-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

        <div style="height: 20px;">
            <div class="alert alert-danger col-sm-offset-3 col-sm-6" ng-show="showWithdrawalError">{{withdrawalErrorMessage}}</div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-block btn-success" ng-click="withdrawal()" ng-disabled="withdrawalData.amount <= 0.01"><i class="glyphicon glyphicon-ok"></i> Withdrawal</button>
            </div>
        </div>
    </form>
</div>
<div class="row">

</div>

<div class="row">
    <h6>@Messages("transfer.withdrawalRecord")</h6>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Messages("transfer.id")</th>
            <th>@Messages("transfer.amount")</th>
            <th>@Messages("transfer.status")</th>
            <th>@Messages("transfer.created")</th>
            <th>@Messages("transfer.updated")</th>
            <th>@Messages("transfer.address")</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="item in withdrawals | orderBy: ['-date', '-id']" class="">
            <td> {{item.id}} </td>
            <td> - {{item.amount.display}} </td>
            <td> <span class="badge">{{item.status  | transferStatusText}}</span> </td>
            <td> {{item.created | date:"MM-dd HH:mm:ss"}} </td>
            <td> {{item.updated | date:"MM-dd HH:mm:ss"}} </td>
            <td> {{item.address}} </td>
            <!--<td class="text-right"> {{item.txid}} </td>-->
            <td><a target="_blank" href="{{item.txlink}}"><i class="fa fa-link"></i></a></td>
            <td>
                <button class="btn btn-block btn-success" ng-click="cancelWithdrawal(item.id)" ng-show="item.status == 0">@Messages("transfer.cancelWithdrawal")</button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadWithdrawals()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
