@()(implicit lang: Lang)

<section class="header-3-sub first">
    <div class="row">
        @_trade_depth()
    </div>
</section>

<section class="header-3-sub">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            @_trade_buy()
        </div>
        <div class="col-md-4 col-sm-6">
            @_trade_sell()
        </div>
        <div class="col-md-4 col-sm-12">
            @_trade_transactions()
        </div>
    </div>
</section>

<section class="header-3-sub">
    <div class="row">
        <div class="col-sm-12">
            @_trade_orders()
        </div>
    </div>
</section>
<timer ng-show="false" interval="2000"/>
