prototype/.idea/.name
prototype/.idea/encodings.xml
prototype/.idea/misc.xml
prototype/.idea/modules.xml
prototype/.idea/prototype.iml
prototype/.idea/scopes/scope_settings.xml
prototype/.idea/vcs.xml
prototype/.idea/workspace.xml