.idea/
.idea_modules/
logs/
lib/
target/
**.swp
**.DS_Store

exchange/app/assets/startup/common-files/less/*.css
exchange/app/assets/startup/flat-ui/less/*.css
exchange/app/assets/startup/flat-ui/less/modules/*.css
exchange/app/assets/startup/ui-kit/*/less/*.css
*/*.log
exchange/application.log
exchange2/.classpath
exchange2/.project
exchange2/.settings
