/* Overriding Boostrap's default styles but only used in 实时行情 pages.      */
/* Overriding Boostrap's default styles but only used in 实时行情 pages.      */
/* Note page specific settings should be put elsewhere.                      */

// -------------------------------------------------------------------
// COLORS
// basic colors, do not use them directly
@import "_elements";

// grey
@grey9: lighten(black, 10%);
@grey8: lighten(black, 20%);
@grey7: lighten(black, 30%);
@grey6: lighten(black, 40%);
@grey5: lighten(black, 50%);
@grey4: lighten(black, 60%);
@grey3: lighten(black, 70%);
@grey2: lighten(black, 80%);
@grey1: lighten(black, 90%);
@grey0: lighten(black, 95%);

// special background
@warmgrey:      #E7E6DD;
@darkwarmgrey:  #CfCfC6;

// basic colors
@blue:       #4285F4;
@green:      #0F9D58;
@red:        #DB4437;
@yellow:     #F4B400;

// darker colors
@darkblue:   #4379D8;
@darkgreen:  #1A8C51;
@darkred:    #C23D36;
@darkyellow: #D8A122;

// Shade blue
@shadeblue: #4277d4; // overlayed with .1 alpha black

// ligher colors;
@blue2:   mix(@blue,   white, 60%);
@blue3:   mix(@blue,   white, 40%);
@green2:  mix(@green,  white, 60%);
@green3:  mix(@green,  white, 40%);
@red2:    mix(@red,    white, 60%);
@red3:    mix(@red,    white, 40%);
@yellow2: mix(@yellow, white, 60%);
@yellow3: mix(@yellow, white, 40%);

// use the following in other files instead

@link-color: darken(@blue, 30);
@link-over-color: @darkblue;

@buy-color: @green;
@sell-color: @red;

// -------------------------------------------------------------------
// FONTS
@default-fonts: Microsoft YaHei,Arial,Verdana,sans-serif,Segoe UI,Tahoma;



// -------------------------------------------------------------------
// SELECTABLE
.selectable {
    .user-select(text);
}

.pagination, .nav {
    .user-select(none);
}

// -------------------------------------------------------------------
// CURSOR
.nav, .pagination, .carousel, .panel-title, .badge, a { cursor: pointer; }

// ALERT
.alert {
  .rounded(0);
}

// LINK

a {
  color: @link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @link-over-color;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-link {
  color: @link-color;
  cursor: pointer;
}
.btn-link:hover,
.btn-link:focus {
  color: white;
  background-color: @green;
  text-decoration: none;
}

.btn {
  border-radius: 0;
}
.input-group, input-group-addon {
  border-radius: 0;
  margin: 0;
}

.nav-pills > li > a {
  border-radius: 0px;
}
.nav-stacked > li + li {
  margin-top: 0;
}
