/* Overriding Boostrap's default styles but only used in 实时行情 pages.      */
/* Overriding Boostrap's default styles but only used in 实时行情 pages.      */
/* Note page specific settings should be put elsewhere.                      */

// -------------------------------------------------------------------
// COLORS
// basic colors, do not use them directly
@import "_elements";

@blue:   #00bfe7;
@green:  spin(blue, 270);
@orange: spin(blue, 135);

// use the following in other files instead

@white: #fff;
@black: #000;
@grey90: lighten(black, 10%);
@grey80: lighten(black, 20%);
@grey70: lighten(black, 30%);
@grey60: lighten(black, 40%);
@grey50: lighten(black, 50%);
@grey40: lighten(black, 60%);
@grey30: lighten(black, 70%);
@grey20: lighten(black, 80%);
@grey10: lighten(black, 90%);
@red: #ff0000;

@primary-color1: @blue;
@primary-color2: @green;
@secondary-color1: @orange;

@link-color: @primary-color1;
@link-over-color: @secondary-color1;

// -------------------------------------------------------------------
// FONTS
@default-fonts: Microsoft YaHei,Arial,Verdana,sans-serif,Segoe UI,Tahoma;



// -------------------------------------------------------------------
// SELECTABLE
.selectable {
    .user-select(text);
}

.pagination, .nav {
    .user-select(none);
}

// -------------------------------------------------------------------
// CURSOR
.nav, .pagination, .carousel, .panel-title, .badge, a { cursor: pointer; }


// LINK

a {
  color: @link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @link-over-color;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-link {
  color: @link-color;
  cursor: pointer;
}
.btn-link:hover,
.btn-link:focus {
  color: @white;
  background-color: @secondary-color1;
  text-decoration: none;
}

.btn {
  border-radius: 0;
}
.input-group, input-group-addon {
  border-radius: 0;
  margin: 0;
}

.nav-pills > li > a {
  border-radius: 0px;
}
.nav-stacked > li + li {
  margin-top: 0;
}
