@import "_common";

@footer-height: 200px;
body {
  margin-bottom: @footer-height;
}

@footer-background-color: @grey4;
footer {
	padding: 20px 0;
	background: none repeat scroll 0 0 @footer-background-color;
	margin: 0 auto;
	text-align: center;
	min-width: 980px;
	height: @footer-height;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer li a{
	margin:0 10px 0 0;
}
