@import "_elements";
@import "_common";
.config-navbar(
  @navbar-background-color,
  @navbar-active-text-color,
  @navbar-inactive-text-color,
  @navbar-active-background-color) {

  .navbar {
    background: @navbar-background-color;
    margin: 0;
    top: 0px;
    border-width: 0 0 1px;

    .nav li a {
      color: @navbar-inactive-text-color;
      background-color: @navbar-background-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;

      &:focus,
      &:hover {
        background-color: @navbar-background-color;
        color: @navbar-active-text-color;
      }
    }

    .nav li.active a {
      text-transform: uppercase;
      color: @navbar-active-text-color;
      background-color: @navbar-active-background-color;

      &:focus,
      &:hover {
        background-color: @navbar-active-background-color;
      }
    }

    * {
      .user-select(none);
    }
  }
}
