/* Overriding Boostrap's default styles used in pages other than 实时行情.    */
/* Note page specific settings should be put elsewhere.                      */

@import "_light";
@import "_footer";

@bk-color: @grey0;

.config_footer(@text-color, white);
.config_link(@text-color, @primary1);
.config_level2_nav();

body {
  background-color: @bk-color;
}

a {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: @grey6;
}
