@()(implicit lang: Lang)

<footer>
  <div class="container">
    <div class="row">

      <div class="footer-nav">
        <div class="col-lg-4 col-sm-4 col-xs-6">
          <h5><b>@{Messages("footer.about")}</b></h5>
          <ul>
            <li><a href="https://pay.coinport.com/team">@{Messages("footer.team")}</a></li>
            <li><a href="https://pay.coinport.com/jobs">@Messages("footer.jobs")</a></li>
            @if(lang.code=="zh-CN") {
                <li><a target="_blank" href="https://blog.coinport.com/?p=148">@Messages("footer.contact")</a></li>
            } else {
                <li><a target="_blank" href="https://blog.coinport.com/?p=159">@Messages("footer.contact")</a></li>
            }
            <!-- <li><a href="#">联系方式</a></li> -->
          </ul>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-6">
          <h5><b>@Messages("footer.law")</b></h5>
          <ul>
            <li><a href="/terms.html" target="_blank">@Messages("footer.termsOfService")</a></li>
            <li><a href="/privacy.html" target="_blank">@Messages("footer.privacy")</a></li>
            <!-- <li><a href="https://pay.coinport.com/amlPolicy" target="_blank">反洗钱政策</a></li> -->
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-sm-3 col-xs-6">
        <h5><b>资源</b></h5>
        <ul>
        <li><a href="jieruliucheng.html">接入指南</a></li>
        <li><a href="#">了解比特币</a></li>
        <li><a href="#">比特币支付原理</a></li>
        </ul>
        </div> -->
        <div class="col-lg-4 col-sm-4 col-xs-6">
          <h5><b>@Messages("footer.media")</b></h5>
          <ul>
            <li><a href="http://weibo.com/coinport" target="_blank">@Messages("footer.sinaweibo")</a></li>
            <!-- <li class="qrcode"><a href="javascript:void;" data-toggle="popover" data-placement="left" data-content='<img src="assets/images/qrcode.png">'>微信</a></li> -->
            <li><a href="http://twitter.com/coinportinc" target="_blank">Twitter</a></li>
            <li><a href="http://facebook.com/coinport" target="_blank">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="blk20"></div>
  </div>
  <div class="divider"></div>
  @if(lang.code == "zh-CN") {
  <div class="copyright text-center">© 2014 币丰港（香港）网络科技有限公司。保留所有权利</div>
  } else {
  <div class="copyright text-center">© 2014 Coinport (HongKong) Network INC LTD. All right reserved.</div>
  }

  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2p7MBUmM53iXkyPP647DjIW7WeuknrJ1';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
</footer>
