@()(implicit session: Session)

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()
</head>

<body>
  @_navbar(4)(session)

<div class="fixes-top" ng-app="coinport.account">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(10)
  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container" ng-controller="AssetCtrl">

    <div class="asset-overview clearfix">
          <div class="col-lg-3 col-sm-4 col-xs-12">
            <div class="total">
              <div class="icon-box"><i class="icon-user icon-4x"></i></div>
              <div class="total-content"> <span>我的总资产</span>
                <h2>21870.36</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-sm-8 col-xs-12">
            <div class="counter clearfix">
              <div class="slider2">
                <div class="item"><i class="icon-cny-o icon-3x"></i>
                  <div class="coin"><span>人民币</span>
                    <h2>22300</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-btc-o icon-3x"></i>
                  <div class="coin"><span>比特币</span>
                    <h2>25.05678</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-ltc-o  icon-3x"></i>
                  <div class="coin"><span>莱特币</span>
                    <h2>560</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-doge-o  icon-3x"></i>
                  <div class="coin"><span>狗狗币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-bc-o  icon-3x"></i>
                  <div class="coin"><span>黑币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-drk-o  icon-3x"></i>
                  <div class="coin"><span>暗黑币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-vrc-o  icon-3x"></i>
                  <div class="coin"><span>维理币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-zet-o  icon-3x"></i>
                  <div class="coin"><span>泽塔币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-btsx-o  icon-3x"></i>
                  <div class="coin"><span>比特股</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-nxt-o  icon-3x"></i>
                  <div class="coin"><span>未来币</span>
                    <h2>6800</h2>
                  </div>
                </div>
                <div class="item"><i class="icon-srp-o  icon-3x"></i>
                  <div class="coin"><span>瑞波币</span>
                    <h2>6800</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>



        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-purse icon-2x"></i>我的资产</h3>
          </div>
          <div class="panel-body">

              <div class="table-responsive">
                <table class="table table-striped" data-sortable="">
                  <thead>
                    <tr>
                      <th>币种</th>
                      <th>账户总余额</th>
                      <th>可用余额</th>
                      <th>挂单金额</th>
                      <th>待提现金额</th>
                      <th>资产价格</th>
                      <th>资产净值</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="icon-btc-o icon-2x"></i>比特币(BTC)</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                    <tr>
                      <td><i class="icon-ltc-o icon-2x"></i>莱特币(LTC)</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                    <tr>
                      <td><i class="icon-doge-o icon-2x"></i>狗狗币</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                    <tr>
                      <td><i class="icon-bc-o icon-2x"></i>黑币</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                    <tr>
                      <td><i class="icon-drk-o icon-2x"></i>暗黑币</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                    <tr>
                      <td><i class="icon-vrc-o icon-2x"></i>维理币</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                      <td>￥5632.55</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>



    </div>
    <footer>
          <div class="footer-nav">
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <h5><b>关于</b></h5>
              <ul>
                <li><a href="team.html">团队</a></li>
                <li><a href="jobs.html">招贤纳士</a></li>
                <li><a href="#">联系方式</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <h5><b>法律</b></h5>
              <ul>
                <li><a href="shiyongtiaokuan.html" target="_blank">使用条款</a></li>
                <li><a href="yinsizhengce.html" target="_blank">隐私政策</a></li>
                <li><a href="fanxiqianzhengce.html" target="_blank">反洗钱政策</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <h5><b>资源</b></h5>
              <ul>
                <li><a href="jieruliucheng.html">接入指南</a></li>
                <li><a href="#">了解比特币</a></li>
                <li><a href="#">比特币支付原理</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <h5><b>媒体</b></h5>
              <ul>
                <li><a href="http://weibo.com/coinport" target="_blank">新浪微博</a></li>
                <li class="qrcode"><a href="javascript:void;" data-toggle="popover" data-placement="left" data-content='<img src="assets/images/qrcode.png">'>微信</a></li>
                <li><a href="http://twitter.com/coinportinc" target="_blank">twitter</a></li>
                <li><a href="http://facebook.com/coinport" target="_blank">facebook</a></li>
              </ul>
            </div>
          </div>
      <div class="copyright text-center">© 2014 币丰港（香港）网络科技有限公司。保留所有权利</div>
    </footer>
  </div>
</div>

<!--end-main-container-->

@__tail_commons()
@__js("/js/coinport/app.js")
@__js("/js/coinport/account.js")
</body>
</html>
