@()(implicit session: Session, lang: Lang)
@import utils.Constant._

@isLogin() = @{session.get("uid").isDefined}
@isSetGoogleAuth() = @{session.get(cookieGoogleAuthSecret).isDefined && !session.get(cookieGoogleAuthSecret).get.toString.isEmpty()}
@isSetEmailPreference() = @{session.get(securityPreference).get.last.toString.contentEquals("1")}
@isSetPhonePreference() = @{session.get(securityPreference).get.head.toString.contentEquals("1")}
@isVerifiedUser() = @{session.get(userRealName).isDefined && session.get(userRealName).get.trim.toString.nonEmpty}
@realName() = @{session.get(userRealName).get.trim.toString}

<!doctype html>
<html>
<head>
<title>@Messages("title")</title>
@__head_commons()

@__js_lang()(lang)
</head>

<body ng-app="coinport.account">
  @_navbar(4)(session, lang)

<div class="fixes-top" ng-controller="TransferCtrl">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(20)
  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container">
    <span ng-show="false" ng-init="isVerifiedUser = @{isVerifiedUser()};"></span>
    <span ng-show="false" ng-init="emailVerOn = @{isSetEmailPreference()};"></span>
    <span ng-show="false" ng-init="mobileVerOn = @{isSetPhonePreference()};"></span>

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <h3 class="panel-title col-lg-2 col-sm-3 col-xs-12 pull-left " style=" line-height:34px; padding-right:20px;"><i class="icon-transfer icon-2x"></i>@Messages("account.transfer")</h3>
          <div class="form-group pull-right col-sm-9 col-xs-12" style="margin:0;">
            <div class="row">
              <label class="col-sm-4 col-xs-4 control-label hidden-xs text-right"  style="line-height:2.5;">@Messages("user.transfer.chooseCoin")</label>
              <div class="col-sm-8 col-xs-12">
                <select class="form-control" ng-model="currency" ng-change="changeCurrency()" ng-options="allCoinsWithName[coin] for coin in allCoins">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul class="primary nav nav-tabs nav-tabs-justified">
          <li class="active"> <a href="#tab-1" data-toggle="tab"> <span class="visible-xs"><i class="fa-home"></i></span> <span>@Messages("transfer.deposit")</span> </a> </li>
          <li class=""> <a href="#tab-2" data-toggle="tab"> <span class="visible-xs"><i class="fa-user"></i></span> <span>@Messages("transfer.withdrawal")</span> </a> </li>
        </ul>
        <div class="blk-3x"></div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-1">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.account")</label>
                <div class="col-sm-10 col-xs-8"> <span class="text-warning font-2x" ng-bind="accounts[currency].available.value || 0"></span><span class=" offset-1x" ng-bind="currency"></span> </div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-xs-4"></div>
                <div class="col-sm-10 col-xs-8">
                  <div class="form-group-separator"></div>
                </div>
              </div>
              <div class="form-group form-group-lg">
                <label class="col-sm-2 col-xs-4 control-label" ng-hide="currency == 'CNY'">@Messages("transfer.depositAddress")</label>
                <label class="col-sm-2 col-xs-4 control-label" ng-show="currency == 'CNY'">@Messages("transfer.withdrawal.howto")</label>
                <div class="col-sm-10 col-xs-8">
                  <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;" ng-hide="currency == 'CNY'"><span ng-bind="depositAddresses[currency]"></span> </div>
                  <span ng-show="currency == 'NXT'">
                      <b class="red">@Messages("transfer.nxt.newaddr.hint") </b>
                      <br/>
                      <b>Public Key: {{nxtPublicKey}}</b>
                  </span>
                  <span ng-show="currency == 'BTSX'">
                      <br>
                      @Messages("transfer.btsx.hint1"): <b>coinport-deposit</b>
                      <br>
                      <b>@Messages("transfer.btsx.hint2"): </b>
                      <b class="text-danger">{{uid}}</b>
                  </span>
                  <span ng-show="currency == 'XRP'">
                      <br>
                      @Messages("transfer.xrp.hint1"): <b>coinportXrpDeposit</b>
                      <br>
                      <b>@Messages("transfer.xrp.hint2"): </b>
                      <b class="text-danger">{{uid}}</b>
                  </span>
                  <span ng-show="currency == 'GOOC'">
                      <b>@Messages("transfer.depositGoocWorkflow"):</b><br/>
                      @if("zh-CN" == lang.code) {
                      <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;">
                          <ol>
                              <li> 将谷壳币打入：{{depositAddresses[currency]}}，并在“转帐内容描述”中填写您的币丰港ID（非常重要）：<b class="text-danger">{{uid}}</b> </li>
                          </ol>
                      </div>
                      } else {
                      <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;">
                          <ol>
                              <li> Transfer your GOOC to：{{depositAddresses[currency]}} and input your coinport ID to memo field: <b class="text-danger">{{uid}}</b> </li>
                          </ol>
                      </div>
                      }
                      <b>@Messages("transfer.depositGoocNotes"):</b><br/>
                      @if("zh-CN" == lang.code) {
                      <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;">
                          <ul>
                              <li> 单笔充值金额需大于1000谷壳币 (如果您在转帐过程中正确填写了转帐内容描述,即您的币丰港ID，则无此限制) </li>
                              <li> 充值时间为10:00至22:00 (如果您在转帐过程中正确填写了转帐内容描述,即您的币丰港ID，即将无此限制) </li>
                              <li> 2小时之内处理 (如果您在转帐过程中正确填写了转帐内容描述,即您的币丰港ID，几分钟即可到帐) </li>
                          </ul>
                      </div>
                      } else {
                      <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;">
                          <ul>
                              <li> more than 1000 GOOC per deposit request </li>
                              <li> opening from 10:00 to 22:00 </li>
                              <li> finish your deposit request within 2 hours </li>
                          </ul>
                      </div>
                      }
                  </span>
                  @if("zh-CN" == lang.code) {
                  <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;" ng-show="currency == 'CNY'">
                    <span >您可以通过代理商充值：先联系代理商（QQ 3115728063, 209063895)索要充值账户，之后付款给代理商。代理商后续将帮您完成充值工作。</span>
                    <span >您还可以通过ripple网络直接将多种资产转化成人民币充值，实时自动到帐，方便快捷。具体方法参见我们的<a href='https://blog.coinport.com/?p=67' style="color:blue">相关博客</a></span>
                  </div>
                  } else {
                  <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;" ng-show="currency == 'CNY'">
                    <span >You can make RMB deposits through our certified agents. Please contact them using Tencent QQ 3115728063, 209063895. They will tell you the account that you need to deposit into. </span>
                    <span >You may also deposit RMB through our trusted Ripple gateways. Ripple deposit is near realtime and is more convinient. Please refer to <a href='https://blog.coinport.com/?p=67'>our blog</a> for details.</span>
                  </div>
                  }

                </div>

              </div>
              <div class="blk-1x"></div>
              <div class="form-group-separator"></div>
            </form>
            <h4>@Messages("transfer.depositRecord")</h4>
            <div class="table-responsive">
              <table class="table table-striped" data-sortable="">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>@Messages("transfer.created")</th>
                    <th>@Messages("transfer.updated")</th>
                    <th>@Messages("transfer.amount")</th>
                    <th>@Messages("transfer.status")</th>
                    <th>@Messages("transfer.address")</th>
                    <!-- <th>交易</th> -->
                  </tr>

                </thead>
                <tbody>
                  <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.created | date:'MM-dd HH:mm:ss'"></td>
                    <td ng-bind="item.updated | date:'MM-dd HH:mm:ss'"></td>
                    <td><span class="item.operation | transferOperationClass">{{item.operation | transferSign}}{{item.amount.value | quantity}}</span></td>
                    <td><span  class="label label-{{item.status | transferStatusClass}}" ng-bind="item.status | transferStatusText"></span></td>
                    <td><div class="font-1x" title="">{{item.address}} <br> {{item.NxtRsString}} </div></td>
                    <!-- <td><a class="btn-default btn-sm btn">交易</a></td> -->
                  </tr>
                  <!-- <tr>
                  <td>10000015489</td>
                  <td>08-09&nbsp;&nbsp;13:25:02</td>
                  <td>08-09&nbsp;&nbsp;13:25:02</td>
                  <td><span class="text-success">+0.56</span></td>
                  <td><span  class="label label-warning">确认中</span></td>
                  <td><div class="font-1x" title="">1Akprg8nREQS3QMcwKhu9ynRN7gBK6mCA5 </div></td>
                  <td><a class="btn-default btn-sm btn">交易</a></td>
                  </tr> -->
                </tbody>
              </table>
              <pager total-items="depositCount" ng-model="page" items-per-page="limit" ng-change="loadDeposits()" align="false">
            </div>
            <!-- <ul class="pagination pull-right">
            <li><a href="#"><i class="icon-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul> -->
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-xs-2 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
              <div class="col-xs-10">
                <p class=" text-dark tip" ng-hide="currency == 'CNY' && !isVerifiedUser">
                  @Messages("transfer.withdrawalHint")
                  <span ng-bind="' ' + withdrawalLimit + ' ' + currency"></span>
                  @Messages("transfer.withdrawalHint1")
                  <span ng-bind="withdrawalFee"></span>
                  <span ng-hide="currency.toUpperCase() == 'CNY'" ng-bind="currency"></span>
                  @Messages("transfer.withdrawalHint2")
                  <span class="red" ng-show="currency.toUpperCase() == 'CNY'">@Messages("transfer.withdrawalCreditCardHint")</span>
                  <br/>
                  <span ng-show="currency.toUpperCase() == 'BTSX'">
                    <br>
                    <b class="text-danger">@Messages("transfer.btsx.hint3")</b>
                  </span>
                </p>

                <p class=" text-dark tip" ng-show="currency == 'CNY' && !isVerifiedUser"> @Messages("transfer.verifyFailDesc")&nbsp;&nbsp;&nbsp;&nbsp; <a class="btn-link" href="/account/settingsPage">@Messages("transfer.doVerifyBtn")</a></p>

              </div>
            </div>
            <div class="blk-2x"></div>

            <form role="form" class="form-horizontal" ng-show="currency == 'CNY' && !isVerifiedUser">
              <div class="form-group-separator"></div>
              <div class="blk-2x"></div>
            </form>

            <form role="form" class="form-horizontal" ng-hide="currency == 'CNY' && !isVerifiedUser">
              <div class="form-group-separator"></div>
              <div class="blk-2x"></div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.account")</label>
                <div class="col-sm-10 col-xs-8"> <span class="text-warning font-2x" ng-bind="accounts[currency].available.value || 0"></span><span class=" offset-1x" ng-bind="currency"></span> </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.withdrawalAmount")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" id="field-1" placeholder="@Messages("transfer.withdrawalAmount")" ng-model="withdrawalData.amount"/>
                </div>
                @if("zh-CN" == lang.code) {
                <div class="col-sm-2 col-xs-4 control-label" ng-show="currency == 'GOOC'">
                    由于接口限制，目前谷壳币提现只能为整数
                </div>
                } else {
                <div class="col-sm-2 col-xs-4 control-label" ng-show="currency == 'GOOC'">
                    Integer only
                </div>
                }
              </div>

              <div class="form-group" ng-show="currency.toUpperCase() == 'CNY'">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.withdrawalAccount")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <!-- <input type="text" class="form-control" id="field-1" placeholder="提现地址" ng-model="withdrawalData.address"/> -->
                  <div class="input-group">
                    <select class="form-control no-left-border no-right-border form-focus-warning" ng-model="selectedBankCard" ng-options="bankCardToString(bankCard) for bankCard in bankCards" ng-disabled="bankCards.length == 0">
                    </select>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"  ng-disabled="bankCards.length == 0" ng-click="deleteBankCard();">@Messages("transfer.deleteBankCard")</button>
                      <a href="#">
                      <button id="add-bankcard" class="btn btn-default" type="button" data-rel="popover" data-toggle="popover" data-placement="left" data-title="@Messages("transfer.addBankCard")" data-content='
                          <div class="form-group">
                              <input type="text" class="form-control" value=@realName() id="owner-name" readonly/>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" id="card-number" value="" placeholder="@Messages("transfer.cardNumber")"/>
                          </div>
                          <div class="form-group">
                            <select type="text" id="bank-name" class="form-control" value="" placeholder="@Messages("transfer.bankName")">
                              @for(bankName <- supportedBankNames)  {
                              <option value="@bankName">@bankName</option>
                              }
                            </select>
                          </div>
                          <div class="form-group"><input type="text" id="bank-branch-name" class="form-control" value="" placeholder="@Messages("transfer.branchBankName")" /></div>
                          <div class="form-group text-center"><div class="row"><div class="col-xs-6"><input type="text" class="form-control" id="email-code" value="" placeholder="邮件验证码" /></div><div class="col-xs-6"><button class="btn btn-success col-xs-12 sendmail" id="add-bank-sendmail">@Messages("transfer.sendVerifyEmail")</button></div></div></div>
                          <div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save">@Messages("ok")</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel">@Messages("cancel")</button></div></div></div>'>@Messages("transfer.addBankCard") </button></a>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-hide="currency.toUpperCase() == 'CNY'">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.withdrawalAddress")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" id="field-1" placeholder="@Messages("transfer.withdrawalAddress")" ng-model="withdrawalData.address"/>
                </div>
              </div>

              <!-- BTSX and NXT additional fields -->
              <div class="form-group" ng-show="currency.toUpperCase() == 'BTSX'">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@(Messages("transfer.withdrawalMemo"))</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" ng-model="withdrawalData.memo"/>
                </div>
              </div>

              <div class="form-group" ng-show="currency.toUpperCase() == 'NXT'">
                <label class="col-sm-2 col-xs-4 control-label">Public Key</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" ng-model="withdrawalData.publicKey" placeholder="@Messages("transfer.nxt.publickey.hint")"/>
                </div>
              </div>
              <!-- BTSX and NXT additional fields end -->

              <div class="form-group" ng-show="emailVerOn">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.emailVerCode")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <div class="input-group">
                    <input type="text" class="form-control no-left-border no-right-border form-focus-warning" ng-model="withdrawalData.emailcode" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="sendVerifyEmail()" ng-disabled="isTimingEmail">@Messages("transfer.sendVerifyEmail") </button>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="mobileVerOn">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.phoneVerCode")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <div class="input-group">
                    <input type="text" class="form-control no-left-border no-right-border form-focus-warning" ng-model="withdrawalData.phonecode" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="sendVerifySms()" ng-disabled="isTimingSms">@Messages("accountsettings.sec.mobile.sendsms") </button>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="@isSetGoogleAuth()">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">@Messages("transfer.googleAuthCode")</label>
                <div class="col-sm-6 col-xs-8 ">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="withdrawalData.googlecode" />
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="showWithdrawalError">
                <div class="col-xs-offset-2 col-sm-offset-2 col-sm-6 col-xs-8">
                  <span class="text-danger" ng-bind="withdrawalErrorMessage"></span>
                </div>
              </div>

              <div class="blk-2x"></div>
              <div class="row">
                <div class="col-sm-offset-2">
                  <div class="col-sm-2 col-xs-12"><button class="btn btn-primary btn-block" ng-click="withdrawal()">@Messages("transfer.withdrawal")</button></div></div>
              </div>
              <div class="blk-2x"></div>
              <div class="form-group-separator"></div>
            </form>
            <h4>@Messages("transfer.withdrawalRecord")</h4>
            <div class="table-responsive">
              <table class="table table-striped" data-sortable="">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>@Messages("transfer.created")</th>
                    <th>@Messages("transfer.updated")</th>
                    <th>@Messages("transfer.amount")</th>
                    <th>@Messages("transfer.status")</th>
                    <th>@Messages("transfer.address")</th>
                    <!-- <th>交易</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in withdrawals | orderBy: ['-date', '-id']">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.created | date:'MM-dd HH:mm:ss'"></td>
                    <td>{{item.updated > 0 ? (item.updated | date:"MM-dd HH:mm:ss") : ''}}</td>
                    <td><span class="{{item.operation | transferOperationClass}}">{{item.operation | transferSign}}{{item.amount.value | quantity}}</span></td>
                    <td> <span class="label label-{{item.status | transferStatusClass}}">{{item.status  | transferStatusText}}</span> </td>
                    <td><div class="font-1x" title="">{{item.address}} <br> {{item.NxtRsString}} </div></td>
                    <td  ng-hide="currency.toUpperCase() == 'CNY'"><a class="btn-default btn-sm btn">@Messages("transfer.txid")</a></td>
                  </tr>
                </tbody>
              </table>
              <pager total-items="withdrawalCount" ng-model="page" items-per-page="limit" ng-change="loadWithdrawals()" align="false">
            </div>
            <!-- <ul class="pagination pull-right">
            <li><a href="#"><i class="icon-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

    @__footer()

  </div>
</div>

<!--end-main-container-->
@__tail_commons()
@__js("/js/coinport/account.js")

</body>
</html>
