@()(implicit session: Session, lang: Lang)
@import utils.Constant._

@isSetGoogleAuth() = @{session.get(cookieGoogleAuthSecret).isDefined && !session.get(cookieGoogleAuthSecret).get.toString.isEmpty()}

<!doctype html>
<html>
<head>
<title>@Messages("title")</title>
@__head_commons()
@__js_lang()(lang)
</head>

<body ng-app="coinport.account">
  @_navbar(4)(session, lang)

<div class="fixes-top" ng-controller="GoogleAuthCtrl">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(43)
  </div>
  <!--end-sidebar-menu-->

  <div id="main-container" ng-show="@isSetGoogleAuth()">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><i class="icon-user icon-2x"></i>@Messages("accountsettings.googleAuth")</h3>
      </div>
      <div class="panel-body">
        <div class="blk-3x"></div>
        <div class="row">
          <div class="col-sm-2 col-xs-2 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
          <div class="col-sm-10 col-xs-10">
            <p class=" text-dark tip">@Messages("accountsettings.googleauth.unbindHint0")</p>
          </div>
        </div>
        <div class="blk-3x"></div>
      </div>
    </div>
  </div>

  <!--container-->
  <div id="main-container" ng-hide="@isSetGoogleAuth()">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><i class="icon-user icon-2x"></i>@Messages("accountsettings.googleAuth")</h3>
      </div>
      <div class="panel-body">
        <div class="blk-3x"></div>
        <div class="row">
          <div class="col-sm-2 col-xs-2 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
          <div class="col-sm-10 col-xs-10">
            <p class=" text-dark tip">@Messages("accountsettings.googleauth.hint")<br/>
              @Messages("accountsettings.googleauth.followsteps") </p>
          </div>
        </div>
        <div class="blk-3x"></div>
        <form role="form" class="form-horizontal">
          <div class="form-group-separator"></div>
          <div class="blk-1x"></div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label text-success">@Messages("accountsettings.googleAuth.stepOne")</label>
            <div class="col-sm-10 col-xs-12">
              <div class="form-text-control font-1x"><b>@Messages("accountsettings.googleAuth.stepOneGuide")</b></div>
            </div>
          </div>
          <div class="form-group phone-style">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <a target="_blank" href="http://itunes.apple.com/cn/app/google-authenticator/id388497605?mt=8">
                  <div class="logo-ios"></div>
                  </a>
                  <h6>@Messages("accountsettings.googleAuth.iphone")</h6>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <a target="_blank" href="http://apk.hiapk.com/html/2013/07/1643619.html">
                  <div class="logo-android"></div>
                  </a>
                  <h6>@Messages("accountsettings.googleAuth.android")</h6>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <a target="_blank" href="http://www.windowsphone.com/zh-cn/store/app/authenticatorg/4362996a-8528-4641-a983-57e63c74ce16">
                  <div class="logo-wp"></div>
                  </a>
                  <h6>@Messages("accountsettings.googleAuth.windowsphone")</h6>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <a target="_blank" href="https://code.google.com/p/lwuitgauthj2me/">
                  <div class="logo-nokia"></div>
                  </a>
                  <h6>@Messages("accountsettings.googleAuth.Nokias")</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label text-success">@Messages("accountsettings.googleAuth.stepTwo")</label>
            <div class="col-sm-10 col-xs-12">
              <div class="form-text-control font-1x"><b>@Messages("accountsettings.googleAuth.stepTwoGuide")</b></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
              <p>@Messages("accountsettings.googleAuth.scanQRcode")</p>
              <div id="qrcode" style="width:200px; height:200px; margin-top:20px; margin-left: 50px; margin-bottom: 20px"></div>
              <div class="blk-2x"></div>
              <p>@Messages("accountsettings.googleAuth.inputSecret")<b ng-bind="secret"></b> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-12 control-label text-success">@Messages("accountsettings.googleAuth.stepThree")</label>
            <div class="col-sm-10 col-xs-12">
              <div class="form-text-control font-1x"><b>@Messages("accountsettings.googleAuth.stepThreeGuide")</b></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-6 col-xs-12">
              <p>@Messages("accountsettings.googleAuth.dontdelete")</p>
              <div class="input-group">
                <input class="form-control no-left-border no-right-border form-focus-warning" ng-model="verifycode" max-length="6" min-length="6" type="text">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="bind()">@Messages("accountsettings.googleauth.bind") </button>
                </span> </div>
            </div>
          </div>
          <div class="blk-1x"></div>
          <div class="form-group-separator"></div>
        </form>
      </div>
    </div>

    @__footer()

  </div>
</div>

<!--end-main-container-->

@__tail_commons()
@__js("/js/qrcode.min.js")
@__js("/js/coinport/account.js")
</body>
</html>
