@()(implicit session: Session)

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()
</head>

<body ng-app="coinport.account">
  @_navbar(4)(session)

<div class="fixes-top" ng-controller="TransferCtrl">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(20)
  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <h3 class="panel-title col-lg-2 col-sm-3 col-xs-12 pull-left " style=" line-height:34px; padding-right:20px;"><i class="icon-transfer icon-2x"></i>充值提现</h3>
          <div class="form-group pull-right col-sm-9 col-xs-12" style="margin:0;">
            <div class="row">
              <label class="col-sm-4 col-xs-4 control-label hidden-xs text-right"  style="line-height:2.5;">选择币种</label>
              <div class="col-sm-8 col-xs-12">
                <select class="form-control" ng-model="currency" ng-change="changeCurrency()" ng-options="allCoinsWithName[coin] for coin in allCoins">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs nav-tabs-justified">
          <li class="active"> <a href="#tab-1" data-toggle="tab"> <span class="visible-xs"><i class="fa-home"></i></span> <span>充值</span> </a> </li>
          <li class=""> <a href="#tab-2" data-toggle="tab"> <span class="visible-xs"><i class="fa-user"></i></span> <span>提现</span> </a> </li>
        </ul>
        <div class="blk-3x"></div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-1">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">账户余额</label>
                <div class="col-sm-10 col-xs-8"> <span class="text-warning font-2x" ng-bind="accounts[currency].available.value || 0"></span><span class=" offset-1x" ng-bind="currency"></span> </div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-xs-4"></div>
                <div class="col-sm-10 col-xs-8">
                  <div class="form-group-separator"></div>
                </div>
              </div>
              <div class="form-group form-group-lg">
                <label class="col-sm-2 col-xs-4 control-label" for="field-2">充值地址</label>
                <div class="col-sm-10 col-xs-8">
                  <div class="form-text-control font-1x text-break word-break" style="padding-top:10px;"><span ng-bind="depositAddresses[currency]"></span> </div>
                </div>
              </div>
              <div class="blk-1x"></div>
              <div class="form-group-separator"></div>
            </form>
            <h4>充值记录</h4>
            <div class="table-responsive">
              <table class="table table-striped" data-sortable="">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>提交时间</th>
                    <th>更新时间</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>地址</th>
                    <!-- <th>交易</th> -->
                  </tr>

                </thead>
                <tbody>
                  <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.created | date:'MM-dd HH:mm:ss'"></td>
                    <td ng-bind="item.updated | date:'MM-dd HH:mm:ss'"></td>
                    <td><span class="item.operation | transferOperationClass">{{item.operation | transferSign}}{{item.amount.value | quantity}}</span></td>
                    <td><span  class="label label-{{item.status | transferStatusClass}}" ng-bind="item.status | transferStatusText"></span></td>
                    <td><div class="font-1x" title="">{{item.address}} <br> {{item.NxtRsString}} </div></td>
                    <!-- <td><a class="btn-default btn-sm btn">交易</a></td> -->
                  </tr>
                  <!-- <tr>
                  <td>10000015489</td>
                  <td>08-09&nbsp;&nbsp;13:25:02</td>
                  <td>08-09&nbsp;&nbsp;13:25:02</td>
                  <td><span class="text-success">+0.56</span></td>
                  <td><span  class="label label-warning">确认中</span></td>
                  <td><div class="font-1x" title="">1Akprg8nREQS3QMcwKhu9ynRN7gBK6mCA5 </div></td>
                  <td><a class="btn-default btn-sm btn">交易</a></td>
                  </tr> -->
                </tbody>
              </table>
              <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadDeposits()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

            </div>
            <!-- <ul class="pagination pull-right">
            <li><a href="#"><i class="icon-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul> -->
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-xs-2 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
              <div class="col-xs-10">
                <p class=" text-dark tip">最小提现不能小于 0.01 BTC ，无最大数量限制。 我们会从提现数目中扣除 0.0005 BTC 作为手续费。提现请求会在24小时内处理完成。我们的工作时间是香港时间12:00-24:00，周末无休。如有其他问题，请联系客服人员。</p>
              </div>
            </div>
            <div class="blk-2x"></div>
            <form role="form" class="form-horizontal">
              <div class="form-group-separator"></div>
              <div class="blk-2x"></div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">账户余额</label>
                <div class="col-sm-10 col-xs-8"> <span class="text-warning font-2x">156.23</span><span class=" offset-1x">BTC</span> </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">提现数量</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" id="field-1" placeholder="提现数" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">提现地址</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input type="text" class="form-control" id="field-1" placeholder="提现数" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="field-1">验证码</label>
                <div class="col-sm-6 col-xs-8 ">
                  <div class="input-group">
                    <input type="email" class="form-control no-left-border no-right-border form-focus-warning">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">获取邮件验证码 </button>
                    </span> </div>
                </div>
              </div>
              <div class="blk-2x"></div>
              <div class="row">
               <div class="col-sm-offset-2">
              <div class="col-sm-2 col-xs-12"><button class="btn btn-primary btn-block">提现</button></div></div>
              </div>
              <div class="blk-2x"></div>
              <div class="form-group-separator"></div>
            </form>
            <h4>提现记录</h4>
            <div class="table-responsive">
              <table class="table table-striped" data-sortable="">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>提交时间</th>
                    <th>更新时间</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>地址</th>
                    <!-- <th>交易</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10000015489</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td><span class="text-success">+0.56</span></td>
                    <td><span  class="label label-success">成功</span></td>
                    <td><div class="font-1x" title="">1Akprg8nREQS3QMcwKhu9ynRN7gBK6mCA5 </div></td>
                    <td><a class="btn-default btn-sm btn">交易</a></td>
                  </tr>
                  <tr>
                    <td>10000015489</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td><span class="text-success">+0.56</span></td>
                    <td><span  class="label label-warning">确认中</span></td>
                    <td><div class="font-1x" title="">1Akprg8nREQS3QMcwKhu9ynRN7gBK6mCA5 </div></td>
                    <td><a class="btn-default btn-sm btn">交易</a></td>
                  </tr>
                  <tr>
                    <td>10000015489</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td>08-09&nbsp;&nbsp;13:25:02</td>
                    <td><span class="text-success">+0.56</span></td>
                    <td><span  class="label label-danger">无效</span></td>
                    <td><div class="font-1x" title="">1Akprg8nREQS3QMcwKhu9ynRN7gBK6mCA5 </div></td>
                    <td><a class="btn-default btn-sm btn">交易</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="pagination pull-right">
              <li><a href="#"><i class="icon-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-nav">
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <h5><b>关于</b></h5>
          <ul>
            <li><a href="team.html">团队</a></li>
            <li><a href="jobs.html">招贤纳士</a></li>
            <li><a href="#">联系方式</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <h5><b>法律</b></h5>
          <ul>
            <li><a href="shiyongtiaokuan.html" target="_blank">使用条款</a></li>
            <li><a href="yinsizhengce.html" target="_blank">隐私政策</a></li>
            <li><a href="fanxiqianzhengce.html" target="_blank">反洗钱政策</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <h5><b>资源</b></h5>
          <ul>
            <li><a href="jieruliucheng.html">接入指南</a></li>
            <li><a href="#">了解比特币</a></li>
            <li><a href="#">比特币支付原理</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
          <h5><b>媒体</b></h5>
          <ul>
            <li><a href="http://weibo.com/coinport" target="_blank">新浪微博</a></li>
            <li class="qrcode"><a href="javascript:void;" data-toggle="popover" data-placement="left" data-content='<img src="assets/images/qrcode.png">'>微信</a></li>
            <li><a href="http://twitter.com/coinportinc" target="_blank">twitter</a></li>
            <li><a href="http://facebook.com/coinport" target="_blank">facebook</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright text-center">© 2014 币丰港（香港）网络科技有限公司。保留所有权利</div>
    </footer>
  </div>
</div>

<!--end-main-container-->
@__tail_commons()
@__js("/js/coinport/account.js")

</body>
</html>
