@(assetCurrencies: Seq[String])(implicit session: Session, lang: Lang)
@import utils.Constant._

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()
@__js_lang()(lang)
</head>

<body ng-app="coinport.account">
  @_navbar(4)(session, lang)

<div class="fixes-top"  ng-controller="AssetCtrl">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(10)
  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container">

    <div class="asset-overview clearfix">
      <div class="col-lg-3 col-sm-4 col-xs-12">
        <div class="total">
          <div class="icon-box"><i class="icon-user icon-4x"></i></div>
          <div class="total-content"> <span>@Messages("asset.totalAmount")</span>
            <h2 ng-bind="'¥ ' + totalAssetCny"></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-sm-8 col-xs-12">
        <div class="counter clearfix">
          <div class="slider2">
            @for(currency <- assetCurrencies) {
            <div class="item"><i class="icon-@{currency.toLowerCase}-o icon-3x"></i>
            @if("zh-CN" == lang.code) {
              <div class="coin"><span>@{coinChineseNames(currency)}</span>
            } else {
              <div class="coin"><span>@{coinEnglishNames(currency)}</span>
            }
                <h2 ng-bind="accounts['@currency'].total.value | quantity"></h2>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-purse icon-2x"></i>@Messages("asset.myAsset")</h3>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-striped" data-sortable="">
            <thead>
              <tr>
                <th>@Messages("user.coinType")</th>
                <th>@Messages("user.account.total")</th>
                <th>@Messages("user.available")</th>
                <th>@Messages("user.orderPending")</th>
                <th>@Messages("user.withdrawalPending")</th>
                <th>@Messages("asset.price")</th>
                <th>@Messages("asset.value")</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in accounts">
                <td><i class="icon-{{account.currency.toLowerCase()}}-o icon-2x"></i><span ng-bind="Messages.coinName[account.currency]"></span>(<span ng-bind="account.currency"></span>)</td>
                <td ng-bind="account.total.value | quantity">@Messages("loading")</td>
                <td ng-bind="account.available.value | quantity">@Messages("loading")</td>
                <td ng-bind="account.locked.value | quantity">@Messages("loading")</td>
                <td ng-bind="account.pendingWithdrawal.value | quantity">@Messages("loading")</td>
                <td ng-bind="account.price + ' BTC'">@Messages("loading")</td>
                <td ng-bind="account.asset + ' BTC'">@Messages("loading")</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    @__footer()
  </div>
</div>

<!--end-main-container-->

@__tail_commons()
@__js("/js/coinport/account.js")
</body>
</html>
