@()(implicit session: Session, lang: Lang)
@import utils.PageUtil
@import utils.SecurityPreferenceUtil._
@import utils.Constant

@isRealNameVerified() = @{session.get(Constant.userRealName).isDefined && session.get(Constant.userRealName).get.nonEmpty}
@isEmailVerifyOn() = @{isEmailVerificationOn(session.get(Constant.securityPreference))}
@isBindMobile() = @{session.get(Constant.cookieNameMobile).getOrElse("").trim.nonEmpty}
@isMobileVerifyOn() = @{isMobileVerificationOn(session.get(Constant.securityPreference))}
@isGoogleAuthOn() = @{session.get(Constant.cookieGoogleAuthSecret).getOrElse("").trim.nonEmpty}

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()
@__js_lang()(lang)
<style>
 .popover {
   z-index: 30020; /* A value higher than 1010 that solves the problem */
 }
</style>
</head>

<body ng-app="coinport.account">
<div class="fixes-top" ng-controller="AccountSettingsCtrl">
  @_navbar(4)(session)

  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(42)
  </div>

  <div ng-show="false">
  <span @if(isEmailVerifyOn()){ ng-init="emailVerOn = true;"} else { ng-init="emailVerOn = false;"}>
  <span @if(isMobileVerifyOn()){ ng-init="mobileVerOn = true;"} else { ng-init="mobileVerOn = false;"}>
  <span @if(isGoogleAuthOn()){ ng-init="googleAuthOn = true;"} else { ng-init="googleAuthOn = false;"}>
  </div>

  <!--container-->
  <div id="main-container">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><i class="icon-user icon-2x"></i>账号安全</h3>
      </div>
      <div class="panel-body">
        <div class="blk-3x"></div>
        <div class="row">
          <div class="col-sm-2 col-xs-12 align-fixes"><i class="icon-bulb icon-3x text-warning vm"></i></div>
          <div class="col-sm-10 col-xs-12">
            <p class=" text-dark tip">对于特定的账户操作，币丰港将要求您提供验证码。我们将通过邮件方式发送验证码，验证码的过期时间为30分钟。 我们同时提供基于谷歌Authenticator的双重验证。鉴于邮件的安全级别较低，我们建议所有用户开通双重验证。 开通双重验证后，对于同样地账户操作，我们在要求邮件验证的同时，将额外要求您提供谷歌Authenticator的二次验证。我们强烈建议您请尽可能在完成安全设置后再充值或提现资金。</p>
          </div>
        </div>
        <div class="blk-3x"></div>

        <form role="form" class="form-horizontal">
          <div class="form-group" ng-show="showSettingsError">
            <div class="row">
              <div class="col-sm-10 col-xs-12 check-label align-fixes">
                <p class="text-danger" ng-bind="settingsErrorMessage"></p>
              </div>
            </div>
          </div>

          <div class="form-group-separator"></div>
          <div class="blk-1x"></div>

          <div class="form-group">
            <div class="col-sm-2 col-xs-12 check-label align-fixes"><i class="icon-check icon-2x @if(isRealNameVerified) {text-success} else {text-warning}"></i><label class="control-label">实名认证</label></div>

            <div class="col-sm-5 col-xs-8">
              @if(isRealNameVerified) {
              <div class="form-text-control font-1x text-success">实名认证已完成</div>
              } else {
              <div class="form-text-control font-1x text-warning">尚未进行实名认证,会影响人民币的充值和提现。</div>
              }
            </div>
            @if(!isRealNameVerified) {
            <div class="col-sm-5 col-xs-4"><div class="form-text-control font-1x  xs-text"><a id="realname-verify" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-title="实名认证" data-content='<div class="form-group"><input type="text" class="form-control" value="" id="realname" placeholder="真实姓名" /></div><div class="form-group"><select class="form-control" id="location" placeholder="请选择国家或地区"><option value="zh-CN">中国</option><option value="USA">美国</option><option value="other">其他地区</option> </select></div><div class="form-group"><select class="form-control" id="identity-type"><option value="idcard" selected>身份证</option><option value="passport">护照</option></select></div>
              <div class="form-group"><input type="text" class="form-control" value="" id="identity-code" placeholder="证件号码" /></div>
              <div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save" id="pwd-update">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel" id="pwd-cancel">取消</button></div></div></div>'>认证</a></div> </div>
          }
      </div>

      <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
          <div class="form-group-separator"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 col-xs-12 check-label align-fixes"><i class="icon-check icon-2x text-success "></i><label class="control-label">登录密码</label></div>

        <div class="col-sm-5 col-xs-8"><div class="form-text-control font-1x text-success">登录密码已设置</div></div>
        <div class="col-sm-5 col-xs-4"><div class="form-text-control font-1x  xs-text"><a id="pwd-update" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-title="修改密码" data-content='<div class="form-group"><input type="password" class="form-control" value="" id="oldPwd" placeholder="当前密码" /></div><div class="form-group"><input type="password" class="form-control" id="newPwd" value="" placeholder="新密码" /></div><div class="form-group"><input type="password" id="newPwdConfirm" class="form-control" value="" placeholder="确认密码" /></div>
              <div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save" id="pwd-update">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel" id="pwd-cancel">取消</button></div></div></div>'>修改</a></div> </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
          <div class="form-group-separator"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-xs-12 check-label align-fixes"><i class="icon-check icon-2x @if(isEmailVerifyOn){ text-success } else {text-warning} "></i><label class="control-label">邮箱验证</label></div>
        <div class="col-sm-5 col-xs-8"><div class="form-text-control font-1x @if(isEmailVerifyOn){ text-success } else {text-warning} text-line xs-fixes-line">你的邮箱地址：@session.get("username").getOrElse("")</div></div>
        <div class="col-sm-5 col-xs-4"><div class="form-text-control font-1x xs-text"><a id="email-switch" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-title="邮箱验证设置" data-content='<div class="form-group"><p>验证邮件已发送，请输入邮箱验证码：</p></div><div class="form-group"><input type="text" class="form-control" id="email-verify-code" value="" placeholder="邮箱验证码" /></div><div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel" >取消</button></div></div></div>'><input type="checkbox" class="js-switch" @if(isEmailVerifyOn){ checked } disabled /> </a></div></div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
          <div class="form-group-separator"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-xs-12 check-label align-fixes"><i class="icon-warning icon-2x @if(isBindMobile) { text-success } else { text-warning } "></i><label class="control-label">手机绑定</label></div>
        <div class="col-sm-5 col-xs-8">@if(isBindMobile) { <div class="form-text-control font-1x text-success">你绑定的手机号码为：@PageUtil.encryptMobile(session.get(Constant.cookieNameMobile))</div> } else { <div class="form-text-control font-1x text-warning">你尚未绑定手机</div> }</div>
        <div class="col-sm-5 col-xs-4">
          <div class="form-text-control font-1x xs-text">
            @if(isBindMobile) {
            <a id="mobile-switch" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-title="手机短信验证设置" data-content='<div class="form-group"><p style="margin: 0px;">验证短信已发送，请输入短信验证码：</p></div><div class="form-group"><input type="text" class="form-control" id="mobile-verify-code1" value="" placeholder="短信验证码" /></div><div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel">取消</button></div></div></div>'><input type="checkbox" class="js-switch" @if(isMobileVerifyOn){ checked } disabled /> </a>
            } else {
            <a id="mobile-bind" class="text-info" href="javascript:void(0);" data-rel="popover" data-toggle="popover" data-placement="left" data-title="手机短信验证设置" data-content='<div class="form-group"> <select class="form-control" id="mobile-region"><option value="zh-CN" selected>中国</option><option value="USA">美国</option><option value="other">其他地区</option> </select></div><div class="form-group"><input type="text" class="form-control" id="mobile-number" value="" placeholder="手机号码" /></div><div class="form-group text-center"><div class="row"><div class="col-xs-6"><input type="text" class="form-control" id="mobile-verify-code" value="" placeholder="短信验证码" /></div><div class="col-xs-6"><button class="btn btn-success col-xs-12 sendsms" id="mobile-bind-sendsms">发送短信</button></div></div></div>
              <div id="mobile-bind-error-div" class="form-group">
                <div class="row">
                <p class="form-control text-danger" id="mobile-bind-error-msg" style="border: none; margin: 0;"/>
                </div>
              </div>
<div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save" id="pwd-update">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel" id="pwd-cancel">取消</button></div></div></div>'>设置</a>
            }
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
          <div class="form-group-separator"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-xs-12 check-label align-fixes">
          <i class="icon-warning icon-2x @if(isGoogleAuthOn){ text-success } else { text-warning }"></i><label class="control-label">双重校验</label>
        </div>
        <div class="col-sm-5 col-xs-8">
          @if(isGoogleAuthOn) {
          <div class="form-text-control font-1x text-success">双重验证已开启</div>
          } else {
          <div class="form-text-control font-1x text-warning">尚未设置双重验证</div>
          }
        </div>
        <div class="col-sm-5 col-xs-4">
          <div class="form-text-control font-1x xs-text">
            @if(isGoogleAuthOn) {
            <a id="unbind-googleauth" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-title="解除双重校验绑定" data-content='<div class="form-group"><input type="text" class="form-control" id="google-verifycode" value="" placeholder="双重验证码" /></div><div class="form-group text-center"><div class="row"><div class="col-xs-6"><button class="btn btn-primary col-xs-12 save" id="googleauth-unbind">确定</button></div><div class="col-xs-6"><button class="btn btn-default col-xs-12 pull-right cancel">取消</button></div></div></div>'>解除</a>
            } else {
            <a  class="text-info" href="/account/googleauth">设置</a>
            }
          </div>
        </div>
      </div>

      <div class="blk-2x"></div>

        </form>
    </div>
  </div>
  @__footer()
</div>
</div>
<!--end-main-container-->

@__js("/js/switchery.min.js")
@__tail_commons()
@__js("/js/jquery.sha256.js")
@__js("/js/coinport/account.js")
</body>
</html>
