@()(implicit session: Session, lang: Lang)
@import utils.Constant._

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
@__head_commons()
@__js_lang()(lang)
</head>

<body ng-app="coinport.account">
  @_navbar(4)(session, lang)

<div class="fixes-top fulid" ng-controller="UserOrderCtrl">
  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    @_account_sidebar(31)
  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <h3 class="panel-title col-lg-2 col-sm-3 col-xs-12 pull-left " style=" line-height:34px; padding-right:20px;">@Messages("order.myOrders")</h3>
          <div class="form-group pull-right col-sm-9 col-xs-12" style="margin:0;">
            <div class="row">
              <label class="col-sm-8 col-xs-4 control-label hidden-xs text-right" style="line-height:2.5;"></label>
              <div class="col-sm-4 col-xs-12">
                <select class="form-control" ng-model="market" ng-change="changeMarket()">
                  <option value="all">All</option>
                  @for(market <- allmarkets) {<option>@market</option>}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped" data-sortable="">
            <thead>
              <tr>
                <th nowrap>@Messages("order.time")</th>
                <th nowrap>@Messages("trade.buysell")</th>
                <th nowrap class="text-right">@Messages("order.price")</th>
                <!-- <th>平均价格</th> -->
                <th nowrap class="text-right">@Messages("order.amount")</th>
                <th nowrap class="text-right">@Messages("order.finishedAmount")</th>
                <th nowrap class="text-right">@Messages("order.expectedTotal")</th>
                <th nowrap class="text-right">@Messages("order.finishedTotal")</th>
                <th nowrap>@Messages("order.status")</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="order in orders.items | orderBy: ['-date', '-tid']" class="">
                <!--<td nowrap> <a href="/order/{{order.id}}">{{order.id}}</a> </td>-->
                <td nowrap> <a href="/order/{{order.id}}"><i class="fa fa-clock-o"></i> {{order.submitTime | date:"MM-dd HH:mm:ss"}}</a> </td>
                <td nowrap class="text-{{order.operation | orderTypeClass}}">{{order.operation | orderTypeText}} </td>
                <td nowrap class="text-right {{order.operation | orderTypeClass}}">{{order.price.value | price}} {{order.currency}} </td>
                <td nowrap class="text-right"> {{order.amount.value | quantity}} {{order.subject}}</td>
                <td nowrap class="text-right"> {{order.finishedQuantity.value | quantity}} {{order.subject}} </td>
                <td nowrap class="text-right"> {{order.total.value | quantity}} {{order.currency}} </td>
                <td nowrap class="text-right"> {{order.finishedAmount.value | quantity}} {{order.currency}} </td>
                <td nowrap> <span class="label label-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span> </td>
                <td nowrap>
                  <a class="btn-link" ng-show="order.status <= 1" href="" ng-click="cancelOrder(order)">@(Messages("trade.cancel"))</a>
                </td>
              </tr>

            </tbody>
            @__empty_table_indicator("orders.items")
          </table>
          <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="orders.count" ng-model="page" class="pagination-sm" ng-change="reload()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

        </div>
        <!-- <ul class="pagination pull-right">
        <li><a href="#"><i class="icon-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#"><i class="icon-angle-right"></i></a></li>
        </ul> -->
      </div>
    </div>

    @__footer()
 </div>
<!--end-main-container-->
@__tail_commons()
@__js("/js/coinport/account.js")
</body>
</html>
