@(apiToken: String)(implicit session: Session)
@import utils.Constant

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()
</head>

<body ng-app="coinport.account">
@_navbar(4)(session)

<div class="fixes-top" ng-controller="AccountProfilesCtrl">
  <div class="sidebar-wrap">
    @_account_sidebar(41)

  </div>
  <!--end-sidebar-menu-->

  <!--container-->
  <div id="main-container">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><i class="icon-user icon-2x"></i>用户信息</h3>
      </div>
      <div class="panel-body">
        <form role="form"  class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">用户特权</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control font-1x"><i class="icon-award icon-1x"></i>免交易手续费</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">用户编号</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control font-1x">@session.get("uid").getOrElse("")</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">用户名</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control font-1x">@session.get("username").getOrElse("") </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">昵称</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control"><span class="form-text-control font-1x">
                @if(session.get(Constant.cookieNameRealName).getOrElse("").trim.nonEmpty){
                @session.get(Constant.cookieNameRealName).getOrElse("") &nbsp;&nbsp;&nbsp;&nbsp;
                }
                <a  id="nickname-setter" class="text-info" href="#" data-rel="popover" data-toggle="popover" data-placement="left" data-content='<div  class="row"><div class="col-xs-9" style="padding-right:0;"><div class="form-group" style="margin:0;"><div class="input-group">
                                            <input type="text" class="form-control no-right-border form-focus-purple" ng-modal="usernickname" id="nickname">

                                            <span class="input-group-btn">
                                                <button class="btn btn-primary save" type="button" ng-click="setNickName()">确定</button>
                                            </span>
                                        </div></div></div><div class="col-xs-3 xs-btn-fixes"><button class="btn btn-default cancel" ng-click="$(\"#nickname-setter\").popover(\"hide\")">取消</button></div></div>'>
              @if(session.get(Constant.cookieNameRealName).getOrElse("").trim.isEmpty) {
                @Messages("accountsettings.sec.btn.set")
              } else {
                @Messages("accountsettings.sec.btn.modify")
              }
</a></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-4"></div>
            <div class="col-sm-10 col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">手机</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control font-1x">@session.get(Constant.cookieNameMobile).getOrElse("")</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-4"></div>
            <div class="col-sm-10 col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <!-- <div class="form-group">
          <label class="col-sm-2 col-xs-4 control-label">分享链接</label>
          <div class="col-sm-10 col-xs-8">
          <div class="form-text-control font-1x text-break word-break" style="padding-top:5px;">https://coinport.com?rf=@session.get("referralToken").getOrElse("") </div>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-2 col-xs-4"></div>
          <div class="col-sm-10 col-xs-8">
          <div class="form-group-separator"></div>
          </div>
          </div> -->
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label" style="font-size:12px;">公开数据URL</label>
            <div class="col-sm-10 col-xs-8">
              <div class="form-text-control font-1x text-break word-break" style="padding-top:5px;"><a href="/user/{{uid}}" class="text-info">https://www.coinport.com/user/{{uid}}</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-4"></div>
            <div class="col-sm-10 col-xs-8">
              <div class="form-group-separator"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-xs-4 control-label">API密钥</label>
            <div class="col-sm-10 col-xs-8">
              <span class="form-text-control font-1x">
                @if(apiToken != null && apiToken.trim.length > 0) {
                @apiToken
                } else {
                <span ng-hide="apiToken"><a href="#" ng-click="getApiToken()" class="text-info">@Messages("accountsettings.apiToken.create") </a></span>
                <span ng-show="apiToken">{{apiToken}}</span>
                }
                <!-- <a  class="text-info">生成</a> -->
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    @__footer()
  </div>
</div>

<!--end-main-container-->

@__tail_commons()
@__js("/js/coinport/account.js")
</body>
</html>
