@()(implicit session: Session, lang: Lang)
@import utils.Constant._

<!DOCTYPE html>
<html lang="@(lang.code)">
<head>
    @__head_commons()
    <link rel="stylesheet" href="/css/open.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    @__js_lang()
    <title>@Messages("title")</title>
</head>
@_navbar(5)(session, lang)
<section class="content-3">
    <div>
         <div class="container">
             <div class="row">
                  @__fee()
                  @if(lang.code=="zh-CN") {
                      <p>注：用户编号小于1000001000的用户完全免除交易手续费</p>
                  } else {
                      <p>The user whose UID is less than 1000001000 completely exempt transaction fees</p>
                  }
             </div>
         </div>
    </div>
</section>
