@()(implicit session: Session, lang: Lang)

<!doctype html>
<html>
<head>
<title>@Messages("title")</title>
@__head_commons()
</head>

<body ng-app="coinport.home">
  @_navbar(1)(session, lang)

<div class="fixes-top" ng-controller="TickerCtrl">
  <div class="coinport-intro-box">
    <div class="container">
      <div class="row">
        <div class="coinport-intro">
          @if(lang.code == "zh-CN") {
          <div class="coinport-intro-content"> <i class="icon-e-coinport"></i>
            <h2>全球首家全透明数字货币交易平台</h2>
            <p>币丰港的全透明性来源于我们完全开放的政策，包括：代码开源、数据开放、准备金证明。 </p>
          </div>
          } else {
          <div class="coinport-intro-content"> <i class="icon-e-coinport"></i>
            <h2>The world's first crytocurrency exchange that features complete transparency</h2>
            <p>Coinport Exchange implemented Complete Openness Policies: open-source, open-data, and provable 100% reserves. </p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="bg-brown clearfix real-time-market">
    <div class="container">
      <div class="row">
        <div class="slider">

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.btc")}(BTC) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + btcstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + btcstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + btcstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'BTC ' + btcstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.ltc")}(LTC) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + ltcstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + ltcstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + ltcstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'LTC ' + ltcstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.xrp")}(XRP) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + xrpstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + xrpstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + xrpstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'XRP ' + xrpstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.btsx")}(BTSX) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + btsxstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + btsxstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + btsxstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'BTSX ' + btsxstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.gooc")}(GOOC) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + goocstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + goocstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + goocstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'GOOC ' + goocstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <h2>@{Messages("index.eth")}(ETH) </h2>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter">
                    <em>
                      <span ng-bind="'CNY ' + ethcstats.price.value">@Messages("loading")</span>
                    </em>
                    <h3>@Messages("ticker.price")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + ethcstats.high.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.high")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'CNY ' + ethcstats.low.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.low")</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="market-counter"> <em><span ng-bind="'ETH ' + ethcstats.volume.value">@Messages("loading")</span></em>
                    <h3>@Messages("ticker.volume") </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-coinport">
    <div class="container">
      <div class="row">
        <div class="feature clearfix">
          <div class="col-lg-4 col-sm-4 col-xs-12">
            @if(lang.code == "zh-CN") {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-github"></i></em>
                <div class="blk20"></div>
                <h3>代码开源</h3>
                <div class="blk20"></div>
                <p>我们的交易匹配引擎将托管在github上。 您可以访问我们的<a class="text-info" href="https://github.com/coinport/MatchEngine" target="_blank">代码库</a>获取源代码，查看任何您感兴趣的部分。 我们鼓励用户了解所有细节，并帮助我们不断完善交易系统。</p>
              </div>
            </div>
            } else {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-github"></i></em>
                <div class="blk20"></div>
                <h3>Open-Sourced</h3>
                <div class="blk20"></div>
                <p>Our matching engine has been opensourced on github. Visit our <a class="text-info" href="https://github.com/coinport/MatchEngine" target="_blank">public repository</a> to verify our matching code, and feel free to clone it. Coinport Exchange allows clients to have insight to all the internals.</p>
              </div>
            </div>
            }
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12">
            @if(lang.code == "zh-CN") {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-chart2"></i></em>
                <div class="blk20"></div>
                <h3>数据开放</h3>
                <div class="blk20"></div>
                <p>除用户隐私数据外，平台全部数据均可任意浏览下载。 全部订单、交易、充值、提现、账户余额、冷热钱包地址等均对用户开放。 您既可以掌控全局，也能够深入细节。</p>
              </div>
            </div>
            } else {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-chart2"></i></em>
                <div class="blk20"></div>
                <h3>Open-Data</h3>
                <div class="blk20"></div>
                <p>All data (except user privacy) are open for browsing and downloading. All orders, transactions, deposits, withdrawals, balances, addresses of our hot/cold wallets are accessible. Our clients see all the details as well as the big picture.</p>
              </div>
            </div>
            }
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12">
            @if(lang.code == "zh-CN") {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-anchor"></i></em>
                <div class="blk20"></div>
                <h3>证明金准备</h3>
                <div class="blk20"></div>
                <p>如何证明我们没有挪用您托管的资产？ 依靠晦涩难懂的Merkle-tree吗？ 不必那么麻烦。我们直接公开全部账户的余额，以及所有冷热钱包地址。准备金是否充足，您一目了然。</p>
              </div>
            </div>
            } else {
            <div class="text-center">
              <div class="icon-box"> <em><i class="icon-anchor"></i></em>
                <div class="blk20"></div>
                <h3>Proof of Reserves</h3>
                <div class="blk20"></div>
                <p>We keep all your asset uninvested. Still wishing for a Merkle-tree based proof of reserve? We offer more - every 30 minutes we offer our clients all new events and system snapshots. You can verify our reserve claims yourself using simple maths.</p>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>

@__footer()
<!--end-main-container-->

@__tail_commons()
@__js("/js/angular-timer.min.js")
@__js("/js/coinport/index.js")

</body>
</html>
