@(msg: String)(implicit flash: Flash, session: Session, lang: Lang)
<!doctype html>
<html>
<head>
  @__head_commons()
  @__js_lang()(lang)
</head>

<body ng-app="coinport.login">
@_navbar(0)(session, lang)

<div class="fixes-top" ng-controller="LoginCtrl">
    <div class="blk20"></div>
    <div class="container">
        <div class="box-sm">
          <form role="form" name="loginForm"> <!-- action="/api/v1/login" method="POST" -->
                <div class="list-group list-group-lg">
                    <div class="list-group-item text-center">
                        <h4><em class="icon-box "><i class="icon-user"></i></em>@Messages("login.title2")</h4>
                        @flash.get("error").map { message =>
                        <p class="error" style="color: red"> @Messages(message) </p>
                        }

                        @flash.get("msg").map { msgKey =>
                        <p class="success" style="color: green"> @Messages(msgKey) </p>
                        }

                    </div>
                    <div class="list-group-item">
                        <input type="email" name="email" placeholder="Email" class="form-control" ng-model="login.username" required="">
                    </div>
                    <div class="list-group-item">
                        <input type="password" name="password" placeholder="@Messages("password")" class="form-control" ng-model="login.password" required="">
                    </div>

                    <div class="list-group-item" ng-show="showError">
                      <p class="text-danger text-center" ng-bind="errorMessage"/>
                    </div>

                    <div class="list-group-item">
                        <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="doLogin()">@Messages("login.doLogin")</button>
                    </div>
                    <div class="line line-dashed"></div>
                    <div class="list-group-item text-center"> <small><a class="btn-link" href="/account/forgetpassword">@Messages("login.forgotPassword")</a></small>
                      <small class="col-xs-offset-1">
                        <a class="btn-link" ng-hide="ifEmailNotVerified" href="/register">@Messages("login.notRegisteredHint")</a>
                        <a class="btn-link" href="/account/resendVerifyEmail/{{login.username}}" ng-show="ifEmailNotVerified">@Messages("resendVerifyEmail")</a>
                      </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--end-main-container-->
@__tail_commons()
@__js("/js/jquery.sha256.js")
@__js("/js/coinport/login.js")
</body>
</html>
