@(messageKey: String)(implicit session: Session, lang: Lang)

<!DOCTYPE html>
<html>
<head>
  @__head_commons()
  @__js_lang()(lang)
  <title>@Messages("title")</title>
</head>

<body>
<div class="fixes-top">
  @_navbar(0)(session, lang)

<div class="container container-main">
    <div style="height: 100px;"> </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="alert"><b>@Messages(messageKey)</b>
            <br/><br/>
            @if("prompt.verifyEmailSent".equals(messageKey)) {
              @Messages("prompt.resendVerifyEmailPrefix")
              <a href="/login" class="btn-link">@Messages("prompt.resendVerifyEmailLink")</a>
              @Messages("prompt.resendVerifyEmailTail")
            }
            </div>
        </div>
    </div>
</div>

</div> <!-- page-wrapper -->
</body>
</html>
