@()(implicit session: Session, lang: Lang)
@isLogin() = @{session.get("uid").isDefined}
@userId = @{session.get("uid").getOrElse("")}

<!doctype html>
<html>
<head>
<title></title>
@__head_commons()

@__js_lang()(lang)
</head>

<body ng-app="coinport.trade">
  @_navbar(2)(session, lang)

<div class="fixes-top fulid" ng-controller="BidAskCtrl">

  <div class="sidebar-wrap">
    <!--sidebar-menu-->
    <div id="sidebar" >
      <ul class="primary no-border sidebar-tab nav nav-tabs nav-tabs-justified">
        <li class="" id="cny-market-set"> <a class="tall" href="#tab-m1" data-toggle="tab"> <span class="visible-xs"><i class="fa-home"></i></span> <span>@Messages("market.cny")</span> </a> </li>
        <li class="" id="btc-market-set"> <a class="tall" href="#tab-m2" data-toggle="tab"> <span class="visible-xs"><i class="fa-user"></i></span> <span>@Messages("market.btc")</span> </a> </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-m1">
          <ul class="side-menu">
            <li id="nav-BTC-CNY" class=""><a href="#/BTC-CNY" ng-click="changeMarket('BTC-CNY')"><i class="icon-btc-o"></i> <span>@{Messages("trade.coinname.btc")}(BTC)</span></a> </li>
            <li id="nav-LTC-CNY" class=""><a href="#/LTC-CNY" ng-click="changeMarket('LTC-CNY')"><i class="icon-ltc-o"></i> <span>@{Messages("trade.coinname.ltc")}(LTC)</span></a> </li>
            <li id="nav-XRP-CNY" class=""><a href="#/XRP-CNY" ng-click="changeMarket('XRP-CNY')"><i class="icon-xrp-o"></i> <span>@{Messages("trade.coinname.xrp")}(XRP)</span></a> </li>
            <li id="nav-BTSX-CNY" class=""><a href="#/BTSX-CNY" ng-click="changeMarket('BTSX-CNY')"><i class="icon-btsx-o"></i> <span>@{Messages("trade.coinname.btsx")}(BTSX)</span></a> </li>
            <!-- <li id="nav-DOGE-CNY" class=""><a href="#/DOGE-CNY" ng-click="changeMarket('DOGE-CNY')"><i class="icon-doge-o"></i> <span>狗狗币(DOGE)</span></a> </li>
            <li id="nav-BC-CNY" class=""><a href="#/BC-CNY" ng-click="changeMarket('BC-CNY')"><i class="icon-bc-o"></i> <span>黑币(BC)</span></a> </li>
            <li id="nav-DRK-CNY" class=""><a href="#/DRK-CNY" ng-click="changeMarket('DRK-CNY')"><i class="icon-drk-o"></i> <span>暗黑币(DRK)</span></a> </li>
            <li id="nav-VRC-CNY" class=""><a href="#/VRC-CNY" ng-click="changeMarket('VRC-CNY')"><i class="icon-vrc-o"></i> <span>维理币(VRC)</span></a> </li>
            <li id="nav-ZET-CNY" class=""><a href="#/ZET-CNY" ng-click="changeMarket('ZET-CNY')"><i class="icon-zet-o"></i> <span>泽塔币(ZET)</span></a> </li>
            <li id="nav-NXT-CNY" class=""><a href="#/NXT-CNY" ng-click="changeMarket('NXT-CNY')"><i class="icon-nxt-o"></i> <span>未来币(NXT)</span></a> </li> -->
          </ul>
        </div>
        <div class="tab-pane" id="tab-m2">
          <ul class="side-menu">
            <li id="nav-LTC-BTC" class=""><a href="#/LTC-BTC" ng-click="changeMarket('LTC-BTC')"><i class="icon-ltc-o"></i> <span>@{Messages("trade.coinname.ltc")}(LTC)</span></a> </li>
            <li id="nav-XRP-BTC" class=""><a href="#/XRP-BTC" ng-click="changeMarket('XRP-BTC')"><i class="icon-xrp-o"></i> <span>@{Messages("trade.coinname.xrp")}(XRP)</span></a> </li>
            <li id="nav-BTSX-BTC" class=""><a href="#/BTSX-BTC" ng-click="changeMarket('BTSX-BTC')"><i class="icon-btsx-o"></i> <span>@{Messages("trade.coinname.btsx")}(BTSX)</span></a> </li>
            <li id="nav-DOGE-BTC" class=""><a href="#/DOGE-BTC" ng-click="changeMarket('DOGE-BTC')"><i class="icon-doge-o"></i> <span>@{Messages("trade.coinname.doge")}(DOGE)</span></a> </li>
            <li id="nav-BC-BTC" class=""><a href="#/BC-BTC" ng-click="changeMarket('BC-BTC')"><i class="icon-bc-o"></i> <span>@{Messages("trade.coinname.bc")}(BC)</span></a> </li>
            <li id="nav-DRK-BTC" class=""><a href="#/DRK-BTC" ng-click="changeMarket('DRK-BTC')"><i class="icon-drk-o"></i> <span>@{Messages("trade.coinname.drk")}(DRK)</span></a> </li>
            <li id="nav-VRC-BTC" class=""><a href="#/VRC-BTC" ng-click="changeMarket('VRC-BTC')"><i class="icon-vrc-o"></i> <span>@{Messages("trade.coinname.vrc")}(VRC)</span></a> </li>
            <li id="nav-ZET-BTC" class=""><a href="#/ZET-BTC" ng-click="changeMarket('ZET-BTC')"><i class="icon-zet-o"></i> <span>@{Messages("trade.coinname.zet")}(ZET)</span></a> </li>
            <li id="nav-NXT-BTC" class=""><a href="#/NXT-BTC" ng-click="changeMarket('NXT-BTC')"><i class="icon-nxt-o"></i> <span>@{Messages("trade.coinname.nxt")}(NXT)</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--end-sidebar-menu-->
  <!--container-->
  <div id="main-container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="panel">
          <ul class="buy-sell nav nav-tabs nav-tabs-justified">
            <li class="buy active"> <a href="#tab-1" data-toggle="tab"> <span class="visible-xs"><i class="fa-home"></i></span> @Messages("trade.buy") <span ng-bind="coinName"></span> </a> </li>
            <li class="sell"> <a href="#tab-2" data-toggle="tab"> <span class="visible-xs"><i class="fa-user"></i></span> <span>@Messages("trade.sell")</span> <span ng-bind="coinName"></span> </a> </li>
          </ul>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-1">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1"><!--可买入<span ng-bind="subject"></span>-->@Messages("trade.availableCurrency")</label>
                    <div class="col-sm-7 col-xs-8"> <span class="text-warning font-2x" ng-bind="(account[currency].available.value || 0 | quantity)"></span><span class=" offset-1x" ng-bind="' ' + currency"></span> </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 col-xs-4"></div>
                    <div class="col-sm-7 col-xs-8">
                      <div class="form-group-separator"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.buy.price")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="bid.price" placeholder="@Messages("trade.buy.price")" />
                        <span class="input-group-addon" ng-bind="currency" ></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.buy.amount")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <input type="text" class="form-control" ng-model="bid.amount" placeholder="" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.totalprice")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <input type="text" id="bid_total" class="form-control" ng-model="bid.total" />
                    </div>
                  </div>
                  <div class="blk-1x"></div>
                  <div class="divider"></div>
                  <div class="blk-1x"></div>
                  <div class="form-group">
                    <div class="col-sm-3 col-xs-4 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
                    <div class="col-sm-7 col-xs-8">
                      <p class="text-danger tip" style="height:30px;" ng-show="showMessage['bid']"> <span ng-bind="info.message['bid']"></span></p>
                      @if(lang.code=="zh-CN") {
                      <p class=" text-dark tip" style="height:48px;">委托详情：以不高于<span class="text-warning" ng-bind="' ' + bid.price"></span><span ng-bind="' ' + currency"></span>的价格尽可能的买入更多的<span ng-bind="subject"></span></p>
                      <p class=" text-success tip">手续费：全免</p>
                      } else {
                      <p class=" text-dark tip" style="height:48px;">Buy as much <span ng-bind="subject"></span> as needed at a price lower than or equal to <span class="text-warning" ng-bind="' ' + bid.price"></span><span ng-bind="' ' + currency"></span></p>
                      <p class=" text-success tip">Fee: 0.0%</p>
                      }
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      @if(isLogin()){
                      <button class="btn btn-success btn-lg btn-block" ng-click="addBidOrder()">@Messages("trade.buy.submit")</button>
                      } else {
                      <button class="btn btn-success btn-lg btn-block" ng-click="toLogin()">@Messages("trade.buy.submit")</button>
                      }
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane sell" id="tab-2">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1"><!--可卖出<span ng-bind="subject"></span>-->@Messages("trade.availableAmount")</label>
                    <div class="col-sm-7 col-xs-8"> <span class="text-warning font-2x" ng-bind="(account[subject].available.value || 0 | quantity)"></span><span class=" offset-1x" ng-bind="' ' + subject"></span> </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 col-xs-4"></div>
                    <div class="col-sm-7 col-xs-8">
                      <div class="form-group-separator"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.sell.price")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="ask.price" placeholder="@Messages("trade.sell.price")" />
                        <span class="input-group-addon" ng-bind="currency"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.sell.amount")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <input type="text" class="form-control" ng-model="ask.amount" placeholder="@Messages("trade.sell.amount")" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="field-1">@Messages("trade.totalprice")</label>
                    <div class="col-sm-7 col-xs-8 ">
                      <input type="text" id="ask_total" class="form-control" ng-model="ask.total" />
                    </div>
                  </div>
                  <div class="blk-1x"></div>
                  <div class="divider"></div>
                  <div class="blk-1x"></div>
                  <div class="form-group">
                    <div class="col-sm-3 col-xs-4 text-center"><i class="icon-bulb icon-3x text-warning vm"></i></div>
                    <div class="col-sm-7 col-xs-8">
                      <p class="text-danger tip" style="height:30px;" ng-show="showMessage['ask']"> <span ng-bind="info.message['ask']"></span></p>
                      @if(lang.code=="zh-CN") {
                      <p class=" text-dark tip" style="height:48px;">委托详情：以不低于于<span class="text-warning" ng-bind="' ' + ask.price + ' '"> </span><span ng-bind="currency"></span>的价格卖出</p>
                      <p class=" text-success tip">手续费：全免</p>
                      } else {
                      <p class=" text-dark tip" style="height:48px;">Sell <span ng-bind="ask.amount"></span> <span ng-bind="subject"></span> at a price higher than or equal to <span class="text-warning" ng-bind="' ' + ask.price + ' '"> </span> <span ng-bind="currency"></span></p>
                      <p class=" text-success tip">Fee: 0.0%</p>
                      }
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      @if(isLogin()){
                      <button class="btn btn-danger btn-lg btn-block" ng-click="addAskOrder()">@Messages("trade.sell.submit")</button>
                      } else {
                      <button class="btn btn-danger btn-lg btn-block" ng-click="toLogin()">@Messages("trade.sell.submit")</button>
                      }
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="panel">
          <ul class="primary no-border nav nav-tabs nav-tabs-justified">
            <li class="active"> <a href="#tab-s2" data-toggle="tab"> <span class="visible-xs"><i class="fa-home"></i></span> <span>@Messages("depth")</span> </a> </li>
            <li class=""> <a href="#tab-s1" data-toggle="tab"> <span class="visible-xs"><i class="fa-user"></i></span> <span>@Messages("trade.recentTransactions")</span> </a> </li>
          </ul>
          <div class="panel-body">
            <div class="tab-content">
                 <div class="tab-pane active" id="tab-s2">  <!-- depth panel. -->
                <div class="blk-2x"></div>
                <p class="text-center ">@{Messages("ticker.price")}: <span  class="text-warning font-2x" ng-bind="lastPrice.display">@Messages("loading")</span> <span  ng-bind="lastPrice.currency"></span></p>
                <div class="blk-1x"></div>
                <div class="divider"></div>
                <div class="">
                  <table class="table table-striped  margin-0" data-sortable="">
                    <thead>
                      <tr>
                        <th>@Messages("trade.buysell")</th>
                        <th>@Messages("trade.price")</th>
                        <th>@Messages("trade.amount")</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in depth.asks" ng-click="clickDepthAsks($index)">
                        <td><span class="text-danger">@{Messages("trade.sellShort")}(<span class="text-danger" ng-bind="depth.asks.length-$index"></span>) </span></td>
                        <td ng-bind="item.price.value | price"></td>
                        <td ng-bind="item.amount.value | quantity"></td>
                      </tr>
                      <tr>
                        <td colspan="100%"></td>
                      </tr>

                      <tr ng-repeat="item in depth.bids" ng-click="clickDepthBids($index)">
                        <td><span class="text-success">@{Messages("trade.buyShort")}(<span ng-bind="1+$index"></span>)</span></td>
                        <td ng-bind="item.price.value | price"></td>
                        <td ng-bind="item.amount.value | quantity"></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab-s1">
                <div class="blk-2x"></div>
                <p class="text-center">@{Messages("ticker.price")}： <span  class="text-warning font-2x" ng-bind="lastPrice.display">@Messages("loading")</span> <span ng-bind="lastPrice.currency"></span></p>
                <div class="blk-1x"></div>
                <div class="divider"></div>
                <div class="">
                  <table class="table table-striped margin-0" data-sortable="">
                    <thead>
                      <tr>
                        <th>@Messages("trade.buysell")</th>
                        <th>@Messages("trade.price")</th>
                        <th>@Messages("order.finishedAmount")</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in transactions.items">
                        <td><span class="text-danger"><span ng-bind="item.sell | txTypeTextShort"></span></td>
                        <td ng-bind="item.price.value | price"></td>
                        <td ng-bind="item.subjectAmount.value | quantity"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    @if(isLogin()){
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <h3 class="panel-title col-lg-2 col-sm-3 col-xs-12 pull-left " style=" line-height:34px; padding-right:20px;">@Messages("trade.myOrders")</h3>
          <div class="form-group pull-right col-sm-9 col-xs-12" style="margin:0;">
            <div class="row">
              <label class="col-sm-8 col-xs-4 control-label hidden-xs text-right" style="line-height:2.5;"></label>
              <div class="col-sm-4 col-xs-12">
                <select class="form-control" ng-model="orderStatusObj" ng-options="obj.text for obj in orderStatusList track by obj.value" ng-change="changeOrderStatus(orderStatusObj.value)">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped" data-sortable="">
            <thead>
              <tr>
                <th>@Messages("order.time")</th>
                <th>@Messages("trade.buysell")</th>
                <th>@Messages("order.price")</th>
                <th>@Messages("order.averagePrice")</th>
                <th>@Messages("order.orderAmount")</th>
                <th>@Messages("order.tradingAmount")</th>
                <th>@Messages("order.tradingValue")</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in orders | orderBy: ['-date', '-id']">
                <td ng-bind="order.submitTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td><span class="text-{{order.operation | orderTypeClass}}" ng-bind="order.operation | orderTypeText"></span></td>
                <td ng-bind="order.price.value | price"></td>
                <td ng-bind="(order.finishedAmount.value / order.finishedQuantity.value) | price"></td>
                <td ng-bind="order.amount.value | quantity"></td>
                <td ng-bind="order.finishedQuantity.value | quantity"></td>
                <td ng-bind="order.finishedAmount.value | quantity"></td>
                <td><span class="label label-{{order.status | orderStatusClass}}" ng-bind="order.status | orderStatusText"></span></td>
                <td>
                  <a class="btn-link" ng-show="order.status <= 1" href="javascript: void(0);" ng-click="cancelOrder(order)">@(Messages("trade.cancel"))</a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- <ul class="pagination pull-right">
        <li><a href="#"><i class="icon-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#"><i class="icon-angle-right"></i></a></li>
        </ul> -->
      </div>
    </div>
    }
  </div>
</div>

<!--end-main-container-->
@__tail_commons()
@__js("/js/coinport/trade.js")

</body>
</html>
