<div class="row">
    <h4>账号设置</h4>
    <br/><br/>
    <div>
        <form class="form-horizontal" name="accountSettingsForm">
            <div class="form-group">
                <label class="control-label col-sm-2">真实姓名</label>
                <div class="col-sm-3">
                    <input name="realName" class="form-control" placeholder="真实姓名" ng-model="account.realName" required>
                </div>
                <div class="col-sm-2">一经提交，不可更改</div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">再次输入真实姓名</label>
                <div class="col-sm-3">
                    <input name="confirmRealName" class="form-control" placeholder="再次输入真实姓名" ng-model="account.confirmRealName" required>
                </div>
            </div>

<!--
            <div class="form-group">
                <label class="control-label col-sm-2">证件类型</label>
                <div class="col-sm-3">
                    <select name="credentialType" class="form-control" ng-model="credentialType" ng-options="item.name for item in credentialItems" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">证件号码</label>
                <div class="col-sm-3">
                    <input name="credentialId" class="form-control" placeholder="证件号码" ng-model="account.credentialId" required>
                </div>
            </div>
-->

            <div class="form-group">
                <label class="control-label col-sm-2">手机号码</label>
                <div class="col-sm-3">
                    <input name="phoneNumber" class="form-control" placeholder="手机号码" ng-model="account.phoneNumber" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">短信验证码</label>
                <div class="col-sm-3">
                    <input name="verifyCode" class="form-control" placeholder="短信验证码" ng-model="verifyCode" required>
                </div>
                <div class="col-sm-2">
                    <button style="border: none; background: none;" ng-click="sendVerifySms()">发送短信验证码</button>
                </div>
            </div>

            <div style="height: 70px;">
                <div class="alert alert-danger col-sm-offset-2 col-sm-6" ng-show="showUpdateAccountError">{{updateAccountErrorMessage}}</div>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button class="btn btn-block btn-success" ng-click="updateAccountSettings()" ng-disabled="!registerForm.$valid"><i class="glyphicon glyphicon-ok"></i> 保存</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
