<div class="row">
    <div class="col-md-8 candle-chart-wrap">
        <div class="candle-chart"></div>
    </div>
    <div class="depth-box col-md-4">
        <div class="row">
            <div ng-repeat="item in depth.asks" class="depth-item">
                <span class="title sell">卖{{depth.asks.length-$index}}</span>
                <span class="price" ng-click="ask.price=item.price"><i class="fa fa-cny"></i> {{item.price.toFixed(2)}}</span>
                <span class="amount"><i class="fa fa-btc"></i> {{item.amount.toFixed(3)}}</span>
            </div>
        </div>
        <div class="row">
        <h3 class="depth-price">{{lastPrice | currency}}</h3>
        </div>
        <div class="row">
        <div ng-repeat="item in depth.bids" class="depth-item">
            <span class="title buy">买{{1+$index}}</span>
            <span class="price" ng-click="bid.price=item.price"><i class="fa fa-cny"></i> {{item.price | currency}}</span>
            <span class="amount"><i class="fa fa-btc"></i> {{item.amount | quantity}}</span>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="limit_buy_sell_box">
            <div class="box_title">买入BTC</div>
            <div class="box_subtitle">
                <!--冻结金额-->
                <!--<span class="badge badge-info">{{info.fundingLocked}}</span>-->
                <!--可用余额-->
                <!--<span class="badge badge-info link" ng-click="clickFunding(info.fundingRemaining)">{{info.fundingRemaining}}</span>-->
                总资金
                <span class="badge badge-info link" ng-click="clickFunding(account.RMB)">{{account.RMB}}</span>
                <a href="" ng-show="bidOptions.advanced" ng-click="bidOptions.advanced=false">回到普通模式</a>
                <a href="" ng-show="!bidOptions.advanced" ng-click="bidOptions.advanced=true">进入高级模式</a>
            </div>
            <div class="box clearfix">
                <form name="bidForm" class="form-buy">
                    <div class="row_100 clearfix">
                        <div class="input-group">
                            <span class="input-group-addon">价格 <i class="fa fa-cny"></i></span>
                            <input type="number" class="form-control" ng-disabled="!bidOptions.limitPrice" ng-model="bid.price"/>
                          <span class="input-group-addon" ng-show="bidOptions.advanced">
                            <input type="checkbox" class="" ng-model="bidOptions.limitPrice" ng-click="bid.price=0"/>
                          </span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">数量 <i class="fa fa-btc"></i></span>
                            <input class="form-control" name="amount" type="number" ng-disabled="!bidOptions.limitAmount" ng-model="bid.amount" min="0">
                            <span class="input-group-addon" ng-show="bidOptions.advanced">
                                <input type="checkbox" class="" ng-model="bidOptions.limitAmount" ng-click="bid.amount=0"/>
                            </span>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">金额 <i class="fa fa-cny"></i></span>
                            <input type="number" ng-disabled="!bidOptions.limitTotal" class="form-control" ng-model="bid.total" max="{{account.balance}}"/>
                          <span class="input-group-addon" ng-show="bidOptions.advanced">
                            <input type="checkbox" class="" ng-model="bidOptions.limitTotal"/>
                          </span>
                        </div>
                    </div>
                    <div ng-show="bidOptions.advanced">
                        <div ng-show="!bidOptions.limitPrice">
                            以<span class="badge badge-info">任意价格</span>
                        </div>
                        <div ng-show="bidOptions.limitPrice">
                            以最高<span class="badge badge-warning"><i class="fa fa-cny"></i> {{bid.price}}</span>价格
                        </div>
                        <div ng-show="!bidOptions.limitAmount">
                             购买<span class="badge badge-info">尽可能多</span>
                        </div>
                        <div ng-show="bidOptions.limitAmount">
                             购买<span class="badge badge-warning"><i class="fa fa-btc"></i> {{bid.amount}}</span>
                        </div>
                        <div ng-show="bidOptions.limitTotal">
                            希望花费<span class="badge badge-warning"><i class="fa fa-cny"></i> {{bid.total}}</span>
                        </div>
                        <div ng-show="!bidOptions.limitTotal">
                            最多花费<span class="badge badge-info"><i class="fa fa-cny"></i> {{info.fundingLocked}}</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="">{{info.bidMessage}}</span>
                    </div>

                    <div class="row_100 clearfix" style="margin-top: 20px;">
                        <button class="button full_width button_buy" ng-click="addBidOrder()" ><i class="fa fa-shopping-cart"></i> {{info.bidButtonLabel}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="limit_buy_sell_box ">
            <div class="box_title">卖出BTC</div>
            <div class="box_subtitle">
                <!--冻结数量-->
                <!--<span class="badge badge-info">{{info.quantityLocked}}</span>-->
                <!--可用数量-->
                <!--<span class="badge badge-info link" ng-click="clickQuantity(info.quantityRemaining)">{{info.quantityRemaining}}</span>-->
                总数量
                <span class="badge badge-info link" ng-click="clickQuantity(account.BTC)">{{account.BTC}}</span>
                <a href="" ng-show="askOptions.advanced" ng-click="askOptions.advanced=false">回到普通模式</a>
                <a href="" ng-show="!askOptions.advanced" ng-click="askOptions.advanced=true">进入高级模式</a>
            </div>
            <div class="box clearfix">
                <form name="askForm" class="form-sell">
                    <div class="row_100 clearfix">
                        <div class="input-group">
                            <span class="input-group-addon">价格 <i class="fa fa-cny"></i></span>
                            <input type="number" ng-disabled="!askOptions.limitPrice" class="form-control" ng-model="ask.price" />
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitPrice" ng-click="ask.price=0"/>
                          </span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">数量 <i class="fa fa-btc"></i></span>
                            <input type="number" ng-disabled="!askOptions.limitAmount" class="form-control" ng-model="ask.amount" min="0" />
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitAmount" ng-click="ask.amount=0"/>
                          </span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">金额 <i class="fa fa-cny"></i></span>
                            <input type="number" ng-disabled="!askOptions.limitTotal" class="form-control" ng-model="ask.total"/>
                          <span class="input-group-addon" ng-show="askOptions.advanced">
                            <input type="checkbox" class="" ng-model="askOptions.limitTotal"/>
                          </span>
                        </div>
                    </div>
                    <div ng-show="askOptions.advanced">
                        <div ng-show="!askOptions.limitPrice">
                            以<span class="badge badge-info">任意价格</span>
                        </div>
                        <div ng-show="askOptions.limitPrice">
                            以最低<span class="badge badge-warning"><i class="fa fa-cny"></i> {{ask.price}}</span>价格
                        </div>
                        <div ng-show="!askOptions.limitAmount">
                             卖出<span class="badge badge-info">尽可能多</span>
                        </div>
                        <div ng-show="askOptions.limitAmount">
                             卖出<span class="badge badge-warning"><i class="fa fa-btc"></i> {{ask.amount}}</span>
                        </div>
                        <div ng-show="askOptions.limitTotal">
                            最多收入<span class="badge badge-warning"><i class="fa fa-cny"></i> {{ask.total}}</span>
                        </div>
                        <div ng-show="!askOptions.limitTotal">
                            预计收入<span class="badge badge-info"><i class="fa fa-cny"></i> {{info.income}}</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="">{{info.askMessage}}</span>
                    </div>

                    <div class="row_100 clearfix" style="margin-top: 20px;">
                        <button class="button button_sell full_width" ng-click="addAskOrder()"><i class="fa fa-money"></i> {{info.askButtonLabel}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 transaction-box">
        <div class="row">
            <div ng-repeat="item in transactions" class="transaction-item" popover="{{item.taker|UID}}-{{item.maker|UID}}">
                <span class="title"><i class="fa fa-clock-o"></i> {{item.time | date:"MM-dd HH:mm:ss"}}</span>
                <span class="{{item.sell | txTypeClass}}">{{item.sell | txTypeText}}</span>
                <span class="price"><i class="fa fa-cny"></i> {{item.price | currency}}</span>
                <span class="amount"><i class="fa fa-btc"></i> {{item.amount | quantity}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="user-order-box">
    <table class="table table-condensed table-striped table-user-order">
        <thead>
        <tr>
            <th>id</th>
            <th>委托时间</th>
            <th>类型</th>
            <th>委托价</th>
            <th>委托量</th>
            <th>成交量</th>
            <th>剩余量</th>
            <th>总金额</th>
            <th>成交额</th>
            <th>剩余额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="order in orders | orderBy: ['-date', '-id']" class="">
            <td>
                {{order.id}}
            </td>
            <td>
                {{order.submitTime | date:"MM-dd HH:mm:ss"}}
            </td>
            <td class="{{order.type}}">
                {{order.operation | orderTypeText}}
            </td>
            <td class="{{order.type}}">
                {{order.price | currency}}
            </td>
            <td>
                {{order.amount | quantity}}
            </td>
            <td>
                {{order.finishedQuantity | quantity}}
            </td>
            <td>
                {{order.remainingQuantity | quantity}}
            </td>
            <td>
                {{order.total | currency}}
            </td>
            <td>
                {{order.finishedAmount | currency}}
            </td>
            <td>
                {{order.remainingAmount | currency}}
            </td>
            <td>
                <span class="badge badge-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span>
            </td>
            <td>
                <button ng-click="openTransaction(order)">详细</button>
                <button ng-show="order.status <= 1" ng-click="cancelOrder(order.id)">撤单</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<timer ng-show="true" interval="2000"/>