<div class="row">
    <h4><strong>{{currency}}</strong>充值</h4>
    <h4>重要提示：网站内测阶段，充值余额仅供测试之用</h4>
    <h4>当前余额：{{balance.available.display_short}} {{currency}}</h4>
    <h4>请将{{currency}}汇入您在本平台的地址:</h4>
    <div class="alert alert-success"><strong>1Au69GamgP2cLBG1SdXdVk4aeLn5Tx674R</strong></div>
</div>
<div class="row">
    <form class="form-horizontal" name="depositForm">
        <div class="form-group">
            <label class="control-label col-sm-3">虚拟{{currency}}充值数量</label>
            <div class="col-sm-6">
                <input type="number" name="amount" class="form-control" placeholder="数量" ng-model="depositData.amount"  required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button class="btn btn-block btn-success" ng-click="deposit()"><i class="glyphicon glyphicon-ok"></i> 充值</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-condensed ">
        <thead>
        <tr>
            <th>id</th>
            <th>提交时间</th>
            <th>更新时间</th>
            <th>金额</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="item in deposits | orderBy: ['-date', '-id']" class="">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.created | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.updated | date:"MM-dd HH:mm:ss"}}
            </td>
            <td>
                {{item.amount.display}}
            </td>
            <td>
                <span class="badge">{{item.status | depositStatusText}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination boundary-links="true" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadDeposits()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>