<h1>Complete Openness</h1>

<p>
    Coinport Exchange is the world's first crypto-currency exchange that features Complete Openness and Transparency without sacrificing user privacy. We define Complete Openness as the combination of:
</p>
<ol>
    <li>Open-sourced - our matching engine is open sourced on Github.</li>
    <li>Open-data - you can access all of our data (except user privacy data of course).</li>
    <li>Provable 100% Reserve - We keep 100% of your asset in our wallets.</li>
</ol>

<p>
    We call them the three factors of Complete Openness. Each of them will be explained below in more details. With Complete Openness, you can:
</p>
<ul>
    <li>verify Coinport Exchange keep your asset safe and never invest them for our own profit.</li>
    <li>verify each order was matched accurately and each transaction was created correctly.</li>
    <li>browse historical data of all users - orders, transactions, and more - online.</li>
    <li>download all history data of all users to perform various data analysis and verification.</li>
</ul>
<p>
    With Complete Openness, Coinport Exchange is the most open, transparent, and trustworthy crypto-currency exchange.
</p>

<h3>Open-sourced</h3>
<p>
    Our matching engine is hosted on github - <a href="https://github.com/coinport/backcore">https://github.com/coinport/backcore</a>. We are preparing to open-source it to you in July, 2014.
</p>
<p>
    We adopt event-sourced methodology for server development. This means our matching engine doesn't simply keep the system's current state - which is the approach most other exchanges take - but rather records each and every event ever occurred in the system and replay those events to compute state whenever necessary.
</p>
<p>
    The event-sourced approach enabled our platform to open both event data and state data (snapshots) to the public, and make it feasible to compute and verify our system's state against our claims at any given time.
</p>
<p>
    Although not designed for high frequent trading, our matching engine is memory based and indeed blazingly fast. Orders are submitted into markets and matched immediately as one single operation. This means once users get a non-error response, the order has already been processed and the results are final; there is no pending action for you to wait.
</p>

<h3>Open-data</h3>
<p>
    We open all but user privacy data to the public for various of verifications and analysis. Third-party developers can write program to verify our data match the behavior of our open-sourced server logic, to discover auto-trading bots, or to mine abnormal trading behaviors and users. We also reveal all crypto-currency addresses, used by our cold and hot wallets.
</p>
<p>
    Our opened data can be accessed in two ways. Data related to the current state of the system can be access online through our data browser (this is similar to the way Bitcoin data are browsed online using blockchain.info). Data related to historical states and events can be downloaded at <a href="/open#/opendata">http://www.coinport.com/open#/opendata</a>. Historical data become available at least every 30 minutes as JSON files (the delay may vary). To interpret these data, you need to read the data definition file in our public matching engine repository. We will provide a data specification and a design document to detail the modeling of our exchange soon.
</p>

<h3>Provable 100% Reserve</h3>
<p>
    We claim Coinport Exchange is a 100% reserve exchange - in no circumstances shall we invest your asset for any purpose. Our open-data program make it easy to prove our reserve claims. You can <a href="/open#/reserve">checkout our reserve stats online</a>, or download the latest coinport_snapshot_account_*.json file and check balances inside coldWalletAccount, hotWalletAccount, and aggregationAccount.
</p>
<p>
    Due to the fact that each crypto-currency has different confirmation time, and our exchange may also apply different deposit confirmation rules to each crypto-currency, 100% reserve doesn't imply you will always see 100% reserve ratio, sometimes the reserve ratio may drop below 100% and sometimes it may go slightly beyond 100%. What really matters is actually a running average.
</p>

<h1>Privacy</h1>
<p>
    We take user privacy very seriously, and we belive this doesn't conflict with open-data. All data that can be used to identifies a user in real life are excluded from our open-data program, such as email, phone numbers, physical addresses, nationality, age, national ids, etc - if we ever collect these data.
</p>
<p>
    In our opened data, each user is identified by a unique id, which are incremental and is not calculated based on the user's private information.
</p>

<h1>Bank Level Data Security</h1>
<p>
    Our exchange encrypts all data, including user private data and openned data, using AES-256, a powerful encryption algorithm used by many banks. Passwords are hashed in the browser first then encrypted using Bcrypt algorithm. We also encrypt all network traffic using SSL. These security measurements ensures your privacy is safe with us.
</p>

<h1>Contact Us</h1>
<p>
    If you have any questions or suggestions, feel free to write to us. Our email address is <a href="mailto: feedback@coinport.com">feedback@coinport.com</a>. Thank you.
</p>
