<h1>开放透明</h1>

<p>

币丰港是全球首家“全透明”的虚拟货币交易平台。我们对“全透明”的定义包括以下三个方面：
</p>
<ol>
    <li>代码开源 - 交易匹配引擎的代码在github上全部开源。</li>
    <li>数据开放 - 用户可以看到除用户隐私数据外的所有数据。</li>
    <li>100%可证明准备金- 储备所有用户的全部资产，不对用户的资产进行任何再投资。</li>
</ol>

<p>
    在下文中我们将对“全透明”的上述三个方面进一步说明。在币丰港，基于“全透明”的理念，您可以：
</p>
<ul>
    <li>验证我们的储备金的确是100%的，您随时可以提现。实际上即使所有用户同时提现，我们也将能满足。</li>
    <li>验证每个委单都被正确处理和匹配，检验每笔交易的计算都精确无误。</li>
    <li>在线浏览我们的开放数据，包括，但不限于，每个用户的充值提现记录，下单撤单记录，交易记录，账户余额等。</li>
    <li>下载历史数据进行数据分析和验证。</li>
</ul>
<p>
    凭借“全透明”理念，币丰港是全球最开放，透明，最值得信赖的虚拟货币交易平台。
 </p>

<h3>代码开源</h3>
<p>
    我们的交易匹配引擎是github上的一个项目：<a href="https://github.com/coinport/backcore">https://github.com/coinport/backcore</a>. 现在我们正在做代码整理工作，我们将在2014年7月份把它完全开源给大家。
</p>
<p>
    币丰港匹配引擎采用了事件溯源（Event-sourced）的方式来开发。这意味着我们的系统不仅仅保留系统的当前状态 - 这是绝大多数其他交易所的方案 - 我们还保留系统中发生的每一个事件（Event），并永久保留这些事件。基于这些事件，系统可以计算出任何一个历史时刻的状态。
</p>
<p>
    事件溯源是开放数据的基础和灵魂。我们开放事件数据和快照数据给，用户可以用这些数据验证我们的各种声明（比如某个时刻的保证金比例）。
</p>
<p>
    我们的系统并非为高频交易而设计，但核心代码都是基于内存做数据处理，因此系统反应非常快。同时我们系统保证用户的委单一旦被系统接收便会立刻进行匹配，中间没有任何可以插队操作的可能。当用户接到下单成功通知后，系统已经将该订单进行了匹配，用户无需任何等待。
</p>

<h3>数据开放</h3>
<p>
    我们开放除用户隐私外的所有数据供您进行各种分析和验证。第三方开发者可以用程序验证我们匹配引擎的逻辑和正确性，甄别那些看起来像是机器人的用户，或者用来发现系统的某些异常。总之，有了这些开放数据，我们的用户可以做许多在其他平台无法想象的事情。
</p>

<p>
    开放的数据分为三大类，第一类是事件数据，第二类是快照数据，第三类是我们虚拟货币冷热钱包地址。事件数据是原始的数据，包含了系统所有的信息。只基于事件数据就可以计算系统任何时刻的任何一个状态。快照数据是币丰港匹配引擎对事件处理的中间结果，也是供用户验证的目标数据。我们将永久保留所有事件数据，和最近一个月的快照数据（快照数据的大小会持续增长，因此无法永久保留）。
</p>
<p>
    许多数据可以在线浏览，比如关于用户数据，委单，交易数据等等。还有一些数据仅供下载，比如快照。对于可以下载的数据，我们后续会提供这些数据的规范。开发者可以基于这些规范对数据进行解析。
</p>

<h3>100%准备金</h3>
<p>
    币丰港向用户提供100%准备金证明。这意味着我们绝不会在任何情况下将用户的资产拿出去投资。我们的开放数据平台使得100%准备金证明可行。你可以<a href="/open#/reserve">在线查看我们的储备金情况</a>，或者下载我们的快照文件（coinport_snapshot_account_*.json）来检查其中coldWalletAccount，hotWalletAccount， 和aggregationAccount的现状。
</p>
<p>
    由于多种虚拟货币都有不同的确认时长，加上我们对不同货币可能有不同的确认数设定，您在查看我们准备金统计的时候，可能看到的数值有可能低于100%，也有可能略高与100%。请忽视这些差异，重要的是统计的一个均值情况。
</p>

<h1>隐私</h1>
<p>
    我们非常重视用户的隐私，而且相信保护隐私和数据开放并不矛盾。我们保证可以界定一个用户真实身份的数据都不会被开放出去，包括用户电子邮件，电话，地址，国籍，身份证号码，年龄等等。在开放大数据中，每个用户由一个唯一的ID标示，该ID是根据用户注册时间来决定，顺序增长的，并非由任何用户相关的隐私数据计算而来。
</p>
<h1>安全</h1>
<p>
    币丰港加密所有数据，包括开放数据和隐私数据。每个事件和快照都用AES算法进行加密（该算法被国际上许多银行用来加密数据），因此非常安全。我们的密码也通过Bcryt算法进行了加密，并且在传到服务器前在浏览器中进行过一次哈希计算。所有和币丰港服务器的数据传输也都是通过SSL进行了加密。
</p>

<h1>联系我们</h1>
<p>
    如果您有任何的疑问，意见，或者建议， 请发email给我们。我们的email地址是： <a href="mailto:exchange-support@coinport.com">exchange-support@coinport.com</a>。谢谢。
</p>
