<h1>Complete Openness</h1>

<p>
    Coinport Exchange is the world's first crypto-currency exchange that features Complete Openness and Transparency without sacrificing user privacy. We define Complete Openness as the combination of:
</p>
<ol>
    <li>Open-source - our server code is open sourced on Github.</li>
    <li>Provable Full Reserve - We keep 100% user asset.</li>
    <li>Open-data - our user can access all data (except user privacy data)</li>
</ol>

<p>
    We call them the three factors of Complete Openness. Each of them will be explained below in more details. With Complete Openness, our users can:
</p>
<ul>
    <li>verify our exchange keep all user's asset safe and never invest their asset for our own benefit.</li>
    <li>verify each order was matched properly and each transaction was created correctly.</li>
    <li>online browse all historical orders and transactions.</li>
    <li>download all history data to perform various verification and analysis.</li>
</ul>
<p>
    With Complete Openness, Coinport Exchange is the most transparent and trustworthy centralized crypto-currency exchange.
</p>

<h3>Open-sourced</h3>
<p>
    Our exchange's server code is hosted as a Github public repository: http://....
</p>
<p>
    We adopted event-sourced methodology for server development, meaning our system doesn't simply keep the system's current state - which is the approach most other exchanges take - but rather records each and every event ever occurred in the system and replay those events to compute state whenever necessary.
</p>
<p>
    The event-sourced approach enabled our platform to open both event data and state data to our users, and make it feasible to compute and verify our system's state against our claims at any given time.
</p>
<p>
    Although not designed for high frequent trading, our matching engine is memory based and indeed blazingly fast. Orders are submitted into markets and matched immediately as one single operation. This means once users get a non-error response, the order has already been processed and the results are final; there is no pending action to wait.
</p>

<h3>Open-data</h3>
<p>
    We open all but user privacy data to the public for various of verifications and analysis. Third-party developers can write program to verify our data match the behavior of our open-sourced server logic, to discover auto-trading bots, or to mine abnormal trading behaviors and users.
</p>
<p>
    Our opened data can be accessed in two ways. Data related to the current state of the system can be access online through our data browser (this is similar to the way Bitcoin data are browsed online using blockchain.info). Data related to historical states and events can be downloaded at http://dacexplorer.com/open#/download. Historical data become available at least every 30 minutes as JSON files (the delay may vary). To interpret these data, you need to read the data definition file in our public server repository. We will provide a data specification and a design document to detail the modeling of Coinport Exchange matching engine.
</p>

<h3>Provable full reserve</h3>
<p>
    We claim Coinport Exchange is a full reserve exchange - in no circumstances shall we invest our user's asset. Our opened data program make it very easy to prove our reserve. All you need to do is to download the latest coinport_snapshot_account_*.json file and check balances inside coldWalletAccount, hotWalletAccount, and aggregationAccount.
</p>
<p>
    Due to the fact that each crypto-currency has different confirmation time and our exchange may impose different deposit confirmation rules to each crypto-currency, full reserve doesn't imply users will always see 100% reserve, sometimes the reserve ratio (the amount we possess divided by the amount we shall possess) may drop below 100% and sometimes it may go slightly beyond 100%. What really matters is actually a running average, this number can be accessed online.
</p>

<h1>Privacy</h1>
<p>
    We take user privacy very seriously. All data that more or less identifies a user in real life are excluded from our open-data program, such as email, phone numbers, physical addresses, crypto-currency addresses, nationality, age, national ids, etc.
</p>
<p>
    In our opened data, all users are identified by their unique ids, which are incremental and has nothing to do with their private information.
</p>
<h1>Bank Level Data Security</h1>
<p>
    Our exchange encrypts all data, internal or opened, using AES, a powerful encryption algorithm used by many banks. Passwords are encrypted using Bcrypt algorithm for best security. We also encrypt all network traffic using SSL technology.
</p>
