    <h4>我的委托:</h4>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-condensed table-striped table-user-order">
            <thead>
            <tr>
                <th>订单ID</th>
                <th>委托时间</th>
                <th>类型</th>
                <th>委托价</th>
                <th>委托量</th>
                <th>成交量</th>
                <th>总金额</th>
                <th>成交额</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="order in orders | orderBy: ['-date', '-tid']" class="">
                <td>
                    <a href="/order/{{order.id}}">{{order.id}}</a>
                </td>
                <td>
                    {{order.submitTime | date:"MM-dd HH:mm:ss"}}
                </td>
                <td class="{{order.operation | orderTypeClass}}">
                    {{order.operation | orderTypeText}}
                </td>
                <td class="{{order.operation | orderTypeClass}}">
                    {{order.price | currency}}
                </td>
                <td>
                    {{order.amount | quantity}}
                </td>
                <td>
                    {{order.finishedQuantity | quantity}}
                </td>
                <td>
                    {{order.total | currency}}
                </td>
                <td>
                    {{order.finishedAmount | currency}}
                </td>
                <td>
                    <span class="badge badge-{{order.status | orderStatusClass}}">{{order.status | orderStatusText}}</span>
                </td>
                <td>
                    <button ng-show="order.status <= 1" ng-click="cancelOrder(order.id)">撤单</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>