    <h4>我的成交记录:</h4>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>成交时间</th>
                <th>成交价</th>
                <th>成交量</th>
                <th>总金额</th>
                <th>交易发起用户</th>
                <th>交易类型</th>
                <th>挂单用户</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in transactions">
                    <td><i class="fa fa-clock-o"></i> {{item.time | date:"yyyy-MM-dd HH:mm:ss.sss"}}</td>
                    <td><i class="fa fa-cny"></i> {{item.price | currency}}</td>
                    <td><i class="fa fa-btc"></i> {{item.amount | quantity}}</td>
                    <td><i class="fa fa-cny"></i> {{item.total | currency}}</td>
                    <td>{{uid==item.taker ? '我' : (item.taker|UID)}}</td>
                    <td class="{{item.sell | txTypeClass}}">{{item.sell | txTypeText}} <i class="fa fa-lg {{item.sell | txTypeIcon}}"></i></td>
                    <td>{{uid==item.maker ? '我' : (item.maker|UID)}}</td>
                </tr>
            </tbody>
        </table>
    </div>