// DO not use this generated css file, use 'index.css', 'open.css', etc.


@startup-basePath: "/startup/";

@import '../startup/flat-ui/less/variables.less';
@import '../startup/flat-ui/less/mixins.less';
@import '../startup/flat-ui/less/flat-ui.less';
@import '../startup/common-files/less/mixins.less';
@import '../startup/common-files/less/common.less';
@import '../startup/common-files/less/helper.less';
@import '../startup/common-files/less/navbar.less';


@import '../startup/ui-kit/ui-kit-header/less/header-2.less';
@import '../startup/ui-kit/ui-kit-header/less/header-3.less';

@import '../startup/ui-kit/ui-kit-footer/less/footer-4.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-6.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-11.less';

@import '../startup/ui-kit/ui-kit-projects/less/project-4.less';

@import '../startup/ui-kit/ui-kit-crew/less/crew-4.less';

@import '../startup/ui-kit/ui-kit-blog/less/blog-4.less';

@import '../startup/ui-kit/ui-kit-content/less/content-4.less';
@import '../startup/ui-kit/ui-kit-content/less/content-3.less';
@import '../startup/ui-kit/ui-kit-content/less/content-9.less';
@import '../startup/ui-kit/ui-kit-content/less/content-11.less';
@import '../startup/ui-kit/ui-kit-content/less/content-16.less';
@import '../startup/ui-kit/ui-kit-content/less/content-28.less';

@import '../startup/ui-kit/ui-kit-contacts/less/contact-3.less';


///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// NavBar

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.7;
}

.badge {min-width: 60px;}

.table > thead > tr > th {padding: 5px};
.table > tbody > tr > td {padding: 5px};

div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: @clouds;
}

div.page-wrapper {
    .bg-light;
    position: relative;
    &.bg-transparent {
        // If we don't like the  class="bg-turquoise" background in trade/account page, simple remove the next line.
        background-color: transparent;
    }
}

section.header-3-sub {
    padding-top: 0;
    padding-bottom: 40px;
}

div.container-main {
    padding-top: 40px;
    padding-bottom: 145px;

    @media (max-width: 768px) {
      padding-bottom: 300px;
    }
}

.table-responsive {
    overflow-x: scroll;
}

.header-3 {
    .navbar {
        .brand {
            color: @peter-river;
        }
        .nav > li > a {
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: bold;
            color: mix(@wet-asphalt, white, 70%);
            &.log-out-in {
                font-weight: 200;
                &:hover {color: @turquoise;}
            }
        }
    }
    sup {
        .text-warning;
        font-weight: 200;
        font-size: 15px;
        padding: 0px 3px;
    }
}

.nav-lang-ul {
    list-style-type: none;
    vertical-align: middle;
    position: fixed;
    //margin-right: -10px;
    margin-left: 10px;

    li {
        line-height: 24px;
        display: inline;

        img {
            width: 18px;
            height: 12px;
            margin: 3px;
            opacity: 0.3;
            &:hover {
                opacity: 1.0;
            }
        }
    }
}

// @media (max-width: 767px) {
//     .nav-lang-select-div {
//         display: inline;
//     }

//     .nav-lang-select {
//         vertical-align: middle;
//         margin-top: 28px;
//         //margin-left: 30px;
//         //margin-right: -120px;
//         border: none;
//     }
// }

// @media (min-width: 1200px) {
//     .nav-lang-select-div {
//         display: none;
//     }
// }

div.site-notification {
    width: 100%;
    padding: 0;
    margin: 0;
    .bg-warning;

    .notification-inner {
        .text-danger;
        width: 100%;
        padding: 40px;
    }
}

#vertical-nav {
    > li {
        &.active {
            .bg-firm;
            a {color: white};
            a:hover, a:focus {.bg-firm; }
        }
        a:hover, a:focus {
            .bg-turquoise;
            color: white;
        }
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/index'

div.home {
    section.content-16 {
        background: linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
        h3 {color: white;}
        .lead {color: @clouds;}
        padding: 0;
        margin: 0;
        min-height: 500px;
        @media (min-width: 1200px) {
            height: 100vh;
        }
        a {
            color: white;
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }

    section.header-3-sub {
        background-color: @belize-hole;
        color: white;
        padding-top: 100px;
        padding-bottom: 140px;

        h3 {color: white;}
        p {color: @clouds;}

    }
    section.content-4 {
        .bg-white;
        margin-top:0;
        padding-top: 0;
        i {padding-bottom: 40px;}
    }
    section.crew-4 {
        .bg-white;
        .photo-wrapper {.bg-belize-hole;}
        .members {
            .name {color: @belize-hole;}
            .member:hover .photo-wrapper {background: @peter-river;}
        }
    }
    section.contacts-3 {
        color: @asbestos;
        .links {border-bottom: 0;}
        a {color: @belize-hole;}
        a:hover {color: @peter-river;}
    }

    section.promote {
        .major {
            display: block;
            background-color: #35d0b5;
            padding: 46px;
            font-weight: 200;
            font-size: 40px;
            color: white;
            text-decoration: none;
            letter-spacing: -1px;
            text-align: center;
            &:hover {background-color: @alizarin;}
            margin-bottom: 80px;
            > a {
                color: white;
                &:hover,&:active {text-decoration: underline;}
            }
        }
    }

    div.container-main {
        padding-bottom: 45px;

        @media (max-width: 768px) {
          padding-bottom: 200px;
        }
    }

}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/trade'

div.trade {
    .table > thead > tr > th {padding: 5px};
    .table > tbody > tr > td {padding: 5px};
    .table-borderless > tbody > tr > td {border: none; padding: 3px;};
    tbody {color: @midnight-blue;}
    section.header-3-sub {
        .has-sell-buy-color();
        .silver-h4;
        padding-bottom: 10px;
    }

    .first {margin-top: -45px; }

    .depth-box, .candle-chart {min-height: 340px; }
    .op-box, .txs-box {min-height: 450px; }
    .btn-xs {padding: 0 10px;}
    .box {
        background-color: white;
        padding: 10px;
        .border-radius(4px);
        box-shadow: 0 1px 1px 0 #cbcbcb;
    }

    .depth-box { tr {cursor: pointer;}}
    .txs-box {
        a {
            color: @silver;
            &:hover {color: @link-hover-color;}
        }
    }
    .nav-tabs {
        margin-bottom: 5px;
    }
    .tab-content {
        border-width: 0;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .latest-price {
        font-size: 20px;
        font-weight: 40;
    }
    .bottom-right-more {
        position: absolute;
        bottom: 0;
        padding: 15px 40px 15px 15px;
        width: 100%;
        text-align: right;

        a.icon {
            padding: 10px;
            color: @silver;
            &:hover {color: @link-hover-color;}
        }
    }
    .user-order-box {
        padding-bottom: 40px;
    }
    .box-inner {padding: 10px;}

    // Op boxes
    div.op-box-wrapper {
        div.op-box {
            .available-fund {cursor: pointer;}
            .input-group {
                margin-bottom: 2px;
            }
            .input-group-addon {
                border-width: 1px;
                color: white;
                width: 75px;
                border-radius: 0;
            }
            input {
                border-width: 1px;
                text-align: right;
                padding-right: 20px;
                font-weight: bold;
            }

            button.btn-sell, button.btn-buy {
                background-color: @concrete;
            }

            .input-group {
                .input-group-addon {
                    border-color: @concrete;
                    background-color: @concrete;
                }
                input {
                    border-color: @concrete;
                    color: @concrete;
                }
            }

            .alert {opacity: 0.5;}

            .input-group-advanced {
                .input-group-addon {
                    border-color: @opbox-secondary-color;
                    background-color: @opbox-secondary-color;
                }
                input {
                    border-color: @opbox-secondary-color;
                    color: @opbox-secondary-color;

                    &:focus {
                        color: @opbox-secondary-color;
                        background-color: mix(@sun-flower, white, 20%);
                    }
                }
            }

            &:hover {
                button.btn-sell {
                    background-color: @sell-color-light;
                    &:hover {background-color: @sell-color};
                }
                button.btn-buy {
                    background-color: @buy-color-light;
                    &:hover {background-color: @buy-color};
                }

                .input-group {
                    .input-group-addon {
                        border-color: @opbox-primary-color;
                        background-color: @opbox-primary-color;
                    }
                    input {
                        border-color: @opbox-primary-color;
                        color: @opbox-primary-color;

                        &:focus {
                            color: @opbox-primary-color;
                            background-color: mix(@sun-flower, white, 20%);
                        }
                    }
                }
                .alert {opacity: 1.0;}

                .input-group-advanced {
                    .input-group-addon {
                        border-color: @opbox-secondary-color;
                        background-color: @opbox-secondary-color;
                    }
                    input {
                        border-color: @opbox-secondary-color;
                        color: @opbox-secondary-color;

                        &:focus {
                            color: @opbox-secondary-color;
                            background-color: mix(@sun-flower, white, 20%);
                        }
                    }
                }
            }

            .alert {
                padding: 10px;
                margin-top: 20px;
                border: none;
                min-height: 130px;
                .num {color: @opbox-primary-color;}
                .red {color: @brand-danger;}
            }
            button.btn-op {
                border-radius: 0;
                margin-top: 20px;
                margin-bottom: 10px;
                color: white;
                font-weight: bold;
                &:hover {color: white};
            }
            .form-control[disabled] {
                border-color: red;
            }
        }
    }

}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/open'

div.openness {
    .has-grey-table-header;
    .tab-content {
        border-width: 0;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
    }

    background-color: white;
    .header-3 .header-background {.bg-light; }
    section.content-3 {
        padding-top: 10px;
        padding-bottom: 50px;
        p {font-size: 13px;}

        .delimiter {
           margin-top: 40px;
           margin-bottom: 0px;
           padding: 0;
        }
    }

    section.projects-4 {
        background-color: #f2f2f1;
        padding-bottom: 40px;
        padding-top: 40px;
        .photo-wrapper {
            background-color: @concrete;
            color: white;
        }
        .nav-opensource {
            .photo-wrapper {
                &:hover, .active {.bg-alizarin; a {color: white;}}
            }
        }
        .nav-opendata {
            .photo-wrapper {
                &:hover, .active {.bg-sun-flower; a {color: white;}}
            }
        }
        .nav-reserve {
            .photo-wrapper {
                &:hover, .active {.bg-peter-river; a {color: white;}}
            }
        }
        .nav-connectivity {
            .photo-wrapper {
                &:hover, .active {.bg-turquoise; a {color: white;}}
            }
        }
    }

    .label { padding-left: 10px; padding-right: 10px; }

    footer.footer-11 {
        padding-top: 0;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for opendata browser views

div.opendata-browser {
    background-color: white;
    .header-3 .header-background {.bg-light; }
    div.opendata-data {
        .pagination {margin-left: 20px;}
        h3 {padding-bottom: 60px; padding-left: 20px;}
        .silver-h4;
        h4 {color: @turquoise; padding-left: 20px; padding-top: 40px;}
        tbody {color: @midnight-blue;}
        padding-top: 40px;

        a:hover {
            text-decoration: underline;
        }

        .has-sell-buy-color();
    }

    .has-grey-table-header;
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /account

div.account {
    .table > thead > tr > th {padding-right: 5px; padding-left: 5px;}
    .table > tbody > tr > td {padding-right: 5px; padding-left: 5px;}
    section.header-3-sub {
        .has-sell-buy-color();
        .silver-h4;
    }

    .leave-bottom-room {min-height: 600px;}
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for simple form page

div.login-page, div.forget-password, div.register {
    section.header-3-sub {
        padding-top: 80px;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /register
div.register-page {
    .register {
        color: #ffffff;
        position: relative;
    }

    @media (min-width: 768px) {
        .register-screen {
            .bg-turquoise;
            min-height: 473px;
            padding: 66px 199px 33px 306px;
        }
        .register-icon {
            left: 200px;
            position: absolute;
            top: 160px;
            width: 96px;
        }
        .register-form {
            background-color: #edeff1;
            padding: 24px 23px 20px;
            position: relative;
            border-radius: 6px;
        }
        .register-form:before {
            content: '';
            border-style: solid;
            border-width: 12px 12px 12px 0;
            border-color: transparent #edeff1 transparent transparent;
            height: 0;
            position: absolute;
            left: -10px;
            top: 90px;
            width: 0;
            -webkit-transform: rotate(360deg);
        }
    }

    @media (max-width: 767px) {
        .register-screen {
            .bg-turquoise;
            min-height: 473px;
        }
        .register-icon {
            margin-top: 80px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            left: 100px;
            position: static;
            width: 64px;
        }
        .register-form {
            background-color: #edeff1;
            padding: 24px 23px 20px;
            position: relative;
            border-radius: 6px;
        }
    }

    .register-icon > img {
        display: block;
        margin-bottom: 6px;
        width: 100%;
        margin-top: -40px;
    }
    .register-form .control-group {
        margin-bottom: 6px;
        position: relative;
    }
    .register-form .register-field {
        border-color: transparent;
        font-size: 17px;
        text-indent: 3px;
    }
    .register-form .register-field:focus {
        border-color: #1abc9c;
    }
    .register-form .register-field:focus + .register-field-icon {
        color: #1abc9c;
    }
    .register-form .register-field-icon {
        color: #bfc9ca;
        font-size: 16px;
        position: absolute;
        right: 15px;
        top: 10px;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }
    .register-link {
        color: #bfc9ca;
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: center;
    }

    div.nopaddingHorizontal {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    div.captcha {
        img {height: 42px;}
    }

    .terms {
        padding-right: 0px;
        padding-left: 3px;
        padding-bottom: 8px;
    }

}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /login

div.login-page {
    .login {
        color: #ffffff;
        position: relative;
    }

    @media (min-width: 768px) {
        .login-screen {
            .bg-turquoise;
            min-height: 473px;
            padding: 123px 199px 33px 306px;
        }
        .login-icon {
            left: 190px;
            position: absolute;
            top: 180px;
            width: 96px;
        }
        .login-form {
            background-color: #edeff1;
            padding: 24px 23px 20px;
            position: relative;
            border-radius: 6px;
        }

        .login-form:before {
            content: '';
            border-style: solid;
            border-width: 12px 12px 12px 0;
            border-color: transparent #edeff1 transparent transparent;
            height: 0;
            position: absolute;
            left: -10px;
            top: 50px;
            width: 0;
            -webkit-transform: rotate(360deg);
        }
    }

    @media (max-width: 767px) {
        .login-screen {
            .bg-turquoise;
            min-height: 473px;
        }

        .login-icon {
            margin-top: 80px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            left: 100px;
            position: static;
            width: 64px;
        }

        .login-form {
            background-color: #edeff1;
            padding: 24px 23px 20px;
            position: relative;
            border-radius: 6px;
        }
    }

    .login-icon > img {
        display: block;
        margin-bottom: 6px;
        width: 100%;
        margin-top: -40px;
    }

    .login-form .control-group {
        margin-bottom: 6px;
        position: relative;
    }
    .login-form .login-field {
        border-color: transparent;
        font-size: 17px;
        text-indent: 3px;
    }
    .login-form .login-field:focus {
        border-color: #1abc9c;
    }
    .login-form .login-field:focus + .login-field-icon {
        color: #1abc9c;
    }
    .login-form .login-field-icon {
        color: #bfc9ca;
        font-size: 16px;
        position: absolute;
        right: 15px;
        top: 10px;
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }
    .login-link {
        color: #3498db;
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: center;
    }

    a.login-link:hover {
        color: #16a085;
        //background-color: #ff0 ;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /prompt

div.prompt {
    .alert {
        padding: 60px;
        margin-top: 60px;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /account/settings

div.account-settings {
    .control-label {
        font-size: 14px;
        padding-top: 9px;
    }

    .form-control {
        font-size: 12px;
        line-height: 1.3;
    }

    input, select {
        border-color: #3498db;
        color: #3498db;
        border-width: 1px;
    }

    .has-error .control-label,
    .has-error .form-control {
        // color: #626F8B;
        // border-color: #626F8B;
        border-color: #3498db;
        color: #3498db;
    }

    .has-success .control-label,
    .has-success .form-control {
        color: #1abc9c;
        border-color: #1abc9c;
    }

    .has-error .form-control-feedback {
        color: #3498db;
    }

    .has-success .form-control-feedback {
        color: #1abc9c;
    }

    .form-control::-webkit-input-placeholder {
        color: #3498db;
    }

    .sendSmsBtn {
        border: none;
        border-radius: 2px;
    }

    .btn-account-settings {
        font-size: 14px;
    }
    
    .right-element {
        margin-top: 10px;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /privacy.html  and /terms.html
div.article-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h3, h4 {
        text-align: center;
    }
}

div.termofservice {
    pre {
        background-color: transparent;
        font-size: 13px;
        line-height: 1.4;
    }
}
