// DO not use this generated css file, use 'index.css', 'open.css', etc.


@startup-basePath: "/startup/";

@import '../startup/flat-ui/less/variables.less';
@import '../startup/flat-ui/less/mixins.less';
@import '../startup/flat-ui/less/flat-ui.less';
@import '../startup/common-files/less/mixins.less';
@import '../startup/common-files/less/common.less';
@import '../startup/common-files/less/helper.less';
@import '../startup/common-files/less/navbar.less';


@import '../startup/ui-kit/ui-kit-header/less/header-2.less';
@import '../startup/ui-kit/ui-kit-header/less/header-3.less';

@import '../startup/ui-kit/ui-kit-footer/less/footer-4.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-6.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-11.less';

@import '../startup/ui-kit/ui-kit-projects/less/project-4.less';

@import '../startup/ui-kit/ui-kit-content/less/content-4.less';
@import '../startup/ui-kit/ui-kit-content/less/content-3.less';
@import '../startup/ui-kit/ui-kit-content/less/content-9.less';
@import '../startup/ui-kit/ui-kit-content/less/content-11.less';
@import '../startup/ui-kit/ui-kit-content/less/content-16.less';

.has-sell-buy-color() {
    .sell {color: red;}
    .buy {color: green;}
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// NavBar
header.header-3 {
    ul.nav > li > a {
        text-transform: uppercase;
    }
}


///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/trade'

div.trade {
    tbody {color: @midnight-blue;}
    section.header-3-sub {
        padding-top: 40px;
        padding-bottom: 40px;
        .has-sell-buy-color();

        &.alt { background-color: white;}
    }

    .depth-box, .candle-chart {min-height: 340px; }
    .op-box .txs-box {min-height: 340px; }
    .btn-xs {padding: 0 10px;}
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/open'

div.openness {
    section.header-2-sub {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    section.content-3 {
        padding-top: 10px;

        .delimiter {
           margin-top: 40px;
           margin-bottom: 40px;
           padding: 0;
        }
    }

    footer.footer-11 {
        padding-top: 0;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for opendata browser views
div.opendata-browser {
    div.opendata-data {
        tbody {color: @midnight-blue;}
        padding-top: 40px;

        a:hover {
            text-decoration: underline;
        }

        .has-sell-buy-color();
    }
}
