// DO not use this generated css file, use 'index.css', 'open.css', etc.


@startup-basePath: "/startup/";

@import '../startup/flat-ui/less/variables.less';
@import '../startup/flat-ui/less/mixins.less';
@import '../startup/flat-ui/less/flat-ui.less';
@import '../startup/common-files/less/mixins.less';
@import '../startup/common-files/less/common.less';
@import '../startup/common-files/less/helper.less';
@import '../startup/common-files/less/navbar.less';


@import '../startup/ui-kit/ui-kit-header/less/header-2.less';
@import '../startup/ui-kit/ui-kit-header/less/header-3.less';

@import '../startup/ui-kit/ui-kit-footer/less/footer-4.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-6.less';
@import '../startup/ui-kit/ui-kit-footer/less/footer-11.less';

@import '../startup/ui-kit/ui-kit-projects/less/project-4.less';

@import '../startup/ui-kit/ui-kit-content/less/content-4.less';
@import '../startup/ui-kit/ui-kit-content/less/content-3.less';
@import '../startup/ui-kit/ui-kit-content/less/content-9.less';
@import '../startup/ui-kit/ui-kit-content/less/content-11.less';
@import '../startup/ui-kit/ui-kit-content/less/content-16.less';

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// NavBar
div.page-wrapper {
    .bg-light;
}

section.header-3-sub {
    padding-top: 0;
    padding-bottom: 40px;
}

div.container-main {
    padding-top: 40px;
    padding-bottom: 300px;
}

header.header-3 {
    .navbar ul.nav > li > a {
        text-transform: uppercase;
        letter-spacing: 0px;
    }
}

div.site-notification {
    width: 100%;
    padding: 0;
    margin: 0;
    .bg-warning;

    .notification-inner {
        .text-danger;
        width: 100%;
        padding: 40px;
    }
}

ul.nav-stacked {
    background-color: white;
    > li {
        &.active {
            .bg-firm;
           a {color: white};

        }
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/index'

div.home {
    section.content-16 {
        .bg-white;
    }
    section.header-3-sub {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    section.content-4 {
        .bg-light-green;
        p {color: white;}
    }
}
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/trade'

div.trade {
    .table > thead > tr > th {padding: 5px};
    .table > tbody > tr > td {padding: 5px}
    tbody {color: @midnight-blue;}
    section.header-3-sub {
        .has-sell-buy-color();
    }

    .first {margin-top: -45px; }

    .depth-box, .candle-chart {min-height: 340px; }
    .op-box, .txs-box {min-height: 340px; }
    .btn-xs {padding: 0 10px;}
    h4 {color: @silver;}
    .box {
        background-color: white;
        padding: 10px;
        .border-radius(4px);
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for '/open'

div.openness {
    section.content-3 {
        padding-top: 10px;

        .delimiter {
           margin-top: 40px;
           margin-bottom: 40px;
           padding: 0;
        }
    }

    footer.footer-11 {
        padding-top: 0;
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for opendata browser views
div.opendata-browser {
    div.opendata-data {
        tbody {color: @midnight-blue;}
        padding-top: 40px;

        a:hover {
            text-decoration: underline;
        }

        .has-sell-buy-color();
    }
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /account

div.account {
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for simple form page

div.login-page, div.forget-password, div.register {
    section.header-3-sub {
        padding-top: 80px;
    } 
}

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// CSS for /login

div.login-page {
    div.head-up {
        width: 100%;
        margin: 0;
        padding: 0;

        h4.message {
            padding: 30px;
            color: white;
            .bg-info;
        }
    }

    a.additional-link {
        padding-left: 20px;
    }

    div.error {
        .text-danger;
        padding: 20px;
    }
}

