//
// Mixins
//
// NOTE: Feel free to add your own here.
// -----------------------------------------------------

.has-grey-table-header {
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th  {
    background-color: #f2f3f4;
  }
}

.has-sell-buy-color() {
    .sell {color: @sell-color;}
    .buy {color: @buy-color;}
}

.bg-light {background-color: #f2f3f4;}
.bg-turquoise-light {background-color: fade(@turquoise, 30%);}
.bg-mid-night-blue {background-color: #34495e;}

.color-orange {color: @orange;}
.color-pomegranate {color: @pomegranate;}
.color-belize-hole {color: @belize-hole;}

.silver-h4 {
	h4 {
		color: grey;
		text-transform: uppercase;
	}
}

.tab-content {
	border-width: 0;
}

div.light-bordered {
	border-style: solid;
    border-width: 0px 1px;
    border-color: #e7e8e9;
    border-style: solid;
}


.table-hover {
  > tbody {
    > tr.empty-table-indicator {
      > td {
        .user-select(none);
        padding: 30px;

        span {
          font-size: 30px;
          font-weight: lighter;
          text-align: center;
          color: #e2e3e4;
        }
        &:hover {.bg-light;}
      }
    }
  }
}

.stats-table {
    border-radius: 1px;
    box-shadow: 0 1px 1px 0 #cbcbcb;
    background-color: white;
}
/*
PUT THIS AT THE VERY END OF THIS FILE!!!!!!!!
Override bootstrap's default table-responsive class so it hide table when size is smaller than 1200px;
*/

@media (max-width: 1200px) {
  .table-responsive {
    width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}

