//
// Variables
//
// NOTE: Variables set in custom/less/variables.less will override variables
// set in less/variables.less, allowing you to keep your customizations in one
// place across upgrades.
// -----------------------------------------------------

// @body-bg: white;

//** Global textual link color.
@text-color:                @wet-asphalt;

@link-color:                @belize-hole;
@link-hover-color:          @peter-river;

@brand-secondary:           @peter-river;

@sell-color:  				mix(red, white, 75%);
@sell-color-light:  		mix(red, white, 60%);

@buy-color:  				mix(green, white, 75%);
@buy-color-light:  	    	mix(green, white, 60%);

@opbox-primary-color:       @peter-river;
@opbox-secondary-color: 	@turquoise;
